In [1]:
import pandas as pd

In [2]:
# Create dataframe for Alaska

csv_path = "AKSerial.csv"
AK_df = pd.read_csv(csv_path)
AK_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,167,"Bunday, Thomas Richard",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,191,"Carignan, Harvey Louis",NaN,100736.0,MN - Minnesota Correctional Facility Stillwater,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,278,"Courtney, Robert Lezelle",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,398,"Fautenberry, John Joseph",NaN,279989.0,NaN,Serial,1,1,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,589,"Hansen, Robert Christian",NaN,12882.0,AK - Spring Creek Correctional Center,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
AK_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Bunday, Thomas Richard",Serial,5,USA-United States,AK,1948.0,30.0,1979,1981,1900,1970,Enjoyment - Rape,NaN,NaN,1.0
1,"Carignan, Harvey Louis",Serial,5,USA-United States,MN / AK / WA,1927.0,46.0,1972,1974,1900,1970,Mental Illness - Visionary,1.0,1.0,1.0
2,"Courtney, Robert Lezelle",Serial,6,USA-United States,CA / AK,1944.0,13.0,1958,1992,1900,1950,Anger - Revenge,1.0,NaN,NaN
3,"Fautenberry, John Joseph",Serial,6,USA-United States,AK / OH / OR,1963.0,27.0,1990,1991,1900,1990,Financial Gain - Robbery - Random Street,1.0,1.0,1.0
4,"Hansen, Robert Christian",Serial,17,USA-United States,AK,1939.0,34.0,1973,1983,1900,1970,Enjoyment - Rape,1.0,1.0,0.0