In [1]:
import pandas as pd

In [2]:
# Create dataframe for Alabama

csv_path = "ALSerial.csv"
AL_df = pd.read_csv(csv_path)
AL_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,11,"Akin, Joseph Dewey",NaN,NaN,NaN,Serial,1.0,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
1,155,"Brown, Raymond Eugene",NaN,NaN,NaN,Serial,1.0,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,313,"Daughtrey, Earl Llewellyn, Jr.",NaN,NaN,NaN,Serial,1.0,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
3,346,"Doss, Nancy Hazle","Doss, Nanny; Hazle Nancy; Hazel, Nancy",NaN,NaN,Serial,2.0,1,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,409,"Glover, Fred",NaN,NaN,NaN,Serial,1.0,2,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
AL_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Akin, Joseph Dewey",Serial,18,USA-United States,AL / GA,NaN,35.0,1991.0,1997.0,1900.0,1990.0,Enjoyment - Power - Angel of Death,0.0,NaN,NaN
1,"Brown, Raymond Eugene",Serial,5,USA-United States,AL,1946.0,14.0,1960.0,1987.0,1900.0,1960.0,Anger - Lost Control,1.0,NaN,NaN
2,"Daughtrey, Earl Llewellyn, Jr.",Serial,3,USA-United States,AL / GA,1950.0,22.0,1971.0,1985.0,1900.0,1970.0,Enjoyment - No rape,1.0,NaN,NaN
3,"Doss, Nancy Hazle",Serial,11,USA-United States,OK / NC / KS / AL,1905.0,18.0,1927.0,1954.0,1900.0,1920.0,Financial Gain - Black Widow,0.0,1.0,1.0
4,"Glover, Fred",Serial,15,USA-United States,AL,NaN,NaN,1919.0,1923.0,1900.0,1910.0,Financial Gain - Robbery - Retail,NaN,NaN,NaN