In [1]:
import pandas as pd

In [2]:
# Create dataframe for Arkansas

csv_path = "ARSerial.csv"
AR_df = pd.read_csv(csv_path, encoding = "ISO-8859-1" )
AR_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,166,"Bullock, Leroy",NaN,00143727,TN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,291,"Cream, Thomas Neill Dr.",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,335,"Denton, Earl Van",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,537,"Hall, James Waybern",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,561,"Olson, Devon Stuart",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN

In [3]:
AR_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Bullock, Leroy",Serial,7,USA-United States,AR / TN / VA,1943.0,44.0,1988.0,1989.0,1900.0,1980.0,Financial Gain - Robbery - Home Invasion,NaN,NaN,NaN
1,"Cream, Thomas Neill Dr.",Serial,7,"CAN-Canada, USA-United States, ENG-England",Ontario / IL / London,1850.0,27.0,1877.0,1892.0,1800.0,1870.0,Enjoyment - No rape,1.0,0.0,0.0
2,"Denton, Earl Van",Serial,6,USA-United States,AR,NaN,27.0,NaN,1977.0,1900.0,NaN,Enjoyment - No rape,NaN,NaN,NaN
3,"Hall, James Waybern",Serial,5,USA-United States,AR,NaN,38.0,1944.0,1945.0,1900.0,1940.0,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
4,"Olson, Devon Stuart",Serial,4,USA-United States,CA / TX / AR,1958.0,27.0,1986.0,1986.0,1900.0,1980.0,Enjoyment - No rape,1.0,NaN,NaN