In [1]:
import pandas as pd

In [2]:
# Create dataframe for Californa

csv_path = "CAserial5ormore.csv"
CA_df = pd.read_csv(csv_path)
CA_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,14,"Alcala, Rodney James",NaN,C18300,CA - San Quentin,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,25.0,NaN,NaN,NaN,NaN,NaN
1,25,"Anderson, Allen Leroy",NaN,101147,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,36,"Archerd, William Dale",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,49,"Atkins, Susan",NaN,WO8304,CA,Serial,2,1,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,856,NaN,NaN
4,91,"Bianchi, Kenneth A.","Walker, Steve; Billy; Ish; DAmato, Anthony A.;...",266961,WA - Washington State Penitentiary,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,170,NaN,NaN

In [3]:
CA_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Alcala, Rodney James",Serial,8,USA-United States,CA / NY,1943.0,27.0,1971.0,1979.0,1900.0,1970.0,Enjoyment - Rape,1.0,0.0,0.0
1,"Anderson, Allen Leroy",Serial,8,USA-United States,CA / FL / MN / VA,1943.0,33.0,1976.0,1976.0,1900.0,1970.0,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
2,"Archerd, William Dale",Serial,6,USA-United States,CA / NV,1912.0,35.0,1947.0,1966.0,1900.0,1940.0,Enjoyment - Power - Bluebeard,1.0,NaN,NaN
3,"Atkins, Susan",Serial,8,USA-United States,CA,1948.0,21.0,1969.0,1969.0,1900.0,1960.0,Cult,1.0,NaN,NaN
4,"Bianchi, Kenneth A.",Serial,12,USA-United States,CA / WA,1951.0,26.0,1977.0,1979.0,1900.0,1970.0,Enjoyment - Rape,0.0,0.0,1.0