In [1]:
import pandas as pd

In [2]:
# Create dataframe for Californa

csv_path = "CAserial5ormore.csv"
CAserial5ormore_df = pd.read_csv(csv_path)
CAserial5ormore_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,14,"Alcala, Rodney James",NaN,C18300,CA - San Quentin,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,25.0,NaN,NaN,NaN,NaN,NaN
1,25,"Anderson, Allen Leroy",NaN,101147,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,36,"Archerd, William Dale",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,49,"Atkins, Susan",NaN,WO8304,CA,Serial,2,1,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,856,NaN,NaN
4,91,"Bianchi, Kenneth A.","Walker, Steve; Billy; Ish; DAmato, Anthony A.;...",266961,WA - Washington State Penitentiary,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,170,NaN,NaN