In [1]:
import pandas as pd

In [2]:
# Dataframe for Connecticut

csv_path = "CTSerial.csv"
CT_serial_df = pd.read_csv(csv_path)
CT_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,39,"Archer-Gilligan, Amy",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,133,"Breton, Robert, J. Sr.",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,196,"Carr, Robert Frederick, III",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,301,"Culombe, Arthur",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,1218.0,NaN,NaN
4,369,"Edel, Frederick W.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN