In [1]:
import pandas as pd

In [2]:
# Dataframe for Florida

csv_path = "FLASerial.csv"
FLA_serial_df = pd.read_csv(csv_path)
FLA_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,2,"Ables, Tony Alvin","THADAISIS GORDON, MICHAEL JONES, JAMES SELBEY","29850, 029850",FL - LAKE C.I.,Serial,1,2,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,25,"Anderson, Allen Leroy",NaN,101147,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,59,"Rode, Adolph James","Barone, Cesar",NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,44,NaN,NaN,NaN,NaN,NaN
3,77,"Bell, Larry Gene",NaN,39872,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,78,"Bell, Michael Bernard",NaN,108426,FL - UNION C.I.,Serial,1,2,0.0,0.0,...,0,0,0.0,0.0,"25,25,25",NaN,NaN,NaN,NaN,NaN