In [1]:
import pandas as pd

In [2]:
# Dataframe for Hawaii

csv_path = "HISerial.csv"
HI_df = pd.read_csv(csv_path)
HI_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,41,"Armstrong, John Eric",NaN,362407-2084912M,MI- Michigan Reformaory,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,6.0
1,1430,"Bartsch, Juergen",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1435,"Beck, Ernst Dieter",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1455,"Black, Robert",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1464,"Boost, Werner",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
HI_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Armstrong, John Eric",Serial,6,"USA-United States, HKG-Hong Kong, SGP-Singapor...",HI / VA / OR / MI / NC,1973.0,20.0,1992.0,2000.0,2000.0,1990.0,Enjoyment - Rape,0.0,1.0,1.0
1,"Bartsch, Juergen",Serial,4,DEU-Germany,North Rhine-Westphalia,1946.0,15.0,1962.0,1966.0,1900.0,1960.0,Enjoyment - Rape,0.0,NaN,NaN
2,"Beck, Ernst Dieter",Serial,3,DEU-Germany,North Rhine-Westphalia,1941.0,20.0,1961.0,1968.0,1900.0,1960.0,Enjoyment - Rape,NaN,NaN,NaN
3,"Black, Robert",Serial,5,"NIR-Northern Ireland, ENG-England, SCT-Scotland",East Midlands / Yorkshire and the Humber,1947.0,34.0,1978.0,1986.0,1900.0,1970.0,Enjoyment - Rape,1.0,1.0,1.0
4,"Boost, Werner",Serial,5,DEU-Germany,North Rhine-Westphalia,1928.0,24.0,1953.0,1956.0,1900.0,1950.0,Enjoyment - No rape,1.0,NaN,NaN