In [1]:
import pandas as pd

In [2]:
# Dataframe for Hawaii

csv_path = "HISerial.csv"
HI_serial_df = pd.read_csv(csv_path)
HI_serial_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,41,"Armstrong, John Eric",NaN,362407-2084912M,MI- Michigan Reformaory,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,6.0
1,1430,"Bartsch, Juergen",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1435,"Beck, Ernst Dieter",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1455,"Black, Robert",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1464,"Boost, Werner",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN