In [1]:
import pandas as pd

In [2]:
# Dataframe for Iowa

csv_path = "IASerial.csv"
IA_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
IA_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,521,"Nelson, Earle Leonard",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,582,"Jordan, Gilbert Paul",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,9,NaN,NaN,NaN,NaN,NaN
2,770,"Kinney, James Allen",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,996,"Piper, Donald Arthur",NaN,1153862.0,IA - Iowa State Penitentiary,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1026,"Race, Glen Douglas",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
IA_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Nelson, Earle Leonard",Serial,26,"USA-United States, CAN-Canada",CA / OR / WA / IL / IA / MI / MO,1897.0,28.0,1925.0,1927.0,1900.0,1920.0,Enjoyment - Rape,1.0,1.0,0.0
1,"Jordan, Gilbert Paul",Serial,8,CAN-Canada,British Columbia,1931.0,33.0,1965.0,1987.0,1900.0,1960.0,Enjoyment,1.0,NaN,NaN
2,"Kinney, James Allen",Serial,3,USA-United States,WA / MI / IA,1949.0,48.0,1997.0,1998.0,1900.0,1990.0,Enjoyment - Rape,NaN,NaN,1.0
3,"Piper, Donald Arthur",Serial,3,USA-United States,IA,1961.0,32.0,1993.0,1997.0,1900.0,1990.0,Enjoyment - Rape,NaN,NaN,NaN
4,"Race, Glen Douglas",Serial,3,"USA-United States, CAN-Canada",NY / Nova Scotia,1981.0,25.0,2007.0,2007.0,2000.0,2000.0,Multiple motives,NaN,NaN,NaN