In [1]:
import pandas as pd

In [2]:
# Dataframe for Kansas

csv_path = "KSSerial.csv"
KS_df = pd.read_csv(csv_path)
KS_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,128,"Braun, Gregg Francis",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,346,"Doss, Nancy Hazle","Doss, Nanny; Hazle Nancy; Hazel, Nancy",NaN,NaN,Serial,2,1.0,0.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,425,"Floyd, Cecil Henry",NaN,5271.0,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,523,"Nemechek, Francis Donald",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,525,"Guatney, William J.",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN

In [3]:
KS_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Braun, Gregg Francis",Serial,5,USA-United States,OK / KS / TX / NM,1961.0,27.0,1989.0,1989.0,1900.0,1980.0,Financial Gain - Robbery - Retail,NaN,NaN,NaN
1,"Doss, Nancy Hazle",Serial,11,USA-United States,OK / NC / KS / AL,1905.0,18.0,1927.0,1954.0,1900.0,1920.0,Financial Gain - Black Widow,0.0,1.0,1.0
2,"Floyd, Cecil Henry",Serial,6,USA-United States,IN / KS / NV / FL,1941.0,31.0,1973.0,1974.0,1900.0,1970.0,Financial Gain - Robbery - Retail,1.0,NaN,NaN
3,"Nemechek, Francis Donald",Serial,5,USA-United States,KS,1950.0,24.0,1974.0,1976.0,1900.0,1970.0,Anger - Revenge,1.0,NaN,NaN
4,"Guatney, William J.",Serial,5,USA-United States,NE / KS / IL,1922.0,52.0,1975.0,1979.0,1900.0,1970.0,Enjoyment - Rape,NaN,NaN,NaN