In [1]:
import pandas as pd

In [2]:
# Dataframe for Louisiana

csv_path = "LAserial.csv"
LA_df = pd.read_csv(csv_path)
LA_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,105,"Blank, Daniel Joseph",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,122,"Boyd, Lucious",NaN,NaN,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
2,146,"Brooks, John",NaN,120387,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,187,"Canonico, Frank Anthony",NaN,083805,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,241,"Code, Nathaniel Robert Jr.",NaN,NaN,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
LA_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Blank, Daniel Joseph",Serial,6,USA-United States,LA,1962.0,34.0,1996.0,1997.0,1900.0,1990.0,Financial Gain - Robbery - Home Invasion,0.0,NaN,NaN
1,"Boyd, Lucious",Serial,3,USA-United States,FL / LA,1959.0,38.0,1993.0,1999.0,1900.0,1990.0,Enjoyment - Rape,1.0,NaN,NaN
2,"Brooks, John",Serial,9,USA-United States,LA,1966.0,20.0,1986.0,1986.0,1900.0,1980.0,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
3,"Canonico, Frank Anthony",Serial,8,USA-United States,FL / CA / LA / AZ,1938.0,40.0,1979.0,1981.0,1900.0,1970.0,Anger - Missionary - Loose women,1.0,NaN,NaN
4,"Code, Nathaniel Robert Jr.",Serial,12,USA-United States,LA,1956.0,28.0,1984.0,1987.0,1900.0,1980.0,Enjoyment - No rape,1.0,NaN,NaN