In [1]:
import pandas as pd

In [2]:
# Dataframe for Massachusetts

csv_path = "MASerial.csv"
MA_df = pd.read_csv(csv_path)
MA_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,275,"Costa, Antone Charles","Costa, Tony",NaN,NaN,Serial,1.0,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,318,"Davis, Bruce Alan",NaN,NaN,NaN,Serial,1.0,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,336,"DeSalvo, Albert Henry",NaN,NaN,NaN,Serial,1.0,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,350,"Drew, Carl H.",NaN,NaN,NaN,Serial,1.0,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,461,"Gaynor, Alfred J.",NaN,W68126,NaN,Serial,1.0,2,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
MA_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Costa, Antone Charles",Serial,7,USA-United States,MA,1944.0,23.0,1968.0,1969.0,1900.0,1960.0,Enjoyment - Rape,1.0,0.0,0.0
1,"Davis, Bruce Alan",Serial,33,USA-United States,IL / DC / NY / MD / MA / FL / NV / LA /...,1948.0,21.0,1969.0,1982.0,1900.0,1960.0,Enjoyment - No rape,1.0,NaN,NaN
2,"DeSalvo, Albert Henry",Serial,13,USA-United States,MA,1931.0,30.0,1962.0,1964.0,1900.0,1960.0,Enjoyment - Rape,1.0,1.0,1.0
3,"Drew, Carl H.",Serial,3,USA-United States,MA,1955.0,24.0,1979.0,1980.0,1900.0,1970.0,Cult,1.0,NaN,NaN
4,"Gaynor, Alfred J.",Serial,10,USA-United States,MA,1967.0,30.0,1995.0,1998.0,1900.0,1990.0,Enjoyment - Rape,NaN,NaN,NaN