In [1]:
import pandas as pd

In [2]:
# Dataframe for Maryland

csv_path = "MDSerial.csv"
MD_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
MD_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,111,"Bolding, Jane Francis",NaN,NaN,NaN,Serial,2,1.0,0.0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,2.0
1,120,"Bowles, Gary Ray","Whitfield, Timothy; Boles, Gary Ray; Bowles, M...",86158.0,FL - UNION C.I.,Serial,1,1.0,1.0,0,...,0,0,0,0,999,NaN,NaN,NaN,NaN,NaN
2,186,"Cannon, Martha Patricia","Cannon, Lucretia",NaN,NaN,Serial,2,1.0,0.0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,222,"Christenson, William Dean",NaN,NaN,NaN,Serial,1,1.0,1.0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,228,"Clark, Hadden I.",NaN,233181.0,NaN,Serial,1,1.0,1.0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
MD_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Bolding, Jane Francis",Serial,3,USA-United States,MD,NaN,26.0,1984,1984,1900,1980,Enjoyment - Power - Angel of Death,0.0,NaN,NaN
1,"Bowles, Gary Ray",Serial,6,USA-United States,FL / MD / GA,1962.0,32.0,1994,1994,1900,1990,Financial Gain - Robbery - Sexual relationship,1.0,1.0,1.0
2,"Cannon, Martha Patricia",Serial,4,USA-United States,MD,1783.0,19.0,1820,1824,1800,1820,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
3,"Christenson, William Dean",Serial,4,"USA-United States, CAN-Canada",PA / MD,NaN,36.0,1982,1983,1900,1980,Multiple motives,1.0,NaN,NaN
4,"Clark, Hadden I.",Serial,3,USA-United States,MD,1951.0,35.0,1986,1992,1900,1980,Enjoyment - Rape,1.0,1.0,1.0