In [1]:
import pandas as pd

In [2]:
# Dataframe for Michigan

csv_path = "MIserial.csv"
MI_df = pd.read_csv(csv_path)
MI_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,4,"Abuelazam, Elias","Eli, Elias Abullazam",842658,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,24,"Amos, Lowell Edwin",NaN,252661,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
2,41,"Armstrong, John Eric",NaN,362407-2084912M,MI- Michigan Reformaory,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,6.0
3,47,"Atkins, Benjamin",NaN,237134,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,73,"Beck, Martha",NaN,NaN,NaN,Serial,2.0,1.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,402.0,NaN,NaN

In [3]:
MI_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Abuelazam, Elias",Serial,5,USA-United States,MI / VA / OH,1976.0,33.0,2009.0,2010.0,2000.0,2000.0,Anger - Racial,0.0,NaN,NaN
1,"Amos, Lowell Edwin",Serial,4,USA-United States,MI / IN,1943.0,35.0,1979.0,1994.0,1900.0,1970.0,Enjoyment - Power - Bluebeard,0.0,NaN,NaN
2,"Armstrong, John Eric",Serial,6,"USA-United States, HKG-Hong Kong, SGP-Singapor...",HI / VA / OR / MI / NC,1973.0,20.0,1992.0,2000.0,2000.0,1990.0,Enjoyment - Rape,0.0,1.0,1.0
3,"Atkins, Benjamin",Serial,11,USA-United States,MI,1968.0,23.0,1991.0,1992.0,1900.0,1990.0,Anger - Missionary - Prostitutes,1.0,1.0,NaN
4,"Beck, Martha",Serial,5,USA-United States,MI / IL / NY,1920.0,27.0,1948.0,1949.0,1900.0,1940.0,Financial Gain - Robbery - Sexual relationship,1.0,1.0,1.0