In [1]:
import pandas as pd

In [2]:
# Dataframe for Minnesota

csv_path = "MNserial.csv"
MN_df = pd.read_csv(csv_path)
MN_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,25,"Anderson, Allen Leroy",NaN,101147.0,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,191,"Carignan, Harvey Louis",NaN,100736.0,MN - Minnesota Correctional Facility Stillwater,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,408,"Glaze, Billy Richard",NaN,NaN,NaN,Serial,1,5.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,642,"Hittle, Daniel Joe",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,810,"Lefthand, Michael Shane",NaN,162391.0,NaN,Serial,1,NaN,NaN,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
MN_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Anderson, Allen Leroy",Serial,8,USA-United States,CA / FL / MN / VA,1943.0,33.0,1976,1976,1900,1970,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
1,"Carignan, Harvey Louis",Serial,5,USA-United States,MN / AK / WA,1927.0,46.0,1972,1974,1900,1970,Mental Illness - Visionary,1.0,1.0,1.0
2,"Glaze, Billy Richard",Serial,4,USA-United States,MN,1944.0,33.0,1986,1987,1900,1980,Enjoyment - Rape,1.0,NaN,NaN
3,"Hittle, Daniel Joe",Serial,7,USA-United States,TX / MN,1950.0,23.0,1973,1989,1900,1970,Anger - Revenge,1.0,NaN,NaN
4,"Lefthand, Michael Shane",Serial,3,USA-United States,MN / ND / WI,1960.0,25.0,1985,1990,1900,1980,Enjoyment,NaN,NaN,NaN