In [2]:
import pandas as pd
from functools import reduce
import numpy
import string
import math
import matplotlib.pyplot as plt

In [3]:
# Create dataframe for Alaska

csv_path = "AKserial.csv"
AK_df = pd.read_csv(csv_path)
AK_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,167,"Bunday, Thomas Richard",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,191,"Carignan, Harvey Louis",NaN,100736.0,MN - Minnesota Correctional Facility Stillwater,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,278,"Courtney, Robert Lezelle",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,398,"Fautenberry, John Joseph",NaN,279989.0,NaN,Serial,1,1,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,589,"Hansen, Robert Christian",NaN,12882.0,AK - Spring Creek Correctional Center,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5,898,"Meach, Charles L., III",NaN,NaN,AK - Cook Inlet Jail,Serial,1,1,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
6,1433,Bayquni,NaN,NaN,NaN,Serial,1,4,0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7,1640,Girish,NaN,NaN,NaN,Serial,1,4,0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
8,1656,"Greb, Alexander",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9,2052,"Reddy, Umesh",NaN,NaN,NaN,Serial,1,4,0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10,2838,"Keyes, Israel",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0,1,0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN

In [4]:
AK_df.count()

ID                    11
Name                  11
Alias                  0
PrisonNum              3
PrisonState            3
KilrType              11
Sex                   11
Race                  11
WhiteMale             11
WhiteMale20s          11
NumVics               11
Kilcountry            11
Kilstate              11
KilCounty              7
KilCity                9
USYN                  11
birthyear              8
BirthDate             11
BirthPlace             6
Age1stKil              9
AgeLastKil             9
AgeGroup              11
MidLate20             11
DateFirst             11
DateFinal             11
VicCode               10
AamodtCode             9
AamodtType             9
Height                 1
Raised                 7
                      ..
YearsBtwnFirstLast    11
YearFirst             11
YearFinal             11
2010                  11
2000                  11
1990                  11
1980                  11
1970                  11
1960                  11
1950                  11
1940                  11
1930                  11
1920                  11
1910                  11
1900                  11
Century               11
DecStart              11
Notes                  2
Nickname               0
TeenVic                3
OtherTotem            11
2020                  11
BodyWater             11
BodySunk              11
YrsSent                0
DobbertPri             0
DobbertSec             0
PartnerID              0
KilrSubType            1
AttmpVics              0
Length: 180, dtype: int64

In [5]:
AK_df["Homestate"] = 'Alaska'
AK_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,167,"Bunday, Thomas Richard",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
1,191,"Carignan, Harvey Louis",NaN,100736.0,MN - Minnesota Correctional Facility Stillwater,Serial,1,1,1,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
2,278,"Courtney, Robert Lezelle",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
3,398,"Fautenberry, John Joseph",NaN,279989.0,NaN,Serial,1,1,1,1,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
4,589,"Hansen, Robert Christian",NaN,12882.0,AK - Spring Creek Correctional Center,Serial,1,1,1,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
5,898,"Meach, Charles L., III",NaN,NaN,AK - Cook Inlet Jail,Serial,1,1,1,1,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
6,1433,Bayquni,NaN,NaN,NaN,Serial,1,4,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
7,1640,Girish,NaN,NaN,NaN,Serial,1,4,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
8,1656,"Greb, Alexander",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
9,2052,"Reddy, Umesh",NaN,NaN,NaN,Serial,1,4,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
10,2838,"Keyes, Israel",NaN,NaN,NaN,Serial,1,1,1,1,...,0,1,0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN,Alaska

In [6]:
#df = AK_df.set_index("ID")
#df.head(20)

In [7]:
# filtered columns

AK_df[["Homestate","Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Homestate,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,Alaska,"Bunday, Thomas Richard",Serial,5,USA-United States,AK,1948.0,30.0,1979,1981,1900,1970,Enjoyment - Rape,NaN,NaN,1.0
1,Alaska,"Carignan, Harvey Louis",Serial,5,USA-United States,MN / AK / WA,1927.0,46.0,1972,1974,1900,1970,Mental Illness - Visionary,1.0,1.0,1.0
2,Alaska,"Courtney, Robert Lezelle",Serial,6,USA-United States,CA / AK,1944.0,13.0,1958,1992,1900,1950,Anger - Revenge,1.0,NaN,NaN
3,Alaska,"Fautenberry, John Joseph",Serial,6,USA-United States,AK / OH / OR,1963.0,27.0,1990,1991,1900,1990,Financial Gain - Robbery - Random Street,1.0,1.0,1.0
4,Alaska,"Hansen, Robert Christian",Serial,17,USA-United States,AK,1939.0,34.0,1973,1983,1900,1970,Enjoyment - Rape,1.0,1.0,0.0

In [8]:
AK_df[["Name", "NumVics"]].head()

                       Name  NumVics
0    Bunday, Thomas Richard        5
1    Carignan, Harvey Louis        5
2  Courtney, Robert Lezelle        6
3  Fautenberry, John Joseph        6
4  Hansen, Robert Christian       17

In [9]:
# Create dataframe for Alabama

csv_path = "ALserial.csv"
AL_df = pd.read_csv(csv_path)
AL_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,11,"Akin, Joseph Dewey",NaN,NaN,NaN,Serial,1.0,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
1,155,"Brown, Raymond Eugene",NaN,NaN,NaN,Serial,1.0,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,313,"Daughtrey, Earl Llewellyn, Jr.",NaN,NaN,NaN,Serial,1.0,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
3,346,"Doss, Nancy Hazle","Doss, Nanny; Hazle Nancy; Hazel, Nancy",NaN,NaN,Serial,2.0,1,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,409,"Glover, Fred",NaN,NaN,NaN,Serial,1.0,2,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# filtered columns

AL_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Akin, Joseph Dewey",Serial,18,USA-United States,AL / GA,NaN,35.0,1991.0,1997.0,1900.0,1990.0,Enjoyment - Power - Angel of Death,0.0,NaN,NaN
1,"Brown, Raymond Eugene",Serial,5,USA-United States,AL,1946.0,14.0,1960.0,1987.0,1900.0,1960.0,Anger - Lost Control,1.0,NaN,NaN
2,"Daughtrey, Earl Llewellyn, Jr.",Serial,3,USA-United States,AL / GA,1950.0,22.0,1971.0,1985.0,1900.0,1970.0,Enjoyment - No rape,1.0,NaN,NaN
3,"Doss, Nancy Hazle",Serial,11,USA-United States,OK / NC / KS / AL,1905.0,18.0,1927.0,1954.0,1900.0,1920.0,Financial Gain - Black Widow,0.0,1.0,1.0
4,"Glover, Fred",Serial,15,USA-United States,AL,NaN,NaN,1919.0,1923.0,1900.0,1910.0,Financial Gain - Robbery - Retail,NaN,NaN,NaN

In [11]:
AL_df["Homestate"] = 'Alabama'
AL_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,11,"Akin, Joseph Dewey",NaN,NaN,NaN,Serial,1.0,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Alabama
1,155,"Brown, Raymond Eugene",NaN,NaN,NaN,Serial,1.0,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Alabama
2,313,"Daughtrey, Earl Llewellyn, Jr.",NaN,NaN,NaN,Serial,1.0,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Alabama
3,346,"Doss, Nancy Hazle","Doss, Nanny; Hazle Nancy; Hazel, Nancy",NaN,NaN,Serial,2.0,1,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Alabama
4,409,"Glover, Fred",NaN,NaN,NaN,Serial,1.0,2,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Alabama
5,417,"Goodin, Anthony J.",NaN,NaN,NaN,Serial,1.0,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Alabama
6,570,"Siebert, Daniel Lee",NaN,00Z475,NaN,Serial,1.0,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Alabama
7,574,"Britz, Jan Johannes",NaN,NaN,NaN,Serial,1.0,1,NaN,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Alabama
8,581,"Jordaan, Juan",NaN,NaN,NaN,Serial,1.0,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Alabama
9,638,"Hill, Walter",NaN,NaN,NaN,Serial,1.0,2,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Alabama
10,646,"Hodges, Willie James",NaN,NaN,NaN,Serial,1.0,2,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Alabama
11,655,"Howell, Michael Wayne",NaN,NaN,NaN,Serial,1.0,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Alabama
12,678,"Ivery, Samuel Lee",NaN,NaN,NaN,Serial,1.0,2,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Alabama
13,688,"Jackson, O`Delle","Jackson, ODelle",NaN,NaN,Serial,1.0,2,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,"690,719,1041",NaN,NaN,Alabama
14,690,"Jackson, Pearl",NaN,NaN,NaN,Serial,2.0,2,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,"688,719,1041",NaN,NaN,Alabama
15,719,"Johnson, Peyton",NaN,NaN,NaN,Serial,1.0,2,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,"688,690,1041",NaN,NaN,Alabama
16,731,"Jones, Jeremy Bryan",NaN,Z720,NaN,Serial,1.0,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Alabama
17,776,"Knowles, Paul John",NaN,NaN,NaN,Serial,1.0,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Alabama
18,808,"Lee, Derrick Todd",NaN,NaN,NaN,Serial,1.0,2,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Alabama
19,819,"Lewis, Gerald Patrick",NaN,Z668,NaN,Serial,1.0,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Alabama

In [12]:
AL_df[["Name", "NumVics"]].head()

                             Name  NumVics
0              Akin, Joseph Dewey       18
1           Brown, Raymond Eugene        5
2  Daughtrey, Earl Llewellyn, Jr.        3
3               Doss, Nancy Hazle       11
4                    Glover, Fred       15

In [13]:
# Create dataframe for Arizona

csv_path = "AZserial.csv"
AZ_df = pd.read_csv(csv_path)
AZ_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,187,"Canonico, Frank Anthony",NaN,083805,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,243,"Coffman, Cynthia Lynn",NaN,W34001,CA - CCWF,Serial,2,1,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,859,NaN,4.0
2,310,"Danielson, Robert Wayne Jr.",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,328,"Day, William Scott",NaN,00129461,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,352,"Dudley, Irene Gwyn",NaN,NaN,NaN,Serial,2,1,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,353,NaN,NaN

In [14]:
AZ_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Canonico, Frank Anthony",Serial,8,USA-United States,FL / CA / LA / AZ,1938.0,40.0,1979.0,1981,1900,1970.0,Anger - Missionary - Loose women,1.0,NaN,NaN
1,"Coffman, Cynthia Lynn",Serial,4,USA-United States,AZ / CA,1962.0,24.0,1986.0,1986,1900,1980.0,Financial Gain - Robbery - Random Street,NaN,NaN,NaN
2,"Danielson, Robert Wayne Jr.",Serial,7,USA-United States,OR / AZ / CA,1946.0,35.0,1970.0,1982,1900,1970.0,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
3,"Day, William Scott",Serial,6,USA-United States,AZ / TN / TX,1951.0,33.0,1986.0,1987,1900,1980.0,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
4,"Dudley, Irene Gwyn",Serial,6,USA-United States,VA / NY / FL / AZ / KY,1917.0,41.0,1958.0,1961,1900,1950.0,Convenience,NaN,NaN,NaN

In [15]:
AZ_df["Homestate"] = 'Arizona'
AZ_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,187,"Canonico, Frank Anthony",NaN,083805,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Arizona
1,243,"Coffman, Cynthia Lynn",NaN,W34001,CA - CCWF,Serial,2,1,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,859,NaN,4.0,Arizona
2,310,"Danielson, Robert Wayne Jr.",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Arizona
3,328,"Day, William Scott",NaN,00129461,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Arizona
4,352,"Dudley, Irene Gwyn",NaN,NaN,NaN,Serial,2,1,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,353,NaN,NaN,Arizona
5,353,"Dudley, Kenneth Edwin",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,352,NaN,NaN,Arizona
6,485,"Goudeau, Mark",NaN,083195,NaN,Serial,1,2,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Arizona
7,504,"Greenawalt, Randy",NaN,033088,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Arizona
8,508,"Gretzler, Douglas E.",NaN,036335,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Arizona
9,572,"Silveria, Robert Joseph",NaN,11298172,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Arizona
10,574,"Britz, Jan Johannes",NaN,NaN,NaN,Serial,1,1,NaN,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Arizona
11,581,"Jordaan, Juan",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Arizona
12,591,"Harding, Donald Eugene",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Arizona
13,608,"Hausner, Dale S.",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Arizona
14,664,"Hunt, David Scott",NaN,109305,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,807,NaN,NaN,Arizona
15,675,"Inmon, William",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,2631,NaN,NaN,Arizona
16,678,"Ivery, Samuel Lee",NaN,NaN,NaN,Serial,1,2,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Arizona
17,807,"Lee, Chad Alan",NaN,110783,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,664,NaN,NaN,Arizona
18,813,"Lehr, Scott Alan",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Arizona
19,853,"Malvo, Lee Boyd","Malvo, John Lee",1180834,NaN,Serial,1,2,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,954,NaN,NaN,Arizona

In [16]:
AZ_df[["Name", "NumVics"]].head()

                          Name  NumVics
0      Canonico, Frank Anthony        8
1        Coffman, Cynthia Lynn        4
2  Danielson, Robert Wayne Jr.        7
3           Day, William Scott        6
4           Dudley, Irene Gwyn        6

In [17]:
# Create dataframe for Arkansas

csv_path = "ARserial.csv"
AR_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
AR_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,166,"Bullock, Leroy",NaN,00143727,TN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,291,"Cream, Thomas Neill Dr.",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,335,"Denton, Earl Van",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,537,"Hall, James Waybern",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,561,"Olson, Devon Stuart",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN

In [18]:
AR_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Bullock, Leroy",Serial,7,USA-United States,AR / TN / VA,1943.0,44.0,1988.0,1989.0,1900.0,1980.0,Financial Gain - Robbery - Home Invasion,NaN,NaN,NaN
1,"Cream, Thomas Neill Dr.",Serial,7,"CAN-Canada, USA-United States, ENG-England",Ontario / IL / London,1850.0,27.0,1877.0,1892.0,1800.0,1870.0,Enjoyment - No rape,1.0,0.0,0.0
2,"Denton, Earl Van",Serial,6,USA-United States,AR,NaN,27.0,NaN,1977.0,1900.0,NaN,Enjoyment - No rape,NaN,NaN,NaN
3,"Hall, James Waybern",Serial,5,USA-United States,AR,NaN,38.0,1944.0,1945.0,1900.0,1940.0,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
4,"Olson, Devon Stuart",Serial,4,USA-United States,CA / TX / AR,1958.0,27.0,1986.0,1986.0,1900.0,1980.0,Enjoyment - No rape,1.0,NaN,NaN

In [19]:
AR_df["Homestate"] = 'Arkansas'
AR_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,166,"Bullock, Leroy",NaN,00143727,TN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Arkansas
1,291,"Cream, Thomas Neill Dr.",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Arkansas
2,335,"Denton, Earl Van",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Arkansas
3,537,"Hall, James Waybern",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Arkansas
4,561,"Olson, Devon Stuart",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN,Arkansas
5,579,"Johnson, Russell Maurice",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Arkansas
6,591,"Harding, Donald Eugene",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Arkansas
7,870,"Matajke, Dorothy Jean",NaN,NaN,NaN,Serial,2,1,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Arkansas
8,1019,"Pruett, Marion Albert",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Arkansas
9,1023,"Quinn, Jane Taylor",NaN,NaN,NaN,Serial,2,1,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Arkansas
10,1088,"Ronning, Michael",NaN,086738,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Arkansas
11,1166,"Smith, Mark Alan",NaN,C10587,IL - Pontiac Correctional,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Arkansas
12,1217,"Swindler, John Edward",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Arkansas
13,1268,"Tuggle, Debra Sue",NaN,NaN,NaN,Serial,2,2,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Arkansas
14,1294,"Wallace, George Kent",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Arkansas
15,1304,"Ward, Ronald James",NaN,2009194,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Arkansas
16,1343,"Williams, John Robert",NaN,67341,NaN,Serial,1,1,1.0,1.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Arkansas
17,1388,"Abel, Wolfgang",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,27,NaN,NaN,1617.0,NaN,NaN,Arkansas
18,1433,Bayquni,NaN,NaN,NaN,Serial,1,4,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Arkansas
19,1441,"Belloli, Giuseppe",NaN,NaN,NaN,Serial,1,1,1.0,NaN,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Arkansas

In [20]:
AR_df[["Name", "NumVics"]].head()

                      Name  NumVics
0           Bullock, Leroy        7
1  Cream, Thomas Neill Dr.        7
2         Denton, Earl Van        6
3      Hall, James Waybern        5
4      Olson, Devon Stuart        4

In [21]:
# Create dataframe for Californa

csv_path = "CAserial5ormore.csv"
CA_df = pd.read_csv(csv_path)
CA_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,14,"Alcala, Rodney James",NaN,C18300,CA - San Quentin,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,25.0,NaN,NaN,NaN,NaN,NaN
1,25,"Anderson, Allen Leroy",NaN,101147,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,36,"Archerd, William Dale",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,49,"Atkins, Susan",NaN,WO8304,CA,Serial,2,1,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,856,NaN,NaN
4,91,"Bianchi, Kenneth A.","Walker, Steve; Billy; Ish; DAmato, Anthony A.;...",266961,WA - Washington State Penitentiary,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,170,NaN,NaN

In [22]:
CA_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Alcala, Rodney James",Serial,8,USA-United States,CA / NY,1943.0,27.0,1971.0,1979.0,1900.0,1970.0,Enjoyment - Rape,1.0,0.0,0.0
1,"Anderson, Allen Leroy",Serial,8,USA-United States,CA / FL / MN / VA,1943.0,33.0,1976.0,1976.0,1900.0,1970.0,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
2,"Archerd, William Dale",Serial,6,USA-United States,CA / NV,1912.0,35.0,1947.0,1966.0,1900.0,1940.0,Enjoyment - Power - Bluebeard,1.0,NaN,NaN
3,"Atkins, Susan",Serial,8,USA-United States,CA,1948.0,21.0,1969.0,1969.0,1900.0,1960.0,Cult,1.0,NaN,NaN
4,"Bianchi, Kenneth A.",Serial,12,USA-United States,CA / WA,1951.0,26.0,1977.0,1979.0,1900.0,1970.0,Enjoyment - Rape,0.0,0.0,1.0

In [23]:
CA_df["Homestate"] = 'California'
CA_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,14,"Alcala, Rodney James",NaN,C18300,CA - San Quentin,Serial,1,1,1.0,1.0,...,0,0.0,0.0,25.0,NaN,NaN,NaN,NaN,NaN,California
1,25,"Anderson, Allen Leroy",NaN,101147,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,California
2,36,"Archerd, William Dale",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,California
3,49,"Atkins, Susan",NaN,WO8304,CA,Serial,2,1,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,856,NaN,NaN,California
4,91,"Bianchi, Kenneth A.","Walker, Steve; Billy; Ish; DAmato, Anthony A.;...",266961,WA - Washington State Penitentiary,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,170,NaN,NaN,California
5,100,"Bittaker, Lawrence",NaN,"C28400, C-28400",CA - San Quentin,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,California
6,115,"Bonin, William George",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,"180,916,3133",NaN,NaN,California
7,135,"Briggen, Joseph",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,California
8,169,"Bundy, Theodore Robert","Bundy, Ted",A069063,FL - Raiford,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,California
9,170,"Buono, Angelo",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,91,NaN,NaN,California
10,180,"Butts, Vernon",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,"115,180,916",NaN,NaN,California
11,187,"Canonico, Frank Anthony",NaN,083805,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,California
12,189,"Caputo, Ricardo",NaN,NaN,NaN,Serial,1,3,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,California
13,192,"Carpenter, David Joseph",NaN,C96500,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,California
14,203,"Carter, Dean Phillip",NaN,C97919,CA - San Quentin,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,California
15,214,"Chase, Richard Trenton",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,California
16,215,"Chavez, Juan",NaN,NaN,NaN,Serial,1,2,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,California
17,227,"Clark, Douglas Daniel",NaN,C63000,CA - San Quentin,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,168,NaN,NaN,California
18,236,"Cline, Alfred Leonard",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,California
19,246,"Cole, Carroll Edward",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,California

In [24]:
CA_df[["Name", "NumVics"]].head()

                    Name  NumVics
0   Alcala, Rodney James        8
1  Anderson, Allen Leroy        8
2  Archerd, William Dale        6
3          Atkins, Susan        8
4    Bianchi, Kenneth A.       12

In [25]:
# Create dataframe for Colorado

csv_path = "COserial.csv"
CO_df = pd.read_csv(csv_path)
CO_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,158,"Browne, Robert Charles",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,164,"Buenoano, Judias",NaN,NaN,NaN,Serial,2,1,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,169,"Bundy, Theodore Robert","Bundy, Ted",A069063,FL - Raiford,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,407,"Glatman, Harvey Murray",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,495,"Gray, Marvin",NaN,43475,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN

In [26]:
CO_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Browne, Robert Charles",Serial,8,USA-United States,CO,1952.0,27.0,1980.0,1991.0,1900.0,1980.0,Enjoyment - No rape,1.0,1.0,1.0
1,"Buenoano, Judias",Serial,3,USA-United States,FL / CO,1943.0,28.0,1971.0,1980.0,1900.0,1970.0,Financial Gain - Black Widow,1.0,1.0,1.0
2,"Bundy, Theodore Robert",Serial,31,USA-United States,CA / CO / FL / ID / OR / WA,1946.0,27.0,1974.0,1978.0,1900.0,1970.0,Enjoyment - Rape,1.0,0.0,0.0
3,"Glatman, Harvey Murray",Serial,3,USA-United States,CO / CA,1927.0,30.0,1957.0,1958.0,1900.0,1950.0,Enjoyment - Rape,1.0,0.0,0.0
4,"Gray, Marvin",Serial,5,USA-United States,CO,1954.0,21.0,1975.0,1992.0,1900.0,1970.0,Enjoyment - Power,1.0,1.0,NaN

In [27]:
CO_df["Homestate"] = 'Colorado'
CO_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,158,"Browne, Robert Charles",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Colorado
1,164,"Buenoano, Judias",NaN,NaN,NaN,Serial,2,1,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Colorado
2,169,"Bundy, Theodore Robert","Bundy, Ted",A069063,FL - Raiford,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Colorado
3,407,"Glatman, Harvey Murray",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Colorado
4,495,"Gray, Marvin",NaN,43475,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN,Colorado
5,504,"Greenawalt, Randy",NaN,033088,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Colorado
6,512,"Groves, Vincent Darrell",NaN,NaN,NaN,Serial,1,2,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Colorado
7,517,"Neal, William Lee",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Colorado
8,582,"Jordan, Gilbert Paul",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,9.0,NaN,NaN,NaN,NaN,NaN,Colorado
9,587,"Hanify, Sean Paul",NaN,97579,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN,Colorado
10,763,"Kimball, Scott",NaN,146998,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Colorado
11,800,"Latham, James Douglas",NaN,NaN,KS - Lansing Correctional Facility,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,1376,NaN,NaN,Colorado
12,824,"Lisemba, Raymond",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Colorado
13,837,"Luther, Thomas Edward",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Colorado
14,878,"McCormick, Michael Rexford",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Colorado
15,879,"McCormick, Thomas R.",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Colorado
16,880,"McCrary, Sherman Ramon",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,"1229,3115,3116",NaN,NaN,Colorado
17,914,"Middleton, David Stephen",NaN,55187,NaN,Serial,1,2,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Colorado
18,942,"Morin, Stephen Peter",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Colorado
19,1019,"Pruett, Marion Albert",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Colorado

In [28]:
CO_df[["Name", "NumVics"]].head()

                     Name  NumVics
0  Browne, Robert Charles        8
1        Buenoano, Judias        3
2  Bundy, Theodore Robert       31
3  Glatman, Harvey Murray        3
4            Gray, Marvin        5

In [29]:
# Create dataframe for Connecticut

csv_path = "CTserial.csv"
CT_df = pd.read_csv(csv_path)
CT_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,39,"Archer-Gilligan, Amy",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,133,"Breton, Robert, J. Sr.",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,196,"Carr, Robert Frederick, III",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,301,"Culombe, Arthur",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,1218.0,NaN,NaN
4,369,"Edel, Frederick W.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN

In [30]:
CT_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Archer-Gilligan, Amy",Serial,48,USA-United States,CT,1873.0,36.0,1907,1917,1900,1900,Financial Gain - Lethal Care Taker,1.0,0.0,0.0
1,"Breton, Robert, J. Sr.",Serial,3,USA-United States,CT,1946.0,20.0,1966,1987,1900,1960,Anger - Revenge,1.0,1.0,1.0
2,"Carr, Robert Frederick, III",Serial,4,USA-United States,FL / CT,NaN,29.0,1972,1976,1900,1970,Enjoyment - Rape,1.0,NaN,NaN
3,"Culombe, Arthur",Serial,6,USA-United States,CT,1923.0,33.0,1956,1957,1900,1950,Financial Gain - Robbery - Retail,1.0,NaN,NaN
4,"Edel, Frederick W.",Serial,3,USA-United States,CT / NY,NaN,37.0,1926,1927,1900,1920,Financial Gain - Robbery,1.0,NaN,NaN

In [31]:
CT_df["Homestate"] = 'Connecticut'
CT_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,39,"Archer-Gilligan, Amy",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Connecticut
1,133,"Breton, Robert, J. Sr.",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Connecticut
2,196,"Carr, Robert Frederick, III",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Connecticut
3,301,"Culombe, Arthur",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,1218.0,NaN,NaN,Connecticut
4,369,"Edel, Frederick W.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Connecticut
5,419,"Fischer, Joseph J.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Connecticut
6,699,"Jameswhite, Richard",NaN,812756.0,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Connecticut
7,701,"Jaspers, Virginia",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Connecticut
8,714,"Johnson, Matthew Steven",NaN,91492.0,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Connecticut
9,917,"Miller, Benjamin Franklin",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Connecticut
10,932,"Monahan, Annie F.",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Connecticut
11,972,"Panzram, Carl",NaN,33379.0,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Connecticut
12,978,"Paul, James Allen",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Connecticut
13,992,"Pierce, Charles E.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN,Connecticut
14,1091,"Ross, Michael Bruce",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Connecticut
15,1143,"Sherman, Lydia","Danbury, Lydia",NaN,CT,Serial,2,1,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Connecticut
16,1218,"Taborsky, Joseph L.",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Connecticut
17,1323,"Webb, Emanuel Lovell",NaN,348224.0,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Connecticut
18,1533,"Coombes, John Leslie",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Connecticut
19,1561,"Deeming, Frederick Bailey",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Connecticut

In [32]:
CT_df[["Name", "NumVics"]].head()

                          Name  NumVics
0         Archer-Gilligan, Amy       48
1       Breton, Robert, J. Sr.        3
2  Carr, Robert Frederick, III        4
3              Culombe, Arthur        6
4           Edel, Frederick W.        3

In [33]:
# Create dataframe for Delaware

csv_path = "DEserial.csv"
DE_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
DE_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,244,"Cohen, Charles Mark",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,663,"Hunt, Brian Alpress",NaN,775734.0,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,734,"Jones, Sydney",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,984,"Pennell, Steven Brian",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,1040,"Red Dog, James Allen",NaN,NaN,NaN,Serial,1,5,0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
DE_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Cohen, Charles Mark",Serial,3,USA-United States,DE / CA,1964.0,23.0,1988.0,1989.0,1900.0,1980.0,Multiple motives,0.0,0.0,0.0
1,"Hunt, Brian Alpress",Serial,4,USA-United States,FL / TN / DE,1949.0,42.0,1992.0,1999.0,1900.0,1990.0,Anger - Lost Control,1.0,NaN,NaN
2,"Jones, Sydney",Serial,13,USA-United States,USA Nationwide,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
3,"Pennell, Steven Brian",Serial,5,USA-United States,DE,1957.0,30.0,1987.0,1988.0,1900.0,1980.0,Enjoyment - No rape,NaN,0.0,0.0
4,"Red Dog, James Allen",Serial,4,USA-United States,DE / MT / CA,NaN,19.0,1973.0,1991.0,1900.0,1970.0,Anger,1.0,NaN,NaN

In [35]:
DE_df["Homestate"] = 'Delaware'
DE_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,244,"Cohen, Charles Mark",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Delaware
1,663,"Hunt, Brian Alpress",NaN,775734.0,NaN,Serial,1,1,1,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Delaware
2,734,"Jones, Sydney",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Delaware
3,984,"Pennell, Steven Brian",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Delaware
4,1040,"Red Dog, James Allen",NaN,NaN,NaN,Serial,1,5,0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Delaware
5,1398,"Alegre, Patrice",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Delaware
6,1401,"Allgen, Tomas Lars Dr.","Allgen, Thomas",NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,NaN,NaN,NaN,1675.0,NaN,NaN,Delaware
7,1466,"Bose, Reinhard",NaN,NaN,NaN,Serial,1,1,1,NaN,...,0,0,0,7.0,NaN,NaN,NaN,NaN,NaN,Delaware
8,1646,"Golovkin, Sergey Aleksandrovich",NaN,NaN,NaN,Serial,1,1,1,NaN,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Delaware
9,1722,"Ionosyan, Vladimir Mikhailovich",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Delaware
10,1760,"Koli, Surender",NaN,NaN,NaN,Serial,1,4,0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Delaware
11,1763,"Komaroff, Vasili Ivanovich","Komarov, Vasili Ivanovich",NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Delaware
12,1783,"Landru, Henri",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,11.0,Delaware
13,1794,"Lelievre, Andre",NaN,NaN,NaN,Serial,1,1,1,NaN,...,0,0,0,NaN,NaN,NaN,1795.0,NaN,NaN,Delaware
14,1795,"Lelievre, Yvette",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0,0,NaN,NaN,NaN,1794.0,NaN,NaN,Delaware
15,1896,"Monvoisin, Catherine Deshayes","Deshayes, Catherine; Montvoison, Catherine",NaN,NaN,Serial,2,1,0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,Serial-Historic,NaN,Delaware
16,1988,"Pandher, Moninder Singh",NaN,NaN,NaN,Serial,1,4,0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Delaware
17,2014,"Pichushkin, Alexander",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Delaware
18,2024,"Ryakhovsky, Sergei",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Delaware
19,2027,"Poehlke, Norbert Hans",NaN,NaN,NaN,Serial,1,1,1,NaN,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Delaware

In [36]:
DE_df[["Name", "NumVics"]].head()

                    Name  NumVics
0    Cohen, Charles Mark        3
1    Hunt, Brian Alpress        4
2          Jones, Sydney       13
3  Pennell, Steven Brian        5
4   Red Dog, James Allen        4

In [37]:
# Create dataframe for Florida

csv_path = "FLAserial.csv"
FL_df = pd.read_csv(csv_path)
FL_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,2,"Ables, Tony Alvin","THADAISIS GORDON, MICHAEL JONES, JAMES SELBEY","29850, 029850",FL - LAKE C.I.,Serial,1,2,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,25,"Anderson, Allen Leroy",NaN,101147,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,59,"Rode, Adolph James","Barone, Cesar",NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,44,NaN,NaN,NaN,NaN,NaN
3,77,"Bell, Larry Gene",NaN,39872,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,78,"Bell, Michael Bernard",NaN,108426,FL - UNION C.I.,Serial,1,2,0.0,0.0,...,0,0,0.0,0.0,"25,25,25",NaN,NaN,NaN,NaN,NaN

In [38]:
FL_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Ables, Tony Alvin",Serial,4,USA-United States,FL,1954.0,28.0,1970.0,1990.0,1900.0,1970.0,Enjoyment - Rape,1.0,NaN,NaN
1,"Anderson, Allen Leroy",Serial,8,USA-United States,CA / FL / MN / VA,1943.0,33.0,1976.0,1976.0,1900.0,1970.0,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
2,"Rode, Adolph James",Serial,5,USA-United States,OR / FL,1960.0,30.0,1979.0,1992.0,1900.0,1970.0,Enjoyment - Rape,1.0,0.0,0.0
3,"Bell, Larry Gene",Serial,3,USA-United States,SC / FL,1949.0,35.0,1984.0,1985.0,1900.0,1980.0,Enjoyment - Rape,1.0,NaN,NaN
4,"Bell, Michael Bernard",Serial,5,USA-United States,FL,1970.0,19.0,1989.0,1993.0,1900.0,1980.0,Anger,1.0,NaN,NaN

In [39]:
FL_df["Homestate"] = 'Florida'
AK_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,167,"Bunday, Thomas Richard",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
1,191,"Carignan, Harvey Louis",NaN,100736.0,MN - Minnesota Correctional Facility Stillwater,Serial,1,1,1,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
2,278,"Courtney, Robert Lezelle",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
3,398,"Fautenberry, John Joseph",NaN,279989.0,NaN,Serial,1,1,1,1,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
4,589,"Hansen, Robert Christian",NaN,12882.0,AK - Spring Creek Correctional Center,Serial,1,1,1,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
5,898,"Meach, Charles L., III",NaN,NaN,AK - Cook Inlet Jail,Serial,1,1,1,1,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
6,1433,Bayquni,NaN,NaN,NaN,Serial,1,4,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
7,1640,Girish,NaN,NaN,NaN,Serial,1,4,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
8,1656,"Greb, Alexander",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
9,2052,"Reddy, Umesh",NaN,NaN,NaN,Serial,1,4,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
10,2838,"Keyes, Israel",NaN,NaN,NaN,Serial,1,1,1,1,...,0,1,0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN,Alaska

In [40]:
FL_df[["Name", "NumVics"]].head()

                    Name  NumVics
0      Ables, Tony Alvin        4
1  Anderson, Allen Leroy        8
2     Rode, Adolph James        5
3       Bell, Larry Gene        3
4  Bell, Michael Bernard        5

In [41]:
# Create dataframe for Georgia

csv_path = "GAserial.csv"
GA_df = pd.read_csv(csv_path)
GA_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,11,"Akin, Joseph Dewey",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
1,15,"Allanson, Patricia Radcliffe","Taylor, Patricia; TAYLOR,MARY RADCLIFF; ALLISO...",0000394526,GA - Pulaski State Prison,Serial,2.0,1.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
2,54,"Bankston, Clinton",NaN,0000468785,GA - DOOLY STATE PRISON,Serial,1.0,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,75,"Belcher, Howard Milton",NaN,1076495,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,96,"Birt, Billy Sunday",NaN,403007,GA - SMITH STATE PRISON,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
GA_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Akin, Joseph Dewey",Serial,18.0,USA-United States,AL / GA,NaN,35.0,1991.0,1997.0,1900.0,1990.0,Enjoyment - Power - Angel of Death,0.0,NaN,NaN
1,"Allanson, Patricia Radcliffe",Serial,3.0,USA-United States,GA,1937.0,36.0,1974.0,1988.0,1900.0,1970.0,Financial Gain - Lethal Care Taker,1.0,0.0,0.0
2,"Bankston, Clinton",Serial,5.0,USA-United States,GA,1971.0,16.0,1987.0,1987.0,1900.0,1980.0,Financial Gain - Robbery - Home Invasion,0.0,NaN,NaN
3,"Belcher, Howard Milton",Serial,4.0,USA-United States,GA,1978.0,23.0,2002.0,2002.0,2000.0,2000.0,Financial Gain - Robbery - Sexual relationship,NaN,NaN,NaN
4,"Birt, Billy Sunday",Serial,3.0,USA-United States,GA,1937.0,34.0,1972.0,1973.0,1900.0,1970.0,Financial Gain - Robbery - Home Invasion,NaN,NaN,NaN

In [43]:
GA_df["Homestate"] = 'Georgia'
GA_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,11,"Akin, Joseph Dewey",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Georgia
1,15,"Allanson, Patricia Radcliffe","Taylor, Patricia; TAYLOR,MARY RADCLIFF; ALLISO...",0000394526,GA - Pulaski State Prison,Serial,2.0,1.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Georgia
2,54,"Bankston, Clinton",NaN,0000468785,GA - DOOLY STATE PRISON,Serial,1.0,2.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Georgia
3,75,"Belcher, Howard Milton",NaN,1076495,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Georgia
4,96,"Birt, Billy Sunday",NaN,403007,GA - SMITH STATE PRISON,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Georgia
5,120,"Bowles, Gary Ray","Whitfield, Timothy; Boles, Gary Ray; Bowles, M...",086158,FL - UNION C.I.,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,999.0,NaN,NaN,NaN,NaN,NaN,Georgia
6,181,"Byrd, Maurice Oscar",NaN,NaN,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Georgia
7,202,"Carter, Charles Lendelle",NaN,NaN,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Georgia
8,239,"Cobb, Hoyt Bud",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Georgia
9,313,"Daughtrey, Earl Llewellyn, Jr.",NaN,NaN,NaN,Serial,1.0,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Georgia
10,324,"Davis, Gregory",NaN,46640,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Georgia
11,326,"Davis, William Howard",NaN,NaN,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Georgia
12,327,"Dawson, Timothy Carl",NaN,0000473794,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Georgia
13,354,"Duffy, Charles Lee",NaN,0000832574,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Georgia
14,386,"Esposito, John Anthony",NaN,0000986823,NaN,Serial,1.0,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,1368.0,NaN,NaN,Georgia
15,412,"Goins, Glenn Isaac",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Georgia
16,417,"Goodin, Anthony J.",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Georgia
17,434,"Franklin, Joseph Paul",NaN,990133,MO,Serial,1.0,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Georgia
18,456,"Gary, Carlton",NaN,NaN,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Georgia
19,458,"Gaskins, Donald",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Georgia

In [44]:
GA_df[["Name", "NumVics"]].head()

                           Name  NumVics
0            Akin, Joseph Dewey     18.0
1  Allanson, Patricia Radcliffe      3.0
2             Bankston, Clinton      5.0
3        Belcher, Howard Milton      4.0
4            Birt, Billy Sunday      3.0

In [45]:
# Create dataframe for Hawaii

csv_path = "HIserial.csv"
HI_df = pd.read_csv(csv_path)
HI_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,41,"Armstrong, John Eric",NaN,362407-2084912M,MI- Michigan Reformaory,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,6.0
1,1430,"Bartsch, Juergen",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1435,"Beck, Ernst Dieter",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1455,"Black, Robert",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1464,"Boost, Werner",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
HI_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Armstrong, John Eric",Serial,6,"USA-United States, HKG-Hong Kong, SGP-Singapor...",HI / VA / OR / MI / NC,1973.0,20.0,1992.0,2000.0,2000.0,1990.0,Enjoyment - Rape,0.0,1.0,1.0
1,"Bartsch, Juergen",Serial,4,DEU-Germany,North Rhine-Westphalia,1946.0,15.0,1962.0,1966.0,1900.0,1960.0,Enjoyment - Rape,0.0,NaN,NaN
2,"Beck, Ernst Dieter",Serial,3,DEU-Germany,North Rhine-Westphalia,1941.0,20.0,1961.0,1968.0,1900.0,1960.0,Enjoyment - Rape,NaN,NaN,NaN
3,"Black, Robert",Serial,5,"NIR-Northern Ireland, ENG-England, SCT-Scotland",East Midlands / Yorkshire and the Humber,1947.0,34.0,1978.0,1986.0,1900.0,1970.0,Enjoyment - Rape,1.0,1.0,1.0
4,"Boost, Werner",Serial,5,DEU-Germany,North Rhine-Westphalia,1928.0,24.0,1953.0,1956.0,1900.0,1950.0,Enjoyment - No rape,1.0,NaN,NaN

In [47]:
HI_df["Homestate"] = 'Hawaii'
HI_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,41,"Armstrong, John Eric",NaN,362407-2084912M,MI- Michigan Reformaory,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,6.0,Hawaii
1,1430,"Bartsch, Juergen",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hawaii
2,1435,"Beck, Ernst Dieter",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Hawaii
3,1455,"Black, Robert",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Hawaii
4,1464,"Boost, Werner",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hawaii
5,1481,"Burkitt, William",NaN,NaN,NaN,Serial,1,1,1,NaN,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Hawaii
6,1534,"Cooper, John",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Hawaii
7,1621,"G., Michelle",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Hawaii
8,1660,"Griffiths, Stephen Shaun",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Hawaii
9,1703,"Hobson, Mark",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Hawaii
10,1775,"Kurten, Peter",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Hawaii
11,1860,"Maudsley, Robert",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Hawaii
12,1877,"Meyer, Thomas",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Hawaii
13,1885,"Mingwu, Liu",NaN,NaN,NaN,Serial,1,4,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Hawaii
14,1939,"Neilson, Donald",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Hawaii
15,1955,"Norris, Colin",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Hawaii
16,2037,"Prudom, Barry Peter",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Hawaii
17,2063,"Roeder, Michaela",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0.0,0.0,11.0,NaN,NaN,NaN,NaN,NaN,Hawaii
18,2071,"Rowntree, Mark",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Hawaii
19,2118,"Shipman, Harold M.D",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Hawaii

In [48]:
HI_df[["Name", "NumVics"]].head()

                   Name  NumVics
0  Armstrong, John Eric        6
1      Bartsch, Juergen        4
2    Beck, Ernst Dieter        3
3         Black, Robert        5
4         Boost, Werner        5

In [49]:
# Create dataframe for Idaho

csv_path = "IDserial.csv"
ID_df = pd.read_csv(csv_path)
ID_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,169,"Bundy, Theodore Robert","Bundy, Ted",A069063,FL - Raiford,Serial,1,1,1,1,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,358,"Duncan, Joesph Edward",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,563,"O`Neall, Darren Dee",ONeall,949114,NaN,Serial,1,2,0,0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,734,"Jones, Sydney",NaN,NaN,NaN,Serial,1,2,0,0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1000,"Pizzuto, Gerald Ross",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
ID_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Bundy, Theodore Robert",Serial,31,USA-United States,CA / CO / FL / ID / OR / WA,1946.0,27.0,1974.0,1978.0,1900.0,1970.0,Enjoyment - Rape,1.0,0.0,0.0
1,"Duncan, Joesph Edward",Serial,7,USA-United States,ID / WA / CA,1963.0,42.0,2005.0,2005.0,2000.0,2000.0,Enjoyment - Rape,1.0,NaN,1.0
2,"O`Neall, Darren Dee",Serial,6,USA-United States,WA / ID / UT,1960.0,26.0,1987.0,1987.0,1900.0,1980.0,Enjoyment - Rape,1.0,0.0,0.0
3,"Jones, Sydney",Serial,13,USA-United States,USA Nationwide,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
4,"Pizzuto, Gerald Ross",Serial,4,USA-United States,ID / WA,1956.0,29.0,1985.0,1985.0,1900.0,1980.0,Financial Gain - Robbery - Home Invasion,1.0,NaN,NaN

In [51]:
ID_df["Homestate"] = 'Idaho'
ID_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,169,"Bundy, Theodore Robert","Bundy, Ted",A069063,FL - Raiford,Serial,1,1,1,1,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Idaho
1,358,"Duncan, Joesph Edward",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Idaho
2,563,"O`Neall, Darren Dee",ONeall,949114,NaN,Serial,1,2,0,0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Idaho
3,734,"Jones, Sydney",NaN,NaN,NaN,Serial,1,2,0,0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Idaho
4,1000,"Pizzuto, Gerald Ross",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Idaho
5,1050,"Rhoades, Paul Ezra",NaN,26864,NaN,Serial,1,1,1,1,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Idaho
6,1084,"Rogers, Ramon Jay",NaN,NaN,NaN,Serial,1,1,1,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Idaho
7,1134,"Sells, Tommy Lynn",NaN,999367,NaN,Serial,1,1,1,1,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Idaho
8,1265,"Southard, Lyda Trueblood","Trueblood, Lyda Anna Mae; Shaw, Anna E.",3052,ID - State Penitentiary,Serial,2,1,0,0,...,0,0.0,0.0,10.0,NaN,NaN,NaN,NaN,NaN,Idaho
9,1316,"Watson, James P.",NaN,NaN,NaN,Serial,2,1,0,0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Idaho
10,1377,"Young, David Franklin",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Idaho
11,1398,"Alegre, Patrice",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Idaho
12,1402,"Allitt, Beverly",NaN,NaN,NaN,Serial,2,1,0,0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Idaho
13,1455,"Black, Robert",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Idaho
14,1536,"Copeland, Michael",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Idaho
15,1847,"Martin, Mark",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Idaho
16,1905,"Morris, Raymond Leslie",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Idaho
17,1939,"Neilson, Donald",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Idaho
18,1985,"Palmer, William Dr.",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Idaho
19,2131,"Smith, Philip",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Idaho

In [52]:
ID_df[["Name", "NumVics"]].head()

                     Name  NumVics
0  Bundy, Theodore Robert       31
1   Duncan, Joesph Edward        7
2     O`Neall, Darren Dee        6
3           Jones, Sydney       13
4    Pizzuto, Gerald Ross        4

In [53]:
# Create dataframe for Illinois

csv_path = "ILserial.csv"
IL_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
IL_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,12,"Albanese, Charles M.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,16,"Allen, Bill",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,27,"Anderson, Dale R.",NaN,B06156,IL - Pontiac Correctional,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
3,33,"Andrews, Ralph Raymond",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,67,"Baughman, John Earl",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN

In [54]:
IL_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Albanese, Charles M.",Serial,3,USA-United States,IL,1946.0,34.0,1980.0,1981.0,1900.0,1980.0,Financial Gain - Family,NaN,NaN,NaN
1,"Allen, Bill",Serial,4,USA-United States,IL,NaN,NaN,1882.0,1882.0,1800.0,1880.0,Anger,NaN,NaN,NaN
2,"Anderson, Dale R.",Serial,3,USA-United States,IL,1951.0,36.0,1988.0,1989.0,1900.0,1980.0,Enjoyment - No rape,1.0,0.0,0.0
3,"Andrews, Ralph Raymond",Serial,7,USA-United States,IL,NaN,26.0,1971.0,1991.0,1900.0,1970.0,Enjoyment - Rape,NaN,NaN,NaN
4,"Baughman, John Earl",Serial,3,"USA-United States, ATG-Antigua",IL,1941.0,28.0,1970.0,1995.0,1900.0,1970.0,Anger - Revenge,0.0,NaN,NaN

In [55]:
IL_df["Homestate"] = 'Illinois'
IL_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,12,"Albanese, Charles M.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Illinois
1,16,"Allen, Bill",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Illinois
2,27,"Anderson, Dale R.",NaN,B06156,IL - Pontiac Correctional,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Illinois
3,33,"Andrews, Ralph Raymond",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Illinois
4,67,"Baughman, John Earl",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Illinois
5,73,"Beck, Martha",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,402,NaN,NaN,Illinois
6,136,"Bright, Larry D.",NaN,N42054,IL - Pontiac Correctional,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Illinois
7,140,"Brisbon, Henry",NaN,A01072,IL - Tamms Correctional,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Organized-Gang Member,NaN,Illinois
8,231,"Clark, Robert Daniel",NaN,R40539,IL,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Illinois
9,234,"Clepper, Gregory",NaN,R03596,IL - Stateville Correctional,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN,Illinois
10,247,"Coleman, Alton",NaN,865839,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,153,NaN,NaN,Illinois
11,268,"Corbett, Tammy",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Illinois
12,288,"Crawford, Andre",NaN,M11357,CA - Menard Correctional,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Illinois
13,291,"Cream, Thomas Neill Dr.",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Illinois
14,318,"Davis, Bruce Alan",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Illinois
15,356,"Dugan, Brian James",NaN,A60862,IL - Pontiac Correctional,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Illinois
16,362,"Duquette, James",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Illinois
17,394,"Eyler, Larry",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Illinois
18,399,"Fayne, Lorenzo",NaN,B26556,IL - Menard Correctional,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Illinois
19,402,"Fernandez, Raymond Martinez",NaN,NaN,NaN,Serial,1,3,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,73,NaN,NaN,Illinois

In [56]:
IL_df[["Name", "NumVics"]].head()

                     Name  NumVics
0    Albanese, Charles M.        3
1             Allen, Bill        4
2       Anderson, Dale R.        3
3  Andrews, Ralph Raymond        7
4     Baughman, John Earl        3

In [57]:
# Create dataframe for Indiana

csv_path = "INserial.csv"
IN_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
IN_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,17,"Allen, Howard Arthur",NaN,881978,Indiana,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,24,"Amos, Lowell Edwin",NaN,252661,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
2,68,"Baumeister, Herbert",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,102,"Bladel, Rudy",NaN,158760,MI - Southern Mich Correctional Maximum,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,142,"Britt, Eugene",NaN,963641,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
IN_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Allen, Howard Arthur",Serial,3,USA-United States,IN,1949.0,38.0,1974.0,1987.0,1900.0,1970.0,Financial Gain - Robbery - Home Invasion,1.0,1.0,1.0
1,"Amos, Lowell Edwin",Serial,4,USA-United States,MI / IN,1943.0,35.0,1979.0,1994.0,1900.0,1970.0,Enjoyment - Power - Bluebeard,0.0,NaN,NaN
2,"Baumeister, Herbert",Serial,18,USA-United States,IN,1947.0,38.0,1985.0,1994.0,1900.0,1980.0,Enjoyment - No rape,1.0,1.0,1.0
3,"Bladel, Rudy",Serial,7,USA-United States,IN / MI,1932.0,30.0,1963.0,1978.0,1900.0,1960.0,Anger - Revenge,NaN,NaN,NaN
4,"Britt, Eugene",Serial,10,USA-United States,IN,1957.0,38.0,1995.0,1995.0,1900.0,1990.0,Enjoyment - Rape,1.0,1.0,NaN

In [59]:
IN_df["Homestate"] = 'Indianna'
IN_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,17,"Allen, Howard Arthur",NaN,881978,Indiana,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Indianna
1,24,"Amos, Lowell Edwin",NaN,252661,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Indianna
2,68,"Baumeister, Herbert",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Indianna
3,102,"Bladel, Rudy",NaN,158760,MI - Southern Mich Correctional Maximum,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Indianna
4,142,"Britt, Eugene",NaN,963641,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Indianna
5,153,"Brown, Debra Denise",NaN,NaN,NaN,Serial,2,2,0,0.0,...,0,0.0,0.0,999,NaN,NaN,247.0,NaN,NaN,Indianna
6,156,"Brown, Vernon",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Indianna
7,235,"Click, Franklin",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Indianna
8,247,"Coleman, Alton",NaN,865839,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,153.0,NaN,NaN,Indianna
9,289,"Crawford, Charles Lee",NaN,949478,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Indianna
10,303,"Cunningham, Anna",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Indianna
11,323,"Davis, Frank R.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Indianna
12,394,"Eyler, Larry",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Indianna
13,425,"Floyd, Cecil Henry",NaN,5271,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Indianna
14,434,"Franklin, Joseph Paul",NaN,990133,MO,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Indianna
15,528,"Gunness, Belle",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Indianna
16,538,"Hall, Larry DeWayne",NaN,27211,MO - Federal Medical Center for Prisoners,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN,Indianna
17,539,"Hampton, Kevin L.",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Indianna
18,552,"Nolan, Dempsey B., Jr.",NaN,192898,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Indianna
19,652,"Hough, Kevin Lee",NaN,872039,IN - Indiana State Prison,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Indianna

In [60]:
IN_df[["Name", "NumVics"]].head()

                   Name  NumVics
0  Allen, Howard Arthur        3
1    Amos, Lowell Edwin        4
2   Baumeister, Herbert       18
3          Bladel, Rudy        7
4         Britt, Eugene       10

In [61]:
# Create dataframe for Iowa

csv_path = "IAserial.csv"
IA_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
IA_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,521,"Nelson, Earle Leonard",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,582,"Jordan, Gilbert Paul",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,9,NaN,NaN,NaN,NaN,NaN
2,770,"Kinney, James Allen",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,996,"Piper, Donald Arthur",NaN,1153862.0,IA - Iowa State Penitentiary,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1026,"Race, Glen Douglas",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
IA_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Nelson, Earle Leonard",Serial,26,"USA-United States, CAN-Canada",CA / OR / WA / IL / IA / MI / MO,1897.0,28.0,1925.0,1927.0,1900.0,1920.0,Enjoyment - Rape,1.0,1.0,0.0
1,"Jordan, Gilbert Paul",Serial,8,CAN-Canada,British Columbia,1931.0,33.0,1965.0,1987.0,1900.0,1960.0,Enjoyment,1.0,NaN,NaN
2,"Kinney, James Allen",Serial,3,USA-United States,WA / MI / IA,1949.0,48.0,1997.0,1998.0,1900.0,1990.0,Enjoyment - Rape,NaN,NaN,1.0
3,"Piper, Donald Arthur",Serial,3,USA-United States,IA,1961.0,32.0,1993.0,1997.0,1900.0,1990.0,Enjoyment - Rape,NaN,NaN,NaN
4,"Race, Glen Douglas",Serial,3,"USA-United States, CAN-Canada",NY / Nova Scotia,1981.0,25.0,2007.0,2007.0,2000.0,2000.0,Multiple motives,NaN,NaN,NaN

In [63]:
IA_df["Homestate"] = 'Iowa'
IA_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,521,"Nelson, Earle Leonard",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Iowa
1,582,"Jordan, Gilbert Paul",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,9,NaN,NaN,NaN,NaN,NaN,Iowa
2,770,"Kinney, James Allen",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Iowa
3,996,"Piper, Donald Arthur",NaN,1153862.0,IA - Iowa State Penitentiary,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Iowa
4,1026,"Race, Glen Douglas",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Iowa
5,1162,"Smith, Gayno Gilbert",NaN,101716.0,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Iowa
6,1187,"Spangler, Robert M.",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Iowa
7,1348,"Williams, Robert E.",NaN,NaN,NaN,Serial,1,2,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Iowa
8,1410,"Arzberger, Gertraud",NaN,NaN,NaN,Serial,2,1,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Iowa
9,1420,"Balaban, John",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Iowa
10,1430,"Bartsch, Juergen",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Iowa
11,1435,"Beck, Ernst Dieter",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Iowa
12,1450,"Bichel, Andreas",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Historic,NaN,Iowa
13,1452,"Bilancia, Donato",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Iowa
14,1453,"Birnie, Catherine",NaN,NaN,NaN,Serial,2,1,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,1454.0,NaN,NaN,Iowa
15,1454,"Birnie, David",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,1453.0,NaN,NaN,Iowa
16,1464,"Boost, Werner",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Iowa
17,1478,"Bunting, John Justin",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Iowa
18,1486,"Butorac, Davey Mato",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Iowa
19,1506,Chang-Shan Hsui,NaN,NaN,NaN,Serial,1,4,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Iowa

In [64]:
IA_df[["Name", "NumVics"]].head()

                    Name  NumVics
0  Nelson, Earle Leonard       26
1   Jordan, Gilbert Paul        8
2    Kinney, James Allen        3
3   Piper, Donald Arthur        3
4     Race, Glen Douglas        3

In [65]:
# Create dataframe for Kansas

csv_path = "KSserial.csv"
KS_df = pd.read_csv(csv_path)
KS_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,128,"Braun, Gregg Francis",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,346,"Doss, Nancy Hazle","Doss, Nanny; Hazle Nancy; Hazel, Nancy",NaN,NaN,Serial,2,1.0,0.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,425,"Floyd, Cecil Henry",NaN,5271.0,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,523,"Nemechek, Francis Donald",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,525,"Guatney, William J.",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN

In [66]:
KS_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Braun, Gregg Francis",Serial,5,USA-United States,OK / KS / TX / NM,1961.0,27.0,1989.0,1989.0,1900.0,1980.0,Financial Gain - Robbery - Retail,NaN,NaN,NaN
1,"Doss, Nancy Hazle",Serial,11,USA-United States,OK / NC / KS / AL,1905.0,18.0,1927.0,1954.0,1900.0,1920.0,Financial Gain - Black Widow,0.0,1.0,1.0
2,"Floyd, Cecil Henry",Serial,6,USA-United States,IN / KS / NV / FL,1941.0,31.0,1973.0,1974.0,1900.0,1970.0,Financial Gain - Robbery - Retail,1.0,NaN,NaN
3,"Nemechek, Francis Donald",Serial,5,USA-United States,KS,1950.0,24.0,1974.0,1976.0,1900.0,1970.0,Anger - Revenge,1.0,NaN,NaN
4,"Guatney, William J.",Serial,5,USA-United States,NE / KS / IL,1922.0,52.0,1975.0,1979.0,1900.0,1970.0,Enjoyment - Rape,NaN,NaN,NaN

In [67]:
KS_df["Homestate"] = 'Kansas'
KS_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,128,"Braun, Gregg Francis",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Kansas
1,346,"Doss, Nancy Hazle","Doss, Nanny; Hazle Nancy; Hazel, Nancy",NaN,NaN,Serial,2,1.0,0.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Kansas
2,425,"Floyd, Cecil Henry",NaN,5271.0,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Kansas
3,523,"Nemechek, Francis Donald",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Kansas
4,525,"Guatney, William J.",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Kansas
5,572,"Silveria, Robert Joseph",NaN,11298172.0,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Kansas
6,797,"LaRette, Anthony Joe, Jr.",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Kansas
7,800,"Latham, James Douglas",NaN,NaN,KS - Lansing Correctional Facility,Serial,1,1.0,1.0,0.0,...,0,0,0,NaN,NaN,NaN,1376,NaN,NaN,Kansas
8,835,"Lumbrera, Diana",NaN,NaN,NaN,Serial,2,3.0,0.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Kansas
9,882,"McDuff, Kenneth Allen",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Kansas
10,900,"Meadows, Johnny J.E.",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Kansas
11,962,"Myers, Karl Lee",NaN,78224.0,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Kansas
12,1028,"Rader, Dennis","Killman, Bill Thomas",83707.0,KS-El Dorado Correctional Facility,Serial,1,1.0,1.0,1.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Kansas
13,1074,"Robinson, John Edward",NaN,45690.0,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Kansas
14,1111,"Sappington, Marc Vincent",NaN,81902.0,NaN,Serial,1,2.0,0.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Kansas
15,1376,"York, George Ronald",NaN,NaN,KS - Lansing Correctional Facility,Serial,1,1.0,1.0,0.0,...,0,0,0,NaN,NaN,NaN,800,NaN,NaN,Kansas
16,1455,"Black, Robert",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Kansas
17,1481,"Burkitt, William",NaN,NaN,NaN,Serial,1,1.0,1.0,NaN,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Kansas
18,1660,"Griffiths, Stephen Shaun",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Kansas
19,1703,"Hobson, Mark",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Kansas

In [68]:
KS_df[["Name", "NumVics"]].head()

                       Name  NumVics
0      Braun, Gregg Francis        5
1         Doss, Nancy Hazle       11
2        Floyd, Cecil Henry        6
3  Nemechek, Francis Donald        5
4       Guatney, William J.        5

In [69]:
# Create dataframe for Kentucky

csv_path = "KYserial.csv"
KY_df = pd.read_csv(csv_path)
KY_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,3,"Abner, Michael Andrew",NaN,"83679, 207751",KY - Kentucky State Penitentiary,Serial,1,1,1,1.0,...,0,0,0.0,0.0,20.0,NaN,NaN,NaN,NaN,NaN
1,101,"Bixler, Rodney Troy",NaN,166817,KY - Northpoint Training Center,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,182,"Cable, James Ray",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,237.0,NaN,NaN
3,213,"Charleston, Shavonda",NaN,152010,NaN,Serial,2,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,237,"Clopton, Phillip E.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,182.0,NaN,NaN

In [70]:
KY_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Abner, Michael Andrew",Serial,3,USA-United States,KY,1963.0,20.0,1983,2010,2000,1980,Financial Gain - Robbery - Home Invasion,NaN,NaN,NaN
1,"Bixler, Rodney Troy",Serial,3,USA-United States,KY,1968.0,31.0,2000,2000,2000,2000,Enjoyment - Rape,NaN,NaN,NaN
2,"Cable, James Ray",Serial,5,USA-United States,KY,1949.0,33.0,1982,1990,1900,1980,Enjoyment - Rape,1.0,NaN,NaN
3,"Charleston, Shavonda",Serial,4,USA-United States,KY,NaN,21.0,1999,2000,2000,1990,Convenience - didn't want babies,NaN,NaN,NaN
4,"Clopton, Phillip E.",Serial,3,USA-United States,KY,1950.0,38.0,1989,1990,1900,1980,Enjoyment - Rape,NaN,NaN,NaN

In [71]:
KY_df["Homestate"] = 'Kentucky'
KY_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,3,"Abner, Michael Andrew",NaN,"83679, 207751",KY - Kentucky State Penitentiary,Serial,1,1,1,1.0,...,0,0.0,0.0,20.0,NaN,NaN,NaN,NaN,NaN,Kentucky
1,101,"Bixler, Rodney Troy",NaN,166817,KY - Northpoint Training Center,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Kentucky
2,182,"Cable, James Ray",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,237.0,NaN,NaN,Kentucky
3,213,"Charleston, Shavonda",NaN,152010,NaN,Serial,2,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Kentucky
4,237,"Clopton, Phillip E.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,182.0,NaN,NaN,Kentucky
5,352,"Dudley, Irene Gwyn",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,353.0,NaN,NaN,Kentucky
6,353,"Dudley, Kenneth Edwin",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,352.0,NaN,NaN,Kentucky
7,412,"Goins, Glenn Isaac",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Kentucky
8,427,"Foley, Robert Carl",NaN,077421,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Kentucky
9,468,"George, Nolan Ray",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Kentucky
10,498,"Green, Cleo Joel, III",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Kentucky
11,550,"Noble, Sherman",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Kentucky
12,592,"Harpe, Micajah",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Kentucky
13,593,"Harpe, Wiley",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Kentucky
14,604,"Harvey, Donald",NaN,A199449,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Kentucky
15,676,"Irvin, Leslie",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Kentucky
16,764,"Kimbrough, Petrie",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Kentucky
17,773,"Klenner, Frederick Robert, Jr.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Kentucky
18,784,"Krajcir, Timothy Wayne",NaN,C96201,IL - Pontiac Correctional,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Kentucky
19,887,"McGinnis, Virginia Agnes Rearden","Rearden, Virginia Agnes",NaN,NaN,Serial,2,1,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Kentucky

In [72]:
KY_df[["Name", "NumVics"]].head()

                    Name  NumVics
0  Abner, Michael Andrew        3
1    Bixler, Rodney Troy        3
2       Cable, James Ray        5
3   Charleston, Shavonda        4
4    Clopton, Phillip E.        3

In [73]:
# Create dataframe for Louisiana

csv_path = "LAserial.csv"
LA_df = pd.read_csv(csv_path)
LA_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,105,"Blank, Daniel Joseph",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,122,"Boyd, Lucious",NaN,NaN,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
2,146,"Brooks, John",NaN,120387,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,187,"Canonico, Frank Anthony",NaN,083805,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,241,"Code, Nathaniel Robert Jr.",NaN,NaN,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
LA_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Blank, Daniel Joseph",Serial,6,USA-United States,LA,1962.0,34.0,1996.0,1997.0,1900.0,1990.0,Financial Gain - Robbery - Home Invasion,0.0,NaN,NaN
1,"Boyd, Lucious",Serial,3,USA-United States,FL / LA,1959.0,38.0,1993.0,1999.0,1900.0,1990.0,Enjoyment - Rape,1.0,NaN,NaN
2,"Brooks, John",Serial,9,USA-United States,LA,1966.0,20.0,1986.0,1986.0,1900.0,1980.0,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
3,"Canonico, Frank Anthony",Serial,8,USA-United States,FL / CA / LA / AZ,1938.0,40.0,1979.0,1981.0,1900.0,1970.0,Anger - Missionary - Loose women,1.0,NaN,NaN
4,"Code, Nathaniel Robert Jr.",Serial,12,USA-United States,LA,1956.0,28.0,1984.0,1987.0,1900.0,1980.0,Enjoyment - No rape,1.0,NaN,NaN

In [75]:
LA_df["Homestate"] = 'Louisiana'
LA_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,105,"Blank, Daniel Joseph",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Louisiana
1,122,"Boyd, Lucious",NaN,NaN,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Louisiana
2,146,"Brooks, John",NaN,120387,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Louisiana
3,187,"Canonico, Frank Anthony",NaN,083805,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Louisiana
4,241,"Code, Nathaniel Robert Jr.",NaN,NaN,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Louisiana
5,318,"Davis, Bruce Alan",NaN,NaN,NaN,Serial,1.0,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Louisiana
6,329,"Debardeleben, James Mitchell, II",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Louisiana
7,345,"Dominique, Ronald Joseph",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Louisiana
8,379,"Ellwood, Russell",NaN,413920,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Louisiana
9,387,"Essex, Mark James Robert",NaN,NaN,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Louisiana
10,479,"Gillis, Sean Vincent",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Louisiana
11,527,"Guillory, Jeffery Lee",NaN,NaN,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Louisiana
12,573,"Britland, Mary Ann",NaN,NaN,NaN,Serial,2.0,1.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Louisiana
13,601,"Harrison, Jason P.",NaN,110978,NaN,Serial,1.0,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Louisiana
14,620,"Henderson, Robert Dale",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Louisiana
15,647,"Hohenberger, Robert Carl",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Louisiana
16,686,"Jackson, Mary Jane",NaN,NaN,NaN,Serial,2.0,1.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Louisiana
17,731,"Jones, Jeremy Bryan",NaN,Z720,NaN,Serial,1.0,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Louisiana
18,737,"Judy, Steven Timothy",NaN,13134,IN - Indiana State Prison,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Louisiana
19,808,"Lee, Derrick Todd",NaN,NaN,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Louisiana

In [76]:
LA_df[["Name", "NumVics"]].head()

                         Name  NumVics
0        Blank, Daniel Joseph        6
1               Boyd, Lucious        3
2                Brooks, John        9
3     Canonico, Frank Anthony        8
4  Code, Nathaniel Robert Jr.       12

In [77]:
# Create dataframe for Maine

csv_path = "MEserial.csv"
MA_df = pd.read_csv(csv_path)
MA_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,421,"Fisher, Constance",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,633,"Hicks, James Rodney",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,736,"Joubert, John",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,992,"Pierce, Charles E.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN
4,1130,"Segee, Robert Dale",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
MA_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Fisher, Constance",Serial,6,USA-United States,ME,1929.0,24.0,1954,1966,1900,1950,Mental Illness,NaN,NaN,NaN
1,"Hicks, James Rodney",Serial,3,USA-United States,ME,1951.0,26.0,1977,1996,1900,1970,Enjoyment - No rape,1.0,0.0,0.0
2,"Joubert, John",Serial,3,USA-United States,NE / ME,1963.0,19.0,1982,1983,1900,1980,Enjoyment - No rape,0.0,0.0,0.0
3,"Pierce, Charles E.",Serial,5,USA-United States,MA / CT / ME,NaN,48.0,1969,1973,1900,1960,Enjoyment - Rape,NaN,NaN,NaN
4,"Segee, Robert Dale",Serial,4,USA-United States,NH / ME,1929.0,9.0,1938,1950,1900,1930,Enjoyment - No rape,0.0,1.0,1.0

In [79]:
MA_df["Homestate"] = 'Massachusetts'
MA_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,421,"Fisher, Constance",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Massachusetts
1,633,"Hicks, James Rodney",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Massachusetts
2,736,"Joubert, John",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Massachusetts
3,992,"Pierce, Charles E.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN,Massachusetts
4,1130,"Segee, Robert Dale",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Massachusetts
5,1233,"Terry, Charles E.",NaN,63-A-0150,NaN,Serial,1,1,1,1.0,...,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Massachusetts
6,1551,"Dater, Olaf",NaN,NaN,NaN,Serial,1,1,1,NaN,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Massachusetts
7,1653,"Gottfried, Gesche Margarethe",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Massachusetts
8,1965,"Oken, Steven Howard",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Massachusetts
9,2049,"Rath, Thomas",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Massachusetts
10,3260,"Legorreta, Cesar Armando Librado",NaN,NaN,NaN,Serial,1,3,0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Massachusetts

In [80]:
MA_df[["Name", "NumVics"]].head()

                  Name  NumVics
0    Fisher, Constance        6
1  Hicks, James Rodney        3
2        Joubert, John        3
3   Pierce, Charles E.        5
4   Segee, Robert Dale        4

In [81]:
# Create dataframe for Maryland

csv_path = "MDserial.csv"
MD_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
MD_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,111,"Bolding, Jane Francis",NaN,NaN,NaN,Serial,2,1.0,0.0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,2.0
1,120,"Bowles, Gary Ray","Whitfield, Timothy; Boles, Gary Ray; Bowles, M...",86158.0,FL - UNION C.I.,Serial,1,1.0,1.0,0,...,0,0,0,0,999,NaN,NaN,NaN,NaN,NaN
2,186,"Cannon, Martha Patricia","Cannon, Lucretia",NaN,NaN,Serial,2,1.0,0.0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,222,"Christenson, William Dean",NaN,NaN,NaN,Serial,1,1.0,1.0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,228,"Clark, Hadden I.",NaN,233181.0,NaN,Serial,1,1.0,1.0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
MD_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Bolding, Jane Francis",Serial,3,USA-United States,MD,NaN,26.0,1984,1984,1900,1980,Enjoyment - Power - Angel of Death,0.0,NaN,NaN
1,"Bowles, Gary Ray",Serial,6,USA-United States,FL / MD / GA,1962.0,32.0,1994,1994,1900,1990,Financial Gain - Robbery - Sexual relationship,1.0,1.0,1.0
2,"Cannon, Martha Patricia",Serial,4,USA-United States,MD,1783.0,19.0,1820,1824,1800,1820,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
3,"Christenson, William Dean",Serial,4,"USA-United States, CAN-Canada",PA / MD,NaN,36.0,1982,1983,1900,1980,Multiple motives,1.0,NaN,NaN
4,"Clark, Hadden I.",Serial,3,USA-United States,MD,1951.0,35.0,1986,1992,1900,1980,Enjoyment - Rape,1.0,1.0,1.0

In [83]:
MD_df["Homestate"] = 'Maryland'
MD_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,111,"Bolding, Jane Francis",NaN,NaN,NaN,Serial,2,1.0,0.0,0,...,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,2.0,Maryland
1,120,"Bowles, Gary Ray","Whitfield, Timothy; Boles, Gary Ray; Bowles, M...",86158.0,FL - UNION C.I.,Serial,1,1.0,1.0,0,...,0,0,0,999,NaN,NaN,NaN,NaN,NaN,Maryland
2,186,"Cannon, Martha Patricia","Cannon, Lucretia",NaN,NaN,Serial,2,1.0,0.0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Maryland
3,222,"Christenson, William Dean",NaN,NaN,NaN,Serial,1,1.0,1.0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Maryland
4,228,"Clark, Hadden I.",NaN,233181.0,NaN,Serial,1,1.0,1.0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Maryland
5,242,"Coffey, Fred Howard Jr.",NaN,NaN,NaN,Serial,1,1.0,1.0,0,...,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Maryland
6,318,"Davis, Bruce Alan",NaN,NaN,NaN,Serial,1,1.0,1.0,1,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Maryland
7,329,"Debardeleben, James Mitchell, II",NaN,NaN,NaN,Serial,1,1.0,1.0,0,...,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Maryland
8,557,"Oates, Reginald Vernon",NaN,NaN,NaN,Serial,1,1.0,1.0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Maryland
9,568,"Shreeves, Bruce Henderson",NaN,NaN,NaN,Serial,1,2.0,0.0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Maryland
10,611,"Hawkins, Timothy Andrew",NaN,199551.0,NaN,Serial,1,2.0,0.0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Maryland
11,648,"Hopewell, Raymont",NaN,321397.0,NaN,Serial,1,2.0,0.0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Maryland
12,753,"Kelly, Anthony Quintin",NaN,NaN,NaN,Serial,1,2.0,0.0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Maryland
13,853,"Malvo, Lee Boyd","Malvo, John Lee",1180834.0,NaN,Serial,1,2.0,0.0,0,...,0,0,0,NaN,NaN,NaN,954,NaN,NaN,Maryland
14,881,"McCullough, Patrick Colin",NaN,NaN,NaN,Serial,1,1.0,1.0,1,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Maryland
15,912,"Metheny, Joe Roy",NaN,270896.0,NaN,Serial,1,1.0,1.0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Maryland
16,954,"Muhammad, John Allen","Williams, John Allen",NaN,NaN,Serial,1,2.0,0.0,0,...,0,0,0,NaN,NaN,NaN,853,NaN,NaN,Maryland
17,1043,"Rees, Melvin David",NaN,NaN,NaN,Serial,1,1.0,1.0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Maryland
18,1067,"Robaczynski, Mary Rose",NaN,NaN,NaN,Serial,2,1.0,0.0,0,...,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Maryland
19,1068,"Robbins, Gary Alan",NaN,NaN,NaN,Serial,1,1.0,1.0,1,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Maryland

In [84]:
MD_df[["Name", "NumVics"]].head()

                        Name  NumVics
0      Bolding, Jane Francis        3
1           Bowles, Gary Ray        6
2    Cannon, Martha Patricia        4
3  Christenson, William Dean        4
4           Clark, Hadden I.        3

In [85]:
# Create dataframe for Massachusetts

csv_path = "MEserial.csv"
ME_df = pd.read_csv(csv_path)
ME_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,421,"Fisher, Constance",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,633,"Hicks, James Rodney",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,736,"Joubert, John",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,992,"Pierce, Charles E.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN
4,1130,"Segee, Robert Dale",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
ME_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Fisher, Constance",Serial,6,USA-United States,ME,1929.0,24.0,1954,1966,1900,1950,Mental Illness,NaN,NaN,NaN
1,"Hicks, James Rodney",Serial,3,USA-United States,ME,1951.0,26.0,1977,1996,1900,1970,Enjoyment - No rape,1.0,0.0,0.0
2,"Joubert, John",Serial,3,USA-United States,NE / ME,1963.0,19.0,1982,1983,1900,1980,Enjoyment - No rape,0.0,0.0,0.0
3,"Pierce, Charles E.",Serial,5,USA-United States,MA / CT / ME,NaN,48.0,1969,1973,1900,1960,Enjoyment - Rape,NaN,NaN,NaN
4,"Segee, Robert Dale",Serial,4,USA-United States,NH / ME,1929.0,9.0,1938,1950,1900,1930,Enjoyment - No rape,0.0,1.0,1.0

In [87]:
ME_df["Homestate"] = 'Maine'
ME_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,421,"Fisher, Constance",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Maine
1,633,"Hicks, James Rodney",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Maine
2,736,"Joubert, John",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Maine
3,992,"Pierce, Charles E.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN,Maine
4,1130,"Segee, Robert Dale",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Maine
5,1233,"Terry, Charles E.",NaN,63-A-0150,NaN,Serial,1,1,1,1.0,...,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Maine
6,1551,"Dater, Olaf",NaN,NaN,NaN,Serial,1,1,1,NaN,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Maine
7,1653,"Gottfried, Gesche Margarethe",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Maine
8,1965,"Oken, Steven Howard",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Maine
9,2049,"Rath, Thomas",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Maine
10,3260,"Legorreta, Cesar Armando Librado",NaN,NaN,NaN,Serial,1,3,0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Maine

In [88]:
ME_df[["Name", "NumVics"]].head()

                  Name  NumVics
0    Fisher, Constance        6
1  Hicks, James Rodney        3
2        Joubert, John        3
3   Pierce, Charles E.        5
4   Segee, Robert Dale        4

In [89]:
# Create dataframe for Michigan

csv_path = "MIserial.csv"
MI_df = pd.read_csv(csv_path)
MI_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,4,"Abuelazam, Elias","Eli, Elias Abullazam",842658,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,24,"Amos, Lowell Edwin",NaN,252661,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
2,41,"Armstrong, John Eric",NaN,362407-2084912M,MI- Michigan Reformaory,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,6.0
3,47,"Atkins, Benjamin",NaN,237134,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,73,"Beck, Martha",NaN,NaN,NaN,Serial,2.0,1.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,402.0,NaN,NaN

In [90]:
MI_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Abuelazam, Elias",Serial,5,USA-United States,MI / VA / OH,1976.0,33.0,2009.0,2010.0,2000.0,2000.0,Anger - Racial,0.0,NaN,NaN
1,"Amos, Lowell Edwin",Serial,4,USA-United States,MI / IN,1943.0,35.0,1979.0,1994.0,1900.0,1970.0,Enjoyment - Power - Bluebeard,0.0,NaN,NaN
2,"Armstrong, John Eric",Serial,6,"USA-United States, HKG-Hong Kong, SGP-Singapor...",HI / VA / OR / MI / NC,1973.0,20.0,1992.0,2000.0,2000.0,1990.0,Enjoyment - Rape,0.0,1.0,1.0
3,"Atkins, Benjamin",Serial,11,USA-United States,MI,1968.0,23.0,1991.0,1992.0,1900.0,1990.0,Anger - Missionary - Prostitutes,1.0,1.0,NaN
4,"Beck, Martha",Serial,5,USA-United States,MI / IL / NY,1920.0,27.0,1948.0,1949.0,1900.0,1940.0,Financial Gain - Robbery - Sexual relationship,1.0,1.0,1.0

In [91]:
MI_df["Homestate"] = 'Michigan'
MI_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,4,"Abuelazam, Elias","Eli, Elias Abullazam",842658,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Michigan
1,24,"Amos, Lowell Edwin",NaN,252661,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Michigan
2,41,"Armstrong, John Eric",NaN,362407-2084912M,MI- Michigan Reformaory,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,6.0,Michigan
3,47,"Atkins, Benjamin",NaN,237134,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Michigan
4,73,"Beck, Martha",NaN,NaN,NaN,Serial,2.0,1.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,402.0,NaN,NaN,Michigan
5,102,"Bladel, Rudy",NaN,158760,MI - Southern Mich Correctional Maximum,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Michigan
6,147,"Brooks, Shelly Andre",NaN,640812,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Michigan
7,226,"Clarey, Richard N., Jr.",NaN,161739,NaN,Serial,1.0,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,---,NaN,Michigan
8,251,"Collins, John Norman",NaN,126833,NaN,Serial,1.0,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Michigan
9,368,"Eberling, Richard George",NaN,NaN,NaN,Serial,1.0,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Michigan
10,402,"Fernandez, Raymond Martinez",NaN,NaN,NaN,Serial,1.0,3.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,73.0,NaN,NaN,Michigan
11,468,"George, Nolan Ray",NaN,NaN,NaN,Serial,1.0,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Michigan
12,487,"Graham, Gwendolyn Gail",NaN,NaN,NaN,Serial,2.0,1.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,1361.0,NaN,NaN,Michigan
13,521,"Nelson, Earle Leonard",NaN,NaN,NaN,Serial,1.0,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Michigan
14,538,"Hall, Larry DeWayne",NaN,27211,MO - Federal Medical Center for Prisoners,Serial,1.0,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN,Michigan
15,556,"Nuss, Ralph",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Michigan
16,594,"Harper, Arthur",NaN,NaN,NaN,Serial,1.0,1.0,1.0,NaN,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Michigan
17,596,"Harrington, Paul",NaN,NaN,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Michigan
18,704,"Jensen, Richard Allen",NaN,220583,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Michigan
19,706,"Johns, Ronnie",NaN,225455,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Michigan

In [92]:
MI_df[["Name", "NumVics"]].head()

                   Name  NumVics
0      Abuelazam, Elias        5
1    Amos, Lowell Edwin        4
2  Armstrong, John Eric        6
3      Atkins, Benjamin       11
4          Beck, Martha        5

In [93]:
# Create dataframe for Minnesota

csv_path = "MNserial.csv"
MN_df = pd.read_csv(csv_path)
MN_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,25,"Anderson, Allen Leroy",NaN,101147.0,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,191,"Carignan, Harvey Louis",NaN,100736.0,MN - Minnesota Correctional Facility Stillwater,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,408,"Glaze, Billy Richard",NaN,NaN,NaN,Serial,1,5.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,642,"Hittle, Daniel Joe",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,810,"Lefthand, Michael Shane",NaN,162391.0,NaN,Serial,1,NaN,NaN,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
MN_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Anderson, Allen Leroy",Serial,8,USA-United States,CA / FL / MN / VA,1943.0,33.0,1976,1976,1900,1970,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
1,"Carignan, Harvey Louis",Serial,5,USA-United States,MN / AK / WA,1927.0,46.0,1972,1974,1900,1970,Mental Illness - Visionary,1.0,1.0,1.0
2,"Glaze, Billy Richard",Serial,4,USA-United States,MN,1944.0,33.0,1986,1987,1900,1980,Enjoyment - Rape,1.0,NaN,NaN
3,"Hittle, Daniel Joe",Serial,7,USA-United States,TX / MN,1950.0,23.0,1973,1989,1900,1970,Anger - Revenge,1.0,NaN,NaN
4,"Lefthand, Michael Shane",Serial,3,USA-United States,MN / ND / WI,1960.0,25.0,1985,1990,1900,1980,Enjoyment,NaN,NaN,NaN

In [95]:
MN_df["Homestate"] = 'Minnesota'
MN_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,25,"Anderson, Allen Leroy",NaN,101147.0,NaN,Serial,1,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Minnesota
1,191,"Carignan, Harvey Louis",NaN,100736.0,MN - Minnesota Correctional Facility Stillwater,Serial,1,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Minnesota
2,408,"Glaze, Billy Richard",NaN,NaN,NaN,Serial,1,5.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Minnesota
3,642,"Hittle, Daniel Joe",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Minnesota
4,810,"Lefthand, Michael Shane",NaN,162391.0,NaN,Serial,1,NaN,NaN,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Minnesota
5,946,"Morse, Hugh Bion",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Minnesota
6,1016,"Profit, Mark Antonio",NaN,NaN,NaN,Serial,1,2.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Minnesota
7,1204,"Stephani, Paul Michael",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Minnesota
8,1221,"Tapson, Floyd Richard",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Minnesota
9,1271,"Ture, Joseph Donald",NaN,118968.0,NaN,Serial,1,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Minnesota
10,2540,"Mann, Andy",NaN,NaN,NaN,Serial,1,2.0,0.0,0.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Minnesota
11,2820,"Taylor, Alvin",NaN,NaN,NaN,Serial,1,2.0,0.0,NaN,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Minnesota
12,3193,"Sitts, George",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Minnesota

In [96]:
MN_df[["Name", "NumVics"]].head()

                      Name  NumVics
0    Anderson, Allen Leroy        8
1   Carignan, Harvey Louis        5
2     Glaze, Billy Richard        4
3       Hittle, Daniel Joe        7
4  Lefthand, Michael Shane        3

In [97]:
# Create dataframe for Mississippi

csv_path = "MSserial.csv"
MS_df = pd.read_csv(csv_path)
MS_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,324,"Davis, Gregory",NaN,46640,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,355,"Dufour, Donald William","Defour, Donald William","44,888,061,222","MS, FL - UNION C.I.",Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,390,"Evans, Donald Leroy",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,418,"Goodman, Keith Eugene",NaN,91-B-0194,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,620,"Henderson, Robert Dale",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
MS_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Davis, Gregory",Serial,4,USA-United States,MS / GA,1965.0,20.0,1986,1987,1900,1980,Financial Gain - Robbery - Home Invasion,1.0,NaN,NaN
1,"Dufour, Donald William",Serial,5,USA-United States,MS / FL,1956.0,26.0,1982,1982,1900,1980,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
2,"Evans, Donald Leroy",Serial,3,USA-United States,MS / WA / TX,1957.0,20.0,1977,1991,1900,1970,Enjoyment - Rape,1.0,NaN,1.0
3,"Goodman, Keith Eugene",Serial,5,USA-United States,NY / MS / TN,1959.0,30.0,1989,1990,1900,1980,Financial Gain - Robbery - Home Invasion,1.0,NaN,NaN
4,"Henderson, Robert Dale",Serial,12,USA-United States,FL / OH / LA / MS,1945.0,34.0,1982,1982,1900,1980,Enjoyment - No rape,1.0,NaN,NaN

In [99]:
MS_df["Homestate"] = 'Mississippi'
MS_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,324,"Davis, Gregory",NaN,46640,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Mississippi
1,355,"Dufour, Donald William","Defour, Donald William","44,888,061,222","MS, FL - UNION C.I.",Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Mississippi
2,390,"Evans, Donald Leroy",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Mississippi
3,418,"Goodman, Keith Eugene",NaN,91-B-0194,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Mississippi
4,620,"Henderson, Robert Dale",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Mississippi
5,858,"Marcus, Jerry",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Mississippi
6,899,"Mead, Jon Christopher",NaN,91-B-0361,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Mississippi
7,1019,"Pruett, Marion Albert",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Mississippi
8,1051,"Rhoades, Robert Ben",NaN,B24683,IL - Pontiac Correctional,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Mississippi
9,1071,"Robinson, Alonzo",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Mississippi
10,1082,"Rogers, Glen Edward",NaN,H005-P2114,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Mississippi
11,1086,"Rolle, Randal",NaN,NaN,NaN,Serial,1,1,1,NaN,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Mississippi
12,1343,"Williams, John Robert",NaN,67341,NaN,Serial,1,1,1,1.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mississippi
13,2365,"Burkett, Nathan",NaN,93861,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Mississippi
14,2390,"Charles, Robert",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN,Mississippi
15,2408,"Cumberland, Rachel",NaN,R9323,MS - Central Mississippi,Serial,2,1,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Mississippi
16,2450,"Gordon, John",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mississippi
17,2543,"Manning, Willie Jerome",NaN,71931,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Mississippi
18,2609,"Pittman, Randall Red",NaN,16050,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Mississippi
19,2708,"Webb, Willie",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Mississippi

In [100]:
MS_df[["Name", "NumVics"]].head()

                     Name  NumVics
0          Davis, Gregory        4
1  Dufour, Donald William        5
2     Evans, Donald Leroy        3
3   Goodman, Keith Eugene        5
4  Henderson, Robert Dale       12

In [101]:
# Create dataframe for Missouri

csv_path = "MOserial.csv"
MO_df = pd.read_csv(csv_path)
MO_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,72,"Beardslee, Donald Jay",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,85,"Berdella, Robert Andrew",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,103,"Blair, Terry Anthony",Solid Gold,46436,MO - Potosi Correctional Center,Serial,1,2,0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,130,"Breeden, Gregory Wayne",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
4,156,"Brown, Vernon",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
MO_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Beardslee, Donald Jay",Serial,3,USA-United States,CA / MO,1943.0,26.0,1969.0,1981,1900,1960.0,Multiple motives,1.0,NaN,NaN
1,"Berdella, Robert Andrew",Serial,6,USA-United States,MO,1949.0,35.0,1984.0,1987,1900,1980.0,Enjoyment - Rape,1.0,0.0,0.0
2,"Blair, Terry Anthony",Serial,9,USA-United States,MO,1961.0,42.0,1982.0,2004,2000,1980.0,Enjoyment - Rape,1.0,NaN,NaN
3,"Breeden, Gregory Wayne",Serial,7,USA-United States,MO,1946.0,36.0,1982.0,1994,1900,1980.0,Enjoyment - Rape,NaN,NaN,NaN
4,"Brown, Vernon",Serial,3,USA-United States,MO / IN,1953.0,26.0,1980.0,1986,1900,1980.0,Enjoyment - Rape,1.0,1.0,1.0

In [103]:
MO_df["Homestate"] = 'Missouri'
MO_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,72,"Beardslee, Donald Jay",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Missouri
1,85,"Berdella, Robert Andrew",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Missouri
2,103,"Blair, Terry Anthony",Solid Gold,46436,MO - Potosi Correctional Center,Serial,1,2,0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Missouri
3,130,"Breeden, Gregory Wayne",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Missouri
4,156,"Brown, Vernon",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Missouri
5,181,"Byrd, Maurice Oscar",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Missouri
6,266,"Copeland, Faye",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0,0,NaN,NaN,NaN,267,NaN,NaN,Missouri
7,267,"Copeland, Ray",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,NaN,NaN,NaN,266,NaN,NaN,Missouri
8,289,"Crawford, Charles Lee",NaN,949478,NaN,Serial,1,1,1,1.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Missouri
9,320,"Davis, Charles William",NaN,96861,NaN,Serial,1,1,1,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Missouri
10,383,"Engleman, Dr. Glennon E.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Missouri
11,385,"Ervin, Tomas Grant",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Missouri
12,405,"Gilyard, Lorenzo J.",NaN,00044287,NaN,Serial,1,2,0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Missouri
13,431,"Fortmeyer, Julia C.",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Missouri
14,434,"Franklin, Joseph Paul",NaN,990133,MO,Serial,1,1,1,1.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Missouri
15,511,"Grissom, Richard",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Missouri
16,521,"Nelson, Earle Leonard",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Missouri
17,607,"Hatcher, Charles Ray",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Missouri
18,666,"Hunter, Bert Leroy",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Missouri
19,672,"Hyde, Bennett Clark Dr.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Missouri

In [104]:
MO_df[["Name", "NumVics"]].head()

                      Name  NumVics
0    Beardslee, Donald Jay        3
1  Berdella, Robert Andrew        6
2     Blair, Terry Anthony        9
3   Breeden, Gregory Wayne        7
4            Brown, Vernon        3

In [105]:
# Create dataframe for Montana

csv_path = "MTserial.csv"
MT_df = pd.read_csv(csv_path)
MT_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,439,"French, Anne",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,440,"Mayer, William Donald",NaN,NaN,NaN,Serial,1,1,1,NaN,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,905,"Meirhofer, David",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,963,"Nance, Wayne Nathan",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
4,1040,"Red Dog, James Allen",NaN,NaN,NaN,Serial,1,5,0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
MT_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"French, Anne",Serial,3,USA-United States,MT / WA,NaN,NaN,1920,1928,1900,1920,Financial Gain - Robbery,NaN,NaN,NaN
1,"Mayer, William Donald",Serial,3,USA-United States,MT / WA,NaN,NaN,1920,1928,1900,1920,Financial Gain - Robbery,1.0,NaN,NaN
2,"Meirhofer, David",Serial,4,USA-United States,MT,1949.0,17.0,1967,1974,1900,1960,Enjoyment - Rape,NaN,NaN,NaN
3,"Nance, Wayne Nathan",Serial,6,USA-United States,MT,1955.0,18.0,1974,1985,1900,1970,Enjoyment - Rape,0.0,1.0,0.0
4,"Red Dog, James Allen",Serial,4,USA-United States,DE / MT / CA,NaN,19.0,1973,1991,1900,1970,Anger,1.0,NaN,NaN

In [107]:
MT_df["Homestate"] = 'Montana'
MT_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,439,"French, Anne",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Montana
1,440,"Mayer, William Donald",NaN,NaN,NaN,Serial,1,1,1,NaN,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Montana
2,905,"Meirhofer, David",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Montana
3,963,"Nance, Wayne Nathan",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Montana
4,1040,"Red Dog, James Allen",NaN,NaN,NaN,Serial,1,5,0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Montana
5,1153,"Sinclair, Charles T.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Montana
6,1265,"Southard, Lyda Trueblood","Trueblood, Lyda Anna Mae; Shaw, Anna E.",3052.0,ID - State Penitentiary,Serial,2,1,0,0.0,...,0,0,0,10.0,NaN,NaN,NaN,NaN,NaN,Montana
7,1304,"Ward, Ronald James",NaN,2009194.0,NaN,Serial,1,1,1,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Montana
8,1629,"Garnier, Gilles",NaN,NaN,NaN,Serial,1,1,1,NaN,...,0,0,0,NaN,NaN,NaN,NaN,Serial-Historic,NaN,Montana

In [108]:
MT_df[["Name", "NumVics"]].head()

                    Name  NumVics
0           French, Anne        3
1  Mayer, William Donald        3
2       Meirhofer, David        4
3    Nance, Wayne Nathan        6
4   Red Dog, James Allen        4

In [109]:
# Create dataframe for Nebraska

csv_path = "NEserial.csv"
NE_df = pd.read_csv(csv_path)
NE_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,525,"Guatney, William J.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
1,736,"Joubert, John",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1182,"Sorenson, Della Sidel",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1212,"Stutzman, Eli, E., Jr.",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1285,"Victor, Clarence",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [110]:
NE_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Guatney, William J.",Serial,5,USA-United States,NE / KS / IL,1922.0,52.0,1975,1979.0,1900.0,1970,Enjoyment - Rape,NaN,NaN,NaN
1,"Joubert, John",Serial,3,USA-United States,NE / ME,1963.0,19.0,1982,1983.0,1900.0,1980,Enjoyment - No rape,0.0,0.0,0.0
2,"Sorenson, Della Sidel",Serial,7,USA-United States,NE,1897.0,21.0,1918,1925.0,1900.0,1910,Anger - Revenge,NaN,NaN,NaN
3,"Stutzman, Eli, E., Jr.",Serial,5,USA-United States,OH / TX / NE / CO,1950.0,26.0,1977,1985.0,1900.0,1970,Multiple motives,NaN,NaN,NaN
4,"Victor, Clarence",Serial,3,USA-United States,NE,1932.0,31.0,1964,1987.0,1900.0,1960,Enjoyment - No rape,1.0,NaN,NaN

In [111]:
NE_df["Homestate"] = 'Nebraska'
NE_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,525,"Guatney, William J.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Nebraska
1,736,"Joubert, John",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Nebraska
2,1182,"Sorenson, Della Sidel",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Nebraska
3,1212,"Stutzman, Eli, E., Jr.",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nebraska
4,1285,"Victor, Clarence",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Nebraska
5,1348,"Williams, Robert E.",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Nebraska
6,1388,"Abel, Wolfgang",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,27.0,NaN,NaN,1617.0,NaN,NaN,Nebraska
7,1398,"Alegre, Patrice",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Nebraska
8,1404,"Andermatt, Roger",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Nebraska
9,1430,"Bartsch, Juergen",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nebraska
10,1435,"Beck, Ernst Dieter",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Nebraska
11,1464,"Boost, Werner",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nebraska
12,1607,"Folbigg, Kathleen",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0.0,0.0,30.0,NaN,NaN,NaN,NaN,NaN,Nebraska
13,1617,"Furlan, Mario",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,27.0,NaN,NaN,1388.0,NaN,NaN,Nebraska
14,1621,"G., Michelle",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Nebraska
15,1630,"Gedek, Robert",NaN,NaN,NaN,Serial,1,4,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Nebraska
16,1643,"Glover, John Wayne",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Nebraska
17,1658,"Grenier, Jean",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Nebraska
18,1662,"Grills, Caroline",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Nebraska
19,1686,"Harris, Matthew James",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Nebraska

In [112]:
NE_df[["Name", "NumVics"]].head()

                     Name  NumVics
0     Guatney, William J.        5
1           Joubert, John        3
2   Sorenson, Della Sidel        7
3  Stutzman, Eli, E., Jr.        5
4        Victor, Clarence        3

In [113]:
# Create dataframe for Nevada

csv_path = "NVserial.csv"
NV_df = pd.read_csv(csv_path)
NV_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,22,"Amati, Tony R.",NaN,66673,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,"697,1104",NaN,NaN
1,36,"Archerd, William Dale",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,99,"Bishop, Jesse Walter",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN
3,132,"Breslin, Joseph F.",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
4,163,"Buchanan, Denise Dianna",NaN,62587,NV,Serial,2,1,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [114]:
NV_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Amati, Tony R.",Serial,3,USA-United States,NV,1976.0,19.0,1996.0,1996,1900,1990.0,Enjoyment - No rape,NaN,NaN,NaN
1,"Archerd, William Dale",Serial,6,USA-United States,CA / NV,1912.0,35.0,1947.0,1966,1900,1940.0,Enjoyment - Power - Bluebeard,1.0,NaN,NaN
2,"Bishop, Jesse Walter",Serial,18,USA-United States,NV,1933.0,44.0,NaN,1977,1900,NaN,Financial Gain - Robbery,1.0,NaN,NaN
3,"Breslin, Joseph F.",Serial,4,USA-United States,NV / CA / PA,1950.0,32.0,1982.0,1982,1900,1980.0,Multiple motives,1.0,NaN,NaN
4,"Buchanan, Denise Dianna",Serial,3,USA-United States,NV,1966.0,23.0,1989.0,1994,1900,1980.0,Convenience - didn't want babies,0.0,NaN,NaN

In [115]:
NV_df["Homestate"] = 'Nevada'
NV_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,22,"Amati, Tony R.",NaN,66673,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,"697,1104",NaN,NaN,Nevada
1,36,"Archerd, William Dale",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Nevada
2,99,"Bishop, Jesse Walter",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN,Nevada
3,132,"Breslin, Joseph F.",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Nevada
4,163,"Buchanan, Denise Dianna",NaN,62587,NV,Serial,2,1,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Nevada
5,207,"Catlin, Steven David",NaN,D32989,CA - San Quentin,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Nevada
6,210,"Chadd, Billy Lee",NaN,C05801,CA - RJ Donovan,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Nevada
7,236,"Cline, Alfred Leonard",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Nevada
8,240,"Coddington, Herbert James",NaN,E08100,CA - San Quentin,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Two Events/Multiple kills 1 event,NaN,Nevada
9,246,"Cole, Carroll Edward",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Nevada
10,296,"Crump, Thomas Wayne",NaN,19601,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Nevada
11,314,"Daveggio, James Anthony",NaN,T68062,CA - San Quentin,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Nevada
12,318,"Davis, Bruce Alan",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Nevada
13,425,"Floyd, Cecil Henry",NaN,5271,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Nevada
14,446,"Gallego, Charlene Williams",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Nevada
15,448,"Gallego, Gerald Armond, Jr.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Nevada
16,541,"Neuschafer, Julius",NaN,12370,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Nevada
17,555,"Nunnery, Eugene",NaN,79910,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Nevada
18,570,"Siebert, Daniel Lee",NaN,00Z475,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Nevada
19,651,"Horton, Wayne Donald",NaN,12492,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Nevada

In [116]:
NV_df[["Name", "NumVics"]].head()

                      Name  NumVics
0           Amati, Tony R.        3
1    Archerd, William Dale        6
2     Bishop, Jesse Walter       18
3       Breslin, Joseph F.        4
4  Buchanan, Denise Dianna        3

In [117]:
# Create dataframe for New Hampshire

csv_path = "NHserial.csv"
NH_df = pd.read_csv(csv_path)
NH_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,953,"Mudgett, Herman","Holmes, H. H.; Holmes, Henry Howard",NaN,NaN,Serial,1,1,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,1130,"Segee, Robert Dale",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,1502,"Chagas, Francisco Das",NaN,NaN,NaN,Serial,1,3,0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2237,Yang Xinhai,Yang Zhiya,NaN,NaN,Serial,1,4,0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2399,"Conkey, Craig",NaN,W60350,NaN,Serial,1,1,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [118]:
NH_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Mudgett, Herman",Serial,42,USA-United States,NH / IL,1861.0,27,1886,1896,1800,1880,Enjoyment - No rape,1.0,NaN,1.0
1,"Segee, Robert Dale",Serial,4,USA-United States,NH / ME,1929.0,9,1938,1950,1900,1930,Enjoyment - No rape,0.0,1.0,1.0
2,"Chagas, Francisco Das",Serial,42,BRA-Brazil,Maranhao / Para,1965.0,26,1991,2003,2000,1990,Enjoyment - Rape,NaN,NaN,NaN
3,Yang Xinhai,Serial,67,CHN-China,"Henan, Anhui, Shandong, Hebei",1968.0,30,1999,2003,2000,1990,Enjoyment - Rape,1.0,NaN,NaN
4,"Conkey, Craig",Serial,3,USA-United States,MA / NH,NaN,25,1992,1994,1900,1990,Financial Gain - Robbery - Home Invasion,NaN,NaN,NaN

In [119]:
NH_df["Homestate"] = 'New Hampshire'
NH_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,953,"Mudgett, Herman","Holmes, H. H.; Holmes, Henry Howard",NaN,NaN,Serial,1,1,1,1,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,New Hampshire
1,1130,"Segee, Robert Dale",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,New Hampshire
2,1502,"Chagas, Francisco Das",NaN,NaN,NaN,Serial,1,3,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,New Hampshire
3,2237,Yang Xinhai,Yang Zhiya,NaN,NaN,Serial,1,4,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,New Hampshire
4,2399,"Conkey, Craig",NaN,W60350,NaN,Serial,1,1,1,1,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,New Hampshire

In [120]:
NH_df[["Name", "NumVics"]].head()

                    Name  NumVics
0        Mudgett, Herman       42
1     Segee, Robert Dale        4
2  Chagas, Francisco Das       42
3            Yang Xinhai       67
4          Conkey, Craig        3

In [121]:
# Create dataframe for New Jersey

csv_path = "NJserial.csv"
NJ_df = pd.read_csv(csv_path)
NJ_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,37,"Balaam, Anthony",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,79,"Bellamy, Shiquan",NaN,000378894D,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,93,"Biegenwald, Richard Fran","Black, Johnnie",0000573588,NJ,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,162,"Bryan, Joseph Francis Jr.",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,252,"Colvin, Dellmus Charles",NaN,A536490,OH - Madison Correctional Institution,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
NJ_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Balaam, Anthony",Serial,4,USA-United States,NJ,1965.0,29.0,1994,1996,1900,1990,Enjoyment - Power,1.0,NaN,NaN
1,"Bellamy, Shiquan",Serial,5,USA-United States,NJ,1990.0,19.0,2010,2010,2000,2010,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
2,"Biegenwald, Richard Fran",Serial,6,USA-United States,NJ,1940.0,40.0,1958,1982,1900,1950,Financial Gain - Robbery - Random Street,1.0,1.0,1.0
3,"Bryan, Joseph Francis Jr.",Serial,4,USA-United States,SC / FL / NJ / TN,1939.0,25.0,1964,1964,1900,1960,Enjoyment - Rape,1.0,NaN,NaN
4,"Colvin, Dellmus Charles",Serial,7,USA-United States,OH / NJ,1959.0,40.0,1987,2005,2000,1980,Enjoyment,1.0,NaN,NaN

In [123]:
NJ_df["Homestate"] = 'New Jersey'
NJ_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,37,"Balaam, Anthony",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New Jersey
1,79,"Bellamy, Shiquan",NaN,000378894D,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New Jersey
2,93,"Biegenwald, Richard Fran","Black, Johnnie",0000573588,NJ,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New Jersey
3,162,"Bryan, Joseph Francis Jr.",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New Jersey
4,252,"Colvin, Dellmus Charles",NaN,A536490,OH - Madison Correctional Institution,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New Jersey
5,277,"Cottingham, Richard Francis",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New Jersey
6,292,"Creighton, Mary Frances",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New Jersey
7,300,"Cullen, Charles",NaN,000153648D,NJ - NJSP,Serial,1,1,1,1.0,...,0,0.0,0.0,"63,63,63,17,17,30,30,30,30,30",NaN,NaN,NaN,NaN,3.0,New Jersey
8,329,"Debardeleben, James Mitchell, II",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,New Jersey
9,330,"DeJesus, Carmello",NaN,NaN,NaN,Serial,1,3,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New Jersey
10,334,"Dennis, Jerome",NaN,811883,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New Jersey
11,419,"Fischer, Joseph J.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New Jersey
12,529,"Gunning, James",NaN,000465469C,NaN,Serial,1,4,0,0.0,...,0,0.0,0.0,12,NaN,NaN,NaN,Serial-Suspected,NaN,New Jersey
13,570,"Siebert, Daniel Lee",NaN,00Z475,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New Jersey
14,635,"Hill, Clarence",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New Jersey
15,700,"Jascalevich, Mario Enrique Dr.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Acquitted,NaN,New Jersey
16,740,"Kaczynski, Theodore John",NaN,04475-046,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New Jersey
17,777,"Koedatich, James J.",NaN,757061,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New Jersey
18,787,"Kudzinowski, Peter",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New Jersey
19,863,"Martin, Caroline Wardlaw",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,"1175,1305",NaN,NaN,New Jersey

In [124]:
NJ_df[["Name", "NumVics"]].head()

                        Name  NumVics
0            Balaam, Anthony        4
1           Bellamy, Shiquan        5
2   Biegenwald, Richard Fran        6
3  Bryan, Joseph Francis Jr.        4
4    Colvin, Dellmus Charles        7

In [125]:
# Create dataframe for New Mexico

csv_path = "NMserial.csv"
NM_df = pd.read_csv(csv_path)
NM_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,53,"Ballinger, Delray",NaN,NaN,NM - New Mexico Boys School,Serial,1,1,1,0.0,...,0,0,0.0,0.0,2.0,NaN,NaN,"80,229",NaN,NaN
1,80,"Bender, Jesse Howard",NaN,NaN,NM - New Mexico Boys School,Serial,1,1,1,0.0,...,0,0,0.0,0.0,2.0,NaN,NaN,"53,229",NaN,NaN
2,106,"Bloomfield, Clifton Duane",NaN,460278 / 69115,NM - GCCF,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,128,"Braun, Gregg Francis",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,229,"Clark, Matthew",NaN,NaN,NM - New Mexico Boys School,Serial,1,1,1,0.0,...,0,0,0.0,0.0,2.0,NaN,NaN,"53,80",NaN,NaN

In [126]:
NM_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Ballinger, Delray",Serial,3,USA-United States,NM,1958.0,16.0,1974,1974,1900,1970,Anger - Racial,0.0,NaN,NaN
1,"Bender, Jesse Howard",Serial,3,USA-United States,NM,1958.0,16.0,1974,1974,1900,1970,Anger - Racial,0.0,NaN,NaN
2,"Bloomfield, Clifton Duane",Serial,6,USA-United States,NM,1969.0,35.0,2004,2008,2000,2000,Financial Gain - Robbery - Home Invasion,1.0,NaN,NaN
3,"Braun, Gregg Francis",Serial,5,USA-United States,OK / KS / TX / NM,1961.0,27.0,1989,1989,1900,1980,Financial Gain - Robbery - Retail,NaN,NaN,NaN
4,"Clark, Matthew",Serial,3,USA-United States,NM,NaN,15.0,1974,1974,1900,1970,Anger - Racial,0.0,NaN,NaN

In [127]:
NM_df["Homestate"] = 'New Mexico'
NM_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,53,"Ballinger, Delray",NaN,NaN,NM - New Mexico Boys School,Serial,1,1,1,0.0,...,0,0.0,0.0,2.0,NaN,NaN,"80,229",NaN,NaN,New Mexico
1,80,"Bender, Jesse Howard",NaN,NaN,NM - New Mexico Boys School,Serial,1,1,1,0.0,...,0,0.0,0.0,2.0,NaN,NaN,"53,229",NaN,NaN,New Mexico
2,106,"Bloomfield, Clifton Duane",NaN,460278 / 69115,NM - GCCF,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New Mexico
3,128,"Braun, Gregg Francis",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New Mexico
4,229,"Clark, Matthew",NaN,NaN,NM - New Mexico Boys School,Serial,1,1,1,0.0,...,0,0.0,0.0,2.0,NaN,NaN,"53,80",NaN,NaN,New Mexico
5,296,"Crump, Thomas Wayne",NaN,19601,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New Mexico
6,442,"Fry, Robert Ray","Fry, Bob",56859 / 416561,NM - PNM Level VI,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New Mexico
7,621,"Hendy, Cynthia Lea","Nemitz, Cynthia Lea; Hendy, Cindy",51679 / 27252,NM - NMWCF,Serial,2,1,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,New Mexico
8,845,"Madonda, Muziwokuthula",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New Mexico
9,1019,"Pruett, Marion Albert",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New Mexico
10,1038,"Ray, David Parker",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,New Mexico
11,1044,"Reese, Dennis Gene",NaN,209584,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New Mexico
12,1196,"St. Clair, Michael Dale",NaN,127514,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New Mexico
13,2334,"Baker, Edward",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,New Mexico
14,2338,"Battenfield, Billy Dean",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New Mexico
15,2932,"Chavez, Lorenzo",Low Down,23355 / 202,NM - PNM Level VI,Serial,1,3,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New Mexico
16,3271,"Fukiage, Sataro",NaN,NaN,NaN,Serial,1,4,0,NaN,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New Mexico

In [128]:
NM_df[["Name", "NumVics"]].head()

                        Name  NumVics
0          Ballinger, Delray        3
1       Bender, Jesse Howard        3
2  Bloomfield, Clifton Duane        6
3       Braun, Gregg Francis        5
4             Clark, Matthew        3

In [129]:
# Create dataframe for New York

csv_path = "NYserial.csv"
NY_df = pd.read_csv(csv_path)
NY_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,5,"Acevedo, Francisco A.",NaN,09A2456,NY - WENDE,Serial,1,3,0,0.0,...,0,0,0.0,0.0,75,NaN,NaN,NaN,---,NaN
1,8,"Adorno, George C.",NaN,NaN,NaN,Serial,1,3,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,9,"Aguilera, Jesus",NaN,82A6287,NY - Great Meadow,Serial,1,3,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,10,"Aikens, Thomas",NaN,81B0028,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,"695,884",NaN,NaN
4,14,"Alcala, Rodney James",NaN,C18300,CA - San Quentin,Serial,1,1,1,1.0,...,0,0,0.0,0.0,25,NaN,NaN,NaN,NaN,NaN

In [130]:
NY_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Acevedo, Francisco A.",Serial,3,USA-United States,NY,1968.0,21.0,1989,1996.0,1900.0,1980,Enjoyment - Rape,NaN,NaN,NaN
1,"Adorno, George C.",Serial,4,USA-United States,NY,1958.0,15.0,1974,1977.0,1900.0,1970,Enjoyment - No rape,NaN,NaN,NaN
2,"Aguilera, Jesus",Serial,4,USA-United States,NY,1954.0,27.0,1981,1981.0,1900.0,1980,Enjoyment - Power,1.0,NaN,NaN
3,"Aikens, Thomas",Serial,11,USA-United States,NY,1960.0,19.0,1980,1980.0,1900.0,1980,Financial Gain - Robbery - Retail,NaN,NaN,NaN
4,"Alcala, Rodney James",Serial,8,USA-United States,CA / NY,1943.0,27.0,1971,1979.0,1900.0,1970,Enjoyment - Rape,1.0,0.0,0.0

In [131]:
NY_df["Homestate"] = 'New York'
NY_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,5,"Acevedo, Francisco A.",NaN,09A2456,NY - WENDE,Serial,1,3,0,0.0,...,0,0.0,0.0,75,NaN,NaN,NaN,---,NaN,New York
1,8,"Adorno, George C.",NaN,NaN,NaN,Serial,1,3,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New York
2,9,"Aguilera, Jesus",NaN,82A6287,NY - Great Meadow,Serial,1,3,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New York
3,10,"Aikens, Thomas",NaN,81B0028,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,"695,884",NaN,NaN,New York
4,14,"Alcala, Rodney James",NaN,C18300,CA - San Quentin,Serial,1,1,1,1.0,...,0,0.0,0.0,25,NaN,NaN,NaN,NaN,NaN,New York
5,34,"Angelo, Richard",NaN,90A2242,NY - Great Meadow,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New York
6,35,"Ankers, Winifred",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Acquitted,NaN,New York
7,38,"Baldi, Joseph",NaN,75A0201,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New York
8,65,"Bateson, Paul",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,20 years to life,NaN,NaN,NaN,Serial-Self Proclaimed,NaN,New York
9,69,"Baxter, Patrick",NaN,97A2266,NY - ELMIRA,Serial,1,2,0,0.0,...,0,0.0,0.0,75,NaN,NaN,NaN,NaN,NaN,New York
10,73,"Beck, Martha",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,402,NaN,NaN,New York
11,81,"Beniquez, Jorge Adam","Beniquez, Adam J.",92A2825,NY - CLINTON,Serial,1,3,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New York
12,86,"Berkowitz, David Richard",Wolf. Richard David Falco,78A1976,NY - Sullivan Correctional Facility,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,8.0,New York
13,165,"Bullock, David",NaN,82A5787,NY - Attica,Serial,1,2,0,0.0,...,0,0.0,0.0,150,NaN,NaN,NaN,NaN,NaN,New York
14,189,"Caputo, Ricardo",NaN,NaN,NaN,Serial,1,3,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New York
15,208,"Catoe, Jarvis Theodore Roosevelt",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New York
16,220,"Chinn, Sam III",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New York
17,224,"Christopher, Joseph G.",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New York
18,277,"Cottingham, Richard Francis",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New York
19,292,"Creighton, Mary Frances",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,New York

In [132]:
NY_df[["Name", "NumVics"]].head()

                    Name  NumVics
0  Acevedo, Francisco A.        3
1      Adorno, George C.        4
2        Aguilera, Jesus        4
3         Aikens, Thomas       11
4   Alcala, Rodney James        8

In [133]:
# Create dataframe for North Carolina

csv_path = "NCserial.csv"
NC_df = pd.read_csv(csv_path)
NC_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,19,"Allen, Quincy Javon",NaN,00006019,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,21,"Alston, Robert Sylvester",NaN,0006572,NC - Warren CI,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,41,"Armstrong, John Eric",NaN,362407-2084912M,MI- Michigan Reformaory,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,6.0
3,56,"Barfield, Velma Bullard",Margie Velma Bullard. Lillie Bullard,0019092,NC - North Carolina Correctional Institution f...,Serial,2,1,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,62,"Barton, Corey Robert",NaN,0663696,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [134]:
NC_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Allen, Quincy Javon",Serial,4.0,USA-United States,SC / NC,1979.0,22.0,2002.0,2002.0,2000.0,2000.0,Financial Gain - Robbery - Retail,NaN,NaN,NaN
1,"Alston, Robert Sylvester",Serial,4.0,USA-United States,NC,1969.0,21.0,1991.0,1993.0,1900.0,1990.0,Enjoyment - Rape,NaN,NaN,NaN
2,"Armstrong, John Eric",Serial,6.0,"USA-United States, HKG-Hong Kong, SGP-Singapor...",HI / VA / OR / MI / NC,1973.0,20.0,1992.0,2000.0,2000.0,1990.0,Enjoyment - Rape,0.0,1.0,1.0
3,"Barfield, Velma Bullard",Serial,5.0,USA-United States,NC,1932.0,36.0,1969.0,1978.0,1900.0,1960.0,Financial Gain - Black Widow,1.0,1.0,0.0
4,"Barton, Corey Robert",Serial,2.0,USA-United States,NC / CT,NaN,18.0,1983.0,1998.0,1900.0,1980.0,Anger,NaN,1.0,1.0

In [135]:
NC_df["Homestate"] = 'North Carolina'
NC_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,19,"Allen, Quincy Javon",NaN,00006019,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,North Carolina
1,21,"Alston, Robert Sylvester",NaN,0006572,NC - Warren CI,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,North Carolina
2,41,"Armstrong, John Eric",NaN,362407-2084912M,MI- Michigan Reformaory,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,6.0,North Carolina
3,56,"Barfield, Velma Bullard",Margie Velma Bullard. Lillie Bullard,0019092,NC - North Carolina Correctional Institution f...,Serial,2,1,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,North Carolina
4,62,"Barton, Corey Robert",NaN,0663696,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,North Carolina
5,108,"Boczkowski, Timothy",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,North Carolina
6,116,"Borders, Donald Eugene",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,North Carolina
7,190,"Carawan, George Washington",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,North Carolina
8,242,"Coffey, Fred Howard Jr.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,North Carolina
9,265,"Cooper, Samuel James",NaN,0087162,NC - Marion CI,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,North Carolina
10,346,"Doss, Nancy Hazle","Doss, Nanny; Hazle Nancy; Hazel, Nancy",NaN,NaN,Serial,2,1,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,North Carolina
11,410,"Goble, Sean Patrick",NaN,0257362,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,North Carolina
12,458,"Gaskins, Donald",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,North Carolina
13,473,"Gibson, Gregory Devon",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,North Carolina
14,486,"Grace, James Willie",NaN,0151226,NaN,Spree,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,North Carolina
15,497,"Gray, Ronald Adrian",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,North Carolina
16,567,"Shrader, Marcus III",NaN,0368216,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,North Carolina
17,595,"Barbour, Miranda",NaN,NaN,PA - Northumberland County Prison,Serial,2,1,0,NaN,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN,North Carolina
18,618,"Hembree, Danny Robbie",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,North Carolina
19,639,"Hilton, Gary Michael",NaN,133897,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,North Carolina

In [136]:
NC_df[["Name", "NumVics"]].head()

                       Name  NumVics
0       Allen, Quincy Javon      4.0
1  Alston, Robert Sylvester      4.0
2      Armstrong, John Eric      6.0
3   Barfield, Velma Bullard      5.0
4      Barton, Corey Robert      2.0

In [137]:
# Create dataframe for North Dakota

csv_path = "NDserial.csv"
ND_df = pd.read_csv(csv_path)
ND_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,177,"Butler, Eugene",NaN,NaN,NaN,Serial,1.0,1.0,1.0,NaN,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,291,"Cream, Thomas Neill Dr.",NaN,NaN,NaN,Serial,1.0,1.0,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,573,"Britland, Mary Ann",NaN,NaN,NaN,Serial,2.0,1.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,575,"Jebson, Ronald",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,810,"Lefthand, Michael Shane",NaN,162391.0,NaN,Serial,1.0,NaN,NaN,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [138]:
ND_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Butler, Eugene",Serial,6,USA-United States,ND,1848.0,NaN,NaN,NaN,NaN,NaN,Enjoyment,NaN,NaN,NaN
1,"Cream, Thomas Neill Dr.",Serial,7,"CAN-Canada, USA-United States, ENG-England",Ontario / IL / London,1850.0,27.0,1877.0,1892.0,1800.0,1870.0,Enjoyment - No rape,1.0,0.0,0.0
2,"Britland, Mary Ann",Serial,3,ENG-England,North West England,NaN,39.0,1886.0,1886.0,1800.0,1880.0,Financial Gain - Family,NaN,NaN,NaN
3,"Jebson, Ronald",Serial,3,ENG-England,London,1939.0,30.0,1970.0,1974.0,1900.0,1970.0,NaN,1.0,NaN,NaN
4,"Lefthand, Michael Shane",Serial,3,USA-United States,MN / ND / WI,1960.0,25.0,1985.0,1990.0,1900.0,1980.0,Enjoyment,NaN,NaN,NaN

In [139]:
ND_df["Homestate"] = 'North Dakota'
ND_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,177,"Butler, Eugene",NaN,NaN,NaN,Serial,1.0,1.0,1.0,NaN,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,North Dakota
1,291,"Cream, Thomas Neill Dr.",NaN,NaN,NaN,Serial,1.0,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,North Dakota
2,573,"Britland, Mary Ann",NaN,NaN,NaN,Serial,2.0,1.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,North Dakota
3,575,"Jebson, Ronald",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,North Dakota
4,810,"Lefthand, Michael Shane",NaN,162391.0,NaN,Serial,1.0,NaN,NaN,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,North Dakota
5,1221,"Tapson, Floyd Richard",NaN,NaN,NaN,Serial,1.0,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,North Dakota
6,1389,"Adams, John Bodkin",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,North Dakota
7,1395,"Akinmurele, Stephen",NaN,NaN,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,North Dakota
8,1401,"Allgen, Tomas Lars Dr.","Allgen, Thomas",NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,1675,NaN,NaN,North Dakota
9,1402,"Allitt, Beverly",NaN,NaN,NaN,Serial,2.0,1.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,North Dakota
10,1419,"Bailey, Leslie Patrick",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,"1429, 1532",NaN,NaN,North Dakota
11,1429,"Barrell, Stephen",NaN,NaN,NaN,Serial,1.0,1.0,1.0,1.0,...,0,0.0,0.0,10.0,NaN,NaN,"1419, 1532",Serial-Suspected,NaN,North Dakota
12,1440,"Bellfield, Levi",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,North Dakota
13,1455,"Black, Robert",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,North Dakota
14,1468,"Brady, Ian",NaN,NaN,NaN,Serial,1.0,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,1701,NaN,NaN,North Dakota
15,1475,"Bryan, Peter",NaN,NaN,NaN,Serial,1.0,2.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,North Dakota
16,1481,"Burkitt, William",NaN,NaN,NaN,Serial,1.0,1.0,1.0,NaN,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,North Dakota
17,1482,"Burrows, Albert Edward",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,North Dakota
18,1494,"Cannan, John David",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,North Dakota
19,1518,"Christie, John Reginald",NaN,NaN,NaN,Serial,1.0,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,North Dakota

In [140]:
ND_df[["Name", "NumVics"]].head()

                      Name  NumVics
0           Butler, Eugene        6
1  Cream, Thomas Neill Dr.        7
2       Britland, Mary Ann        3
3           Jebson, Ronald        3
4  Lefthand, Michael Shane        3

In [141]:
# Create dataframe for Ohio

csv_path = "OHserial.csv"
OH_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
OH_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,4,"Abuelazam, Elias","Eli, Elias Abullazam",842658,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,153,"Brown, Debra Denise",NaN,NaN,NaN,Serial,2,2,0,0.0,...,0,0,0.0,0.0,999.0,NaN,NaN,247.0,NaN,NaN
2,160,"Bruce, David Lance",NaN,A526704,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,197,"Carr, Thomas D.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN
4,247,"Coleman, Alton",NaN,865839,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,153.0,NaN,NaN

In [142]:
OH_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Abuelazam, Elias",Serial,5,USA-United States,MI / VA / OH,1976.0,33.0,2009.0,2010,2000,2000.0,Anger - Racial,0.0,NaN,NaN
1,"Brown, Debra Denise",Serial,8,USA-United States,IN / OH,1962.0,21.0,1984.0,1984,1900,1980.0,Enjoyment - Rape,0.0,1.0,1.0
2,"Bruce, David Lance",Serial,3,USA-United States,OH,1963.0,41.0,2005.0,2005,2000,2000.0,Enjoyment - Rape,NaN,NaN,NaN
3,"Carr, Thomas D.",Serial,14,USA-United States,OH,1846.0,23.0,NaN,1869,1800,NaN,Anger - Revenge,1.0,NaN,NaN
4,"Coleman, Alton",Serial,8,USA-United States,IL / IN / OH / WI,1955.0,28.0,1984.0,1984,1900,1980.0,Enjoyment - Rape,1.0,1.0,1.0

In [143]:
OH_df["Homestate"] = 'Ohio'
OH_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,4,"Abuelazam, Elias","Eli, Elias Abullazam",842658,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Ohio
1,153,"Brown, Debra Denise",NaN,NaN,NaN,Serial,2,2,0,0.0,...,0,0.0,0.0,999.0,NaN,NaN,247.0,NaN,NaN,Ohio
2,160,"Bruce, David Lance",NaN,A526704,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Ohio
3,197,"Carr, Thomas D.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN,Ohio
4,247,"Coleman, Alton",NaN,865839,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,153.0,NaN,NaN,Ohio
5,252,"Colvin, Dellmus Charles",NaN,A536490,OH - Madison Correctional Institution,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Ohio
6,258,"Cook, Anthony H.",NaN,167235,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Ohio
7,260,"Cook, Nathaniel",NaN,A39221,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Ohio
8,298,"Cruz, James Robert, Jr.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Ohio
9,309,"Daniels, Robert Murl",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Ohio
10,341,"Dillon, Thomas Lee",NaN,A277618,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Ohio
11,368,"Eberling, Richard George",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Ohio
12,371,"Edwards, Edward Wayne",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Ohio
13,398,"Fautenberry, John Joseph",NaN,279989,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Ohio
14,410,"Goble, Sean Patrick",NaN,0257362,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Ohio
15,434,"Franklin, Joseph Paul",NaN,990133,MO,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Ohio
16,444,"Fuhr, Christian Stephen",NaN,A435248,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Ohio
17,468,"George, Nolan Ray",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Ohio
18,505,"Greenfield, Gloria Jean",NaN,W054905,NaN,Serial,2,1,0,0.0,...,0,0.0,0.0,12.0,NaN,NaN,NaN,NaN,NaN,Ohio
19,533,"Hahn, Anna Marie",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Ohio

In [144]:
OH_df[["Name", "NumVics"]].head()

                  Name  NumVics
0     Abuelazam, Elias        5
1  Brown, Debra Denise        8
2   Bruce, David Lance        3
3      Carr, Thomas D.       14
4       Coleman, Alton        8

In [145]:
# Create dataframe for Oklahoma

csv_path = "OKserial.csv"
OK_df = pd.read_csv(csv_path)
OK_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,28,"Anderson, Joshua Julius",NaN,586755,"OK - Oklahoma State Penitentiary, Mcalester",Serial,1,2,0,0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,70,"Beach, Aleata Mae",NaN,NaN,NaN,Serial,2,1,0,0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN
2,128,"Braun, Gregg Francis",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,248,"Coleman, Charles Troy",NaN,103494,NaN,Serial,1,1,1,0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,253,"Comer, Chester",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
OK_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Anderson, Joshua Julius",Serial,5,USA-United States,OK,1987.0,19.0,2006,2007,2000,2000,Financial Gain - Robbery,1.0,NaN,NaN
1,"Beach, Aleata Mae",Serial,4,USA-United States,OK,1946.0,48.0,1994,1994,1900,1990,Enjoyment - Power - Angel of Death,NaN,NaN,NaN
2,"Braun, Gregg Francis",Serial,5,USA-United States,OK / KS / TX / NM,1961.0,27.0,1989,1989,1900,1980,Financial Gain - Robbery - Retail,NaN,NaN,NaN
3,"Coleman, Charles Troy",Serial,3,USA-United States,OK,1947.0,31.0,1979,1979,1900,1970,Financial Gain - Robbery - Home Invasion,1.0,NaN,NaN
4,"Comer, Chester",Serial,5,USA-United States,OK,1910.0,24.0,1934,1935,1900,1930,Anger,NaN,NaN,NaN

In [147]:
OK_df["Homestate"] = 'Oklahoma'
OK_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,28,"Anderson, Joshua Julius",NaN,586755,"OK - Oklahoma State Penitentiary, Mcalester",Serial,1,2,0,0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Oklahoma
1,70,"Beach, Aleata Mae",NaN,NaN,NaN,Serial,2,1,0,0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN,Oklahoma
2,128,"Braun, Gregg Francis",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Oklahoma
3,248,"Coleman, Charles Troy",NaN,103494,NaN,Serial,1,1,1,0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Oklahoma
4,253,"Comer, Chester",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Oklahoma
5,320,"Davis, Charles William",NaN,96861,NaN,Serial,1,1,1,0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Oklahoma
6,346,"Doss, Nancy Hazle","Doss, Nanny; Hazle Nancy; Hazel, Nancy",NaN,NaN,Serial,2,1,0,0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Oklahoma
7,386,"Esposito, John Anthony",NaN,0000986823,NaN,Serial,1,1,1,1,...,0,0.0,0.0,NaN,NaN,NaN,1368.0,NaN,NaN,Oklahoma
8,417,"Goodin, Anthony J.",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Oklahoma
9,419,"Fischer, Joseph J.",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Oklahoma
10,434,"Franklin, Joseph Paul",NaN,990133,MO,Serial,1,1,1,1,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Oklahoma
11,454,"Garrison, Wayne Henry",NaN,90844,NaN,Serial,1,1,1,0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Oklahoma
12,655,"Howell, Michael Wayne",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Oklahoma
13,774,"Knighton, Robert Wesley",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Oklahoma
14,962,"Myers, Karl Lee",NaN,78224,NaN,Serial,1,1,1,1,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Oklahoma
15,1044,"Reese, Dennis Gene",NaN,209584,NaN,Serial,1,1,1,1,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Oklahoma
16,1118,"Schlatter, Darrell",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Oklahoma
17,1133,"Sellers, Sean Richard",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Oklahoma
18,1134,"Sells, Tommy Lynn",NaN,999367,NaN,Serial,1,1,1,1,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Oklahoma
19,1196,"St. Clair, Michael Dale",NaN,127514,NaN,Serial,1,1,1,0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Oklahoma

In [148]:
OK_df[["Name", "NumVics"]].head()

                      Name  NumVics
0  Anderson, Joshua Julius        5
1        Beach, Aleata Mae        4
2     Braun, Gregg Francis        5
3    Coleman, Charles Troy        3
4           Comer, Chester        5

In [149]:
# Create dataframe for Oregon

csv_path = "ORserial.csv"
OR_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
OR_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,41,"Armstrong, John Eric",NaN,362407-2084912M,MI- Michigan Reformaory,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,6.0
1,59,"Rode, Adolph James","Barone, Cesar",NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,44.0,NaN,NaN,NaN,NaN,NaN
2,83,"Bennett, Robert Eugene","ANDERSON, ROY WILLIAM; BENNETT, JOSEPH KING",53260,UT - WASATCH,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,88,"Bernson, Stanley",NaN,269474,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,125,"Braae, Michael John",NaN,270679,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [150]:
OR_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Armstrong, John Eric",Serial,6.0,"USA-United States, HKG-Hong Kong, SGP-Singapor...",HI / VA / OR / MI / NC,1973.0,20.0,1992.0,2000.0,2000.0,1990.0,Enjoyment - Rape,0.0,1.0,1.0
1,"Rode, Adolph James",Serial,5.0,USA-United States,OR / FL,1960.0,30.0,1979.0,1992.0,1900.0,1970.0,Enjoyment - Rape,1.0,0.0,0.0
2,"Bennett, Robert Eugene",Serial,2.0,USA-United States,OR / UT,1938.0,40.0,1978.0,1989.0,1900.0,1970.0,Anger - Revenge,NaN,NaN,NaN
3,"Bernson, Stanley",Serial,2.0,USA-United States,WA / OR,1936.0,39.0,1978.0,1979.0,1900.0,1970.0,Enjoyment - No rape,1.0,NaN,NaN
4,"Braae, Michael John",Serial,4.0,USA-United States,WA / OR,1959.0,37.0,1997.0,2001.0,2000.0,1990.0,Anger - Lost Control,1.0,NaN,NaN

In [151]:
OR_df["Homestate"] = 'Oregon'
OR_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,41,"Armstrong, John Eric",NaN,362407-2084912M,MI- Michigan Reformaory,Serial,1,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,6.0,Oregon
1,59,"Rode, Adolph James","Barone, Cesar",NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0.0,0.0,44.0,NaN,NaN,NaN,NaN,NaN,Oregon
2,83,"Bennett, Robert Eugene","ANDERSON, ROY WILLIAM; BENNETT, JOSEPH KING",53260,UT - WASATCH,Serial,1,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Oregon
3,88,"Bernson, Stanley",NaN,269474,NaN,Serial,1,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Oregon
4,125,"Braae, Michael John",NaN,270679,NaN,Serial,1,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Oregon
5,149,"Brown, Alvin Harold",NaN,5223754,NaN,Serial,1,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Oregon
6,161,"Brudos, Jerome Henry","Brudos, Jerry",33284,OR - Oregon State Penitentiary,Serial,1,1.0,1.0,1.0,...,0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Oregon
7,169,"Bundy, Theodore Robert","Bundy, Ted",A069063,FL - Raiford,Serial,1,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Oregon
8,211,"Chaffin, Benny Lee",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Oregon
9,236,"Cline, Alfred Leonard",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Oregon
10,263,"Coons, Michael J.",NaN,NaN,NaN,Serial,1,1.0,1.0,NaN,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Accused,NaN,Oregon
11,283,"Cox, Scott William",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Oregon
12,310,"Danielson, Robert Wayne Jr.",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Oregon
13,344,"Dodd, Westley Allan",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Oregon
14,398,"Fautenberry, John Joseph",NaN,279989,NaN,Serial,1,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Oregon
15,521,"Nelson, Earle Leonard",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Oregon
16,572,"Silveria, Robert Joseph",NaN,11298172,NaN,Serial,1,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Oregon
17,573,"Britland, Mary Ann",NaN,NaN,NaN,Serial,2,1.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Oregon
18,603,"Hart, Otha Harrison",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Oregon
19,691,"Jackson, Ray Van Buren",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Oregon

In [152]:
OR_df[["Name", "NumVics"]].head()

                     Name  NumVics
0    Armstrong, John Eric      6.0
1      Rode, Adolph James      5.0
2  Bennett, Robert Eugene      2.0
3        Bernson, Stanley      2.0
4     Braae, Michael John      4.0

In [153]:
# Create dataframe for Pennsylvania

csv_path = "PAserial.csv"
PA_df = pd.read_csv(csv_path)
PA_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,109,"Bolber, Morris",NaN,D-6210,PA - Eastern State Penitentiary,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,"1391,1582",NaN,NaN
1,114,"Bomar, Arthur Jerome",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,132,"Breslin, Joseph F.",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
3,222,"Christenson, William Dean",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,225,"Christopher, Leonard",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN

In [154]:
PA_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Bolber, Morris",Serial,30,USA-United States,PA,1890.0,NaN,1932.0,1938,1900,1930.0,Financial Gain,NaN,NaN,NaN
1,"Bomar, Arthur Jerome",Serial,3,USA-United States,PA,1959.0,37.0,1978.0,1997,1900,1970.0,Enjoyment - Rape,NaN,NaN,NaN
2,"Breslin, Joseph F.",Serial,4,USA-United States,NV / CA / PA,1950.0,32.0,1982.0,1982,1900,1980.0,Multiple motives,1.0,NaN,NaN
3,"Christenson, William Dean",Serial,4,"USA-United States, CAN-Canada",PA / MD,NaN,36.0,1982.0,1983,1900,1980.0,Multiple motives,1.0,NaN,NaN
4,"Christopher, Leonard",Serial,9,USA-United States,PA,1951.0,33.0,1985.0,1990,1900,1980.0,Enjoyment - Rape,NaN,NaN,NaN

In [155]:
PA_df["Homestate"] = 'Pennsylvania'
PA_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,109,"Bolber, Morris",NaN,D-6210,PA - Eastern State Penitentiary,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,"1391,1582",NaN,NaN,Pennsylvania
1,114,"Bomar, Arthur Jerome",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Pennsylvania
2,132,"Breslin, Joseph F.",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Pennsylvania
3,222,"Christenson, William Dean",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Pennsylvania
4,225,"Christopher, Leonard",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Pennsylvania
5,249,"Colin, Jack Lee",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Pennsylvania
6,280,"Covington, Juan",NaN,GN5163,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Pennsylvania
7,298,"Cruz, James Robert, Jr.",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Pennsylvania
8,300,"Cullen, Charles",NaN,000153648D,NJ - NJSP,Serial,1,1,1,1.0,...,0,0.0,0.0,"63,63,63,17,17,30,30,30,30,30",NaN,NaN,NaN,NaN,3.0,Pennsylvania
9,306,"D`Amato, Joseph Carmen",DAmato,AY2878,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Organized-Criminal Enterprise,NaN,Pennsylvania
10,312,"Daugherty, Jeffrey Joseph",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Pennsylvania
11,375,"Eichinger, John Charles",NaN,GL3402,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Pennsylvania
12,422,"Fitzsimmons, George Kearon Joseph",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Pennsylvania
13,434,"Franklin, Joseph Paul",NaN,990133,MO,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Pennsylvania
14,488,"Graham, Harrison T.",NaN,AS-0978,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Pennsylvania
15,529,"Gunning, James",NaN,000465469C,NaN,Serial,1,4,0,0.0,...,0,0.0,0.0,12,NaN,NaN,NaN,Serial-Suspected,NaN,Pennsylvania
16,551,"Noe, Marie",NaN,NaN,NaN,Serial,2,1,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Pennsylvania
17,610,"Hawkins, Thomas William",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Pennsylvania
18,699,"Jameswhite, Richard",NaN,812756,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Pennsylvania
19,720,"Johnson, Roderick Andre",NaN,DN 0530,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Pennsylvania

In [156]:
PA_df[["Name", "NumVics"]].head()

                        Name  NumVics
0             Bolber, Morris       30
1       Bomar, Arthur Jerome        3
2         Breslin, Joseph F.        4
3  Christenson, William Dean        4
4       Christopher, Leonard        9

In [157]:
# Create dataframe for Rhode Island

csv_path = "RIserial.csv"
RI_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
RI_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,291,"Cream, Thomas Neill Dr.",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,329,"Debardeleben, James Mitchell, II",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
2,579,"Johnson, Russell Maurice",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,582,"Jordan, Gilbert Paul",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,9,NaN,NaN,NaN,NaN,NaN
4,799,"Lassor, Raymond J.",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [158]:
RI_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Cream, Thomas Neill Dr.",Serial,7,"CAN-Canada, USA-United States, ENG-England",Ontario / IL / London,1850.0,27.0,1877.0,1892.0,1800.0,1870.0,Enjoyment - No rape,1.0,0.0,0.0
1,"Debardeleben, James Mitchell, II",Serial,3,USA-United States,LA / RI / MD / NJ,1940.0,31.0,1971.0,1982.0,1900.0,1970.0,Enjoyment - Rape,1.0,1.0,1.0
2,"Johnson, Russell Maurice",Serial,7,CAN-Canada,Ontario,1947.0,27.0,1973.0,1977.0,1900.0,1970.0,Enjoyment - Rape,1.0,NaN,NaN
3,"Jordan, Gilbert Paul",Serial,8,CAN-Canada,British Columbia,1931.0,33.0,1965.0,1987.0,1900.0,1960.0,Enjoyment,1.0,NaN,NaN
4,"Lassor, Raymond J.",Serial,3,USA-United States,RI,NaN,23.0,1984.0,1984.0,1900.0,1980.0,Enjoyment - Rape,NaN,NaN,NaN

In [159]:
RI_df["Homestate"] = 'Rhode Island'
RI_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,291,"Cream, Thomas Neill Dr.",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Rhode Island
1,329,"Debardeleben, James Mitchell, II",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Rhode Island
2,579,"Johnson, Russell Maurice",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Rhode Island
3,582,"Jordan, Gilbert Paul",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,9,NaN,NaN,NaN,NaN,NaN,Rhode Island
4,799,"Lassor, Raymond J.",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Rhode Island
5,847,"Mailhot, Jeffrey S.",NaN,126800.0,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,4.0,Rhode Island
6,1012,"Price, Craig Chandler",NaN,95484.0,NaN,Serial,1,2,0.0,0.0,...,0,0.0,0.0,15,NaN,NaN,NaN,NaN,NaN,Rhode Island
7,1023,"Quinn, Jane Taylor",NaN,NaN,NaN,Serial,2,1,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Rhode Island
8,1409,"Artieda, Ramiro",NaN,NaN,NaN,Serial,1,3,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Rhode Island
9,1410,"Arzberger, Gertraud",NaN,NaN,NaN,Serial,2,1,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Rhode Island
10,1446,"Bernardo, Paul Kenneth","Teale, Paul Jason",NaN,CAN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Rhode Island
11,1450,"Bichel, Andreas",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Historic,NaN,Rhode Island
12,1452,"Bilancia, Donato",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Rhode Island
13,1486,"Butorac, Davey Mato",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Rhode Island
14,1523,"Cleroux, Camille",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Rhode Island
15,1533,"Coombes, John Leslie",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Rhode Island
16,1561,"Deeming, Frederick Bailey",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Rhode Island
17,1564,"Denyer, Paul Charles",NaN,NaN,NaN,Serial,1,2,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Rhode Island
18,1577,"Dupas, Peter Norris",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Rhode Island
19,1601,"Ferrier, Martin",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN,Rhode Island

In [160]:
RI_df[["Name", "NumVics"]].head()

                               Name  NumVics
0           Cream, Thomas Neill Dr.        7
1  Debardeleben, James Mitchell, II        3
2          Johnson, Russell Maurice        7
3              Jordan, Gilbert Paul        8
4                Lassor, Raymond J.        3

In [161]:
# Create dataframe for South Carolina

csv_path = "SCserial.csv"
SC_df = pd.read_csv(csv_path)
SC_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,19,"Allen, Quincy Javon",NaN,00006019,NaN,Serial,1,2,0.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,48,"Atkins, Joseph Ernest",NaN,NaN,NaN,Serial,1,5,0.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,77,"Bell, Larry Gene",NaN,39872,NaN,Serial,1,1,1.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,118,"Bounds, Dallen Forrest",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,162,"Bryan, Joseph Francis Jr.",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [162]:
SC_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Allen, Quincy Javon",Serial,4.0,USA-United States,SC / NC,1979.0,22.0,2002.0,2002.0,2000.0,2000.0,Financial Gain - Robbery - Retail,NaN,NaN,NaN
1,"Atkins, Joseph Ernest",Serial,3.0,USA-United States,SC,1947.0,23.0,1969.0,1985.0,1900.0,1960.0,Anger - Revenge,1.0,1.0,1.0
2,"Bell, Larry Gene",Serial,3.0,USA-United States,SC / FL,1949.0,35.0,1984.0,1985.0,1900.0,1980.0,Enjoyment - Rape,1.0,NaN,NaN
3,"Bounds, Dallen Forrest",Serial,4.0,USA-United States,SC,1971.0,27.0,1999.0,1999.0,1900.0,1990.0,Financial Gain - Robbery - Retail,NaN,NaN,NaN
4,"Bryan, Joseph Francis Jr.",Serial,4.0,USA-United States,SC / FL / NJ / TN,1939.0,25.0,1964.0,1964.0,1900.0,1960.0,Enjoyment - Rape,1.0,NaN,NaN

In [163]:
SC_df["Homestate"] = 'South Carolina'
SC_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,19,"Allen, Quincy Javon",NaN,00006019,NaN,Serial,1,2,0.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,South Carolina
1,48,"Atkins, Joseph Ernest",NaN,NaN,NaN,Serial,1,5,0.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,South Carolina
2,77,"Bell, Larry Gene",NaN,39872,NaN,Serial,1,1,1.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,South Carolina
3,118,"Bounds, Dallen Forrest",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,South Carolina
4,162,"Bryan, Joseph Francis Jr.",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,South Carolina
5,173,"Burris, Patrick Tracy",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,South Carolina
6,212,"Chaney, Ben",NaN,032467,NaN,Serial,1,2,0.0,0.0,...,0,0,0,NaN,NaN,NaN,"1098,1243",NaN,NaN,South Carolina
7,322,"Davis, Daron Duane",NaN,NaN,NaN,Serial,1,2,0.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,South Carolina
8,458,"Gaskins, Donald",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,South Carolina
9,520,"Neely, Walter Leroy",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,South Carolina
10,618,"Hembree, Danny Robbie",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,South Carolina
11,634,"Hickson, Monroe",NaN,NaN,NaN,Serial,1,2,0.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,South Carolina
12,654,"Howard, Ronnie",NaN,NaN,NaN,Serial,1,2,0.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,South Carolina
13,809,"Lee, Tobias Chano",NaN,00331481,NaN,Serial,1,2,0.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,South Carolina
14,865,"Martin, Lee Roy",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,South Carolina
15,969,"Padgett, Ruby Carolyn",NaN,NaN,NaN,Serial,2,1,0.0,0.0,...,0,0,0,NaN,NaN,NaN,1150,NaN,NaN,South Carolina
16,994,"Pierce, William",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,South Carolina
17,1026,"Race, Glen Douglas",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,South Carolina
18,1063,"Rivera, Reinaldo Javier",NaN,1155294,NaN,Serial,1,3,0.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,South Carolina
19,1098,"Rutrell, Martin",NaN,NaN,NaN,Serial,1,2,0.0,0.0,...,0,0,0,NaN,NaN,NaN,"212,1243",NaN,NaN,South Carolina

In [164]:
SC_df[["Name", "NumVics"]].head()

                        Name  NumVics
0        Allen, Quincy Javon      4.0
1      Atkins, Joseph Ernest      3.0
2           Bell, Larry Gene      3.0
3     Bounds, Dallen Forrest      4.0
4  Bryan, Joseph Francis Jr.      4.0

In [165]:
# Create dataframe for South Dakota

csv_path = "SDserial.csv"
SD_df = pd.read_csv(csv_path)
SD_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,3193,"Sitts, George",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [166]:
SD_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Sitts, George",Serial,3,USA-United States,MN / SD,NaN,32,1945,1946,1900,1940,Multiple motives,NaN,NaN,NaN

In [167]:
SD_df["Homestate"] = 'South Dakota'
SD_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,3193,"Sitts, George",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,South Dakota

In [168]:
SD_df[["Name", "NumVics"]].head()

            Name  NumVics
0  Sitts, George        3

In [169]:
# Create dataframe for Tennessee

csv_path = "TNserial.csv"
TN_df = pd.read_csv(csv_path)
TN_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,162,"Bryan, Joseph Francis Jr.",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,166,"Bullock, Leroy",NaN,00143727,TN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,328,"Day, William Scott",NaN,00129461,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,410,"Goble, Sean Patrick",NaN,0257362,NaN,Serial,1,1,1,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,412,"Goins, Glenn Isaac",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN

In [170]:
TN_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Bryan, Joseph Francis Jr.",Serial,4,USA-United States,SC / FL / NJ / TN,1939.0,25.0,1964,1964,1900,1960,Enjoyment - Rape,1.0,NaN,NaN
1,"Bullock, Leroy",Serial,7,USA-United States,AR / TN / VA,1943.0,44.0,1988,1989,1900,1980,Financial Gain - Robbery - Home Invasion,NaN,NaN,NaN
2,"Day, William Scott",Serial,6,USA-United States,AZ / TN / TX,1951.0,33.0,1986,1987,1900,1980,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
3,"Goble, Sean Patrick",Serial,3,USA-United States,TN / NC / VA / OH,1966.0,28.0,1995,1995,1900,1990,Enjoyment - Rape,1.0,NaN,NaN
4,"Goins, Glenn Isaac",Serial,3,USA-United States,TN / KY / GA,NaN,17.0,1999,2004,2000,1990,Enjoyment - Rape,NaN,NaN,NaN

In [171]:
TN_df["Homestate"] = 'Tennessee'
TN_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,162,"Bryan, Joseph Francis Jr.",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Tennessee
1,166,"Bullock, Leroy",NaN,00143727,TN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Tennessee
2,328,"Day, William Scott",NaN,00129461,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Tennessee
3,410,"Goble, Sean Patrick",NaN,0257362,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Tennessee
4,412,"Goins, Glenn Isaac",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Tennessee
5,418,"Goodman, Keith Eugene",NaN,91-B-0194,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Tennessee
6,434,"Franklin, Joseph Paul",NaN,990133,MO,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Tennessee
7,592,"Harpe, Micajah",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Tennessee
8,593,"Harpe, Wiley",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Tennessee
9,645,"Hodges, Henry Eugene",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Tennessee
10,655,"Howell, Michael Wayne",NaN,NaN,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Tennessee
11,663,"Hunt, Brian Alpress",NaN,775734,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Tennessee
12,671,"Huskey, Thomas D.",NaN,255783,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Tennessee
13,729,"Jones, Henry Lee",NaN,00455040,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Tennessee
14,800,"Latham, James Douglas",NaN,NaN,KS - Lansing Correctional Facility,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,1376,NaN,NaN,Tennessee
15,846,"Magliolo, Michael Scott",NaN,00217012,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Tennessee
16,858,"Marcus, Jerry",NaN,NaN,NaN,Serial,1,2,0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Tennessee
17,908,"Mendenhall, Bruce",NaN,NaN,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Tennessee
18,915,"Milam, Garland Ray",NaN,00417012,NaN,Serial,1,1,1,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN,Tennessee
19,1022,"Putt, George Howard",NaN,72133,NaN,Serial,1,1,1,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Tennessee

In [172]:
TN_df[["Name", "NumVics"]].head()

                        Name  NumVics
0  Bryan, Joseph Francis Jr.        4
1             Bullock, Leroy        7
2         Day, William Scott        6
3        Goble, Sean Patrick        3
4         Goins, Glenn Isaac        3

In [173]:
# Create dataframe for Texas

csv_path = "TXserial.csv"
TX_df = pd.read_csv(csv_path)
TX_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,13,"Albright, Charles Frederick",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
1,51,"Ball, Joseph D.",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,55,"Barber, Danny Lee",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,92,"Bible, Danny Paul",NaN,999455,TX - Polunsky,Serial,1,1.0,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,94,"Billingslea, Darrell Bernard",NaN,01588458,NaN,Serial,1,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [174]:
TX_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Albright, Charles Frederick",Serial,3,USA-United States,TX,1933.0,57.0,1990.0,1991,1900,1990.0,Enjoyment - No rape,1.0,1.0,0.0
1,"Ball, Joseph D.",Serial,3,USA-United States,TX,1896.0,41.0,1937.0,1938,1900,1930.0,Financial Gain - Cost Cutter,1.0,1.0,1.0
2,"Barber, Danny Lee",Serial,4,USA-United States,TX,1955.0,23.0,1978.0,1979,1900,1970.0,Financial Gain - Robbery - Home Invasion,NaN,NaN,NaN
3,"Bible, Danny Paul",Serial,4,USA-United States,TX,1950.0,31.0,1979.0,1983,1900,1970.0,Enjoyment - Rape,1.0,NaN,NaN
4,"Billingslea, Darrell Bernard",Serial,3,USA-United States,TX,1970.0,18.0,1989.0,2008,2000,1980.0,Anger - Revenge,NaN,NaN,NaN

In [175]:
TX_df["Homestate"] = 'Texas'
TX_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,13,"Albright, Charles Frederick",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Texas
1,51,"Ball, Joseph D.",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Texas
2,55,"Barber, Danny Lee",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Texas
3,92,"Bible, Danny Paul",NaN,999455,TX - Polunsky,Serial,1,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Texas
4,94,"Billingslea, Darrell Bernard",NaN,01588458,NaN,Serial,1,2.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Texas
5,128,"Braun, Gregg Francis",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Texas
6,145,"Brooks, David Owen",NaN,00248288,NaN,Serial,1,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Texas
7,152,"Brown, Curtis Don",NaN,00440180,NaN,Serial,1,2.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Texas
8,159,"Broxton, Eugene Alvin",NaN,00999044,NaN,Serial,1,2.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Texas
9,183,"Camacho, Genaro Ruiz Jr.",NaN,NaN,NaN,Serial,1,3.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Texas
10,216,"Chavez, Juan Rodriguez",NaN,NaN,NaN,Serial,1,3.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Texas
11,218,"Chester, Elroy",NaN,00999280,NaN,Serial,1,2.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Texas
12,220,"Chinn, Sam III",NaN,NaN,NaN,Serial,1,2.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Texas
13,236,"Cline, Alfred Leonard",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Texas
14,270,"Corll, Dean",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Texas
15,273,"Corwin, Daniel Lee",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Texas
16,328,"Day, William Scott",NaN,00129461,NaN,Serial,1,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Texas
17,348,"Dowler, David Albert",NaN,00472904,NaN,Serial,1,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Texas
18,389,"Etheridge, Ellen",NaN,NaN,NaN,Serial,2,1.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Texas
19,390,"Evans, Donald Leroy",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Texas

In [176]:
TX_df[["Name", "NumVics"]].head()

                           Name  NumVics
0   Albright, Charles Frederick        3
1               Ball, Joseph D.        3
2             Barber, Danny Lee        4
3             Bible, Danny Paul        4
4  Billingslea, Darrell Bernard        3

In [177]:
# Create dataframe for Utah

csv_path = "UTserial.csv"
UT_df = pd.read_csv(csv_path)
UT_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,31,"Anderson, Russell M.",NaN,7030,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,40,"Arguelles, Roberto",NaN,NaN,NaN,Serial,1,3.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,98,"Bishop, Arthur Gary",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,434,"Franklin, Joseph Paul",NaN,990133,MO,Serial,1,1.0,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,563,"O`Neall, Darren Dee",ONeall,949114,NaN,Serial,1,2.0,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [178]:
UT_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Anderson, Russell M.",Serial,3,USA-United States,UT,1952.0,34.0,1987.0,1987.0,1900.0,1980.0,Financial Gain - Robbery,NaN,NaN,NaN
1,"Arguelles, Roberto",Serial,4,USA-United States,UT,1962.0,30.0,1992.0,1992.0,1900.0,1990.0,Enjoyment - Rape,1.0,NaN,NaN
2,"Bishop, Arthur Gary",Serial,5,USA-United States,UT,NaN,28.0,1979.0,1983.0,1900.0,1970.0,Enjoyment - Rape,1.0,0.0,0.0
3,"Franklin, Joseph Paul",Serial,21,USA-United States,GA / IN / MO / OH / OK / PA / TN / UT / VA / W...,1950.0,27.0,1977.0,1980.0,1900.0,1970.0,Anger - racial,0.0,1.0,1.0
4,"O`Neall, Darren Dee",Serial,6,USA-United States,WA / ID / UT,1960.0,26.0,1987.0,1987.0,1900.0,1980.0,Enjoyment - Rape,1.0,0.0,0.0

In [179]:
UT_df["Homestate"] = 'Utah'
UT_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,31,"Anderson, Russell M.",NaN,7030,NaN,Serial,1,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Utah
1,40,"Arguelles, Roberto",NaN,NaN,NaN,Serial,1,3.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Utah
2,98,"Bishop, Arthur Gary",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Utah
3,434,"Franklin, Joseph Paul",NaN,990133,MO,Serial,1,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Utah
4,563,"O`Neall, Darren Dee",ONeall,949114,NaN,Serial,1,2.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Utah
5,572,"Silveria, Robert Joseph",NaN,11298172,NaN,Serial,1,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Utah
6,679,"Jablonski, Phillip Carl",NaN,C-02477,NaN,Serial,1,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Utah
7,707,"Johnson, Alvin",NaN,NaN,NaN,Serial,1,2.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Utah
8,749,"Kelbach, Walter",NaN,11867,NaN,Serial,1,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Utah
9,790,"Lance, Myron",NaN,111199,NaN,Serial,1,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,749,NaN,NaN,Utah
10,880,"McCrary, Sherman Ramon",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,"1229,3115,3116",NaN,NaN,Utah
11,1050,"Rhoades, Paul Ezra",NaN,26864,NaN,Serial,1,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Utah
12,1051,"Rhoades, Robert Ben",NaN,B24683,IL - Pontiac Correctional,Serial,1,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Utah
13,1229,"Taylor, Raymond Carl",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,"880,3115,3116",NaN,NaN,Utah
14,1264,"Troyer, Daniel Ray",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Utah
15,1377,"Young, David Franklin",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Utah
16,1380,"Younge, Donald Eugene",NaN,76379,NaN,Serial,1,2.0,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Utah
17,1389,"Adams, John Bodkin",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Utah
18,1419,"Bailey, Leslie Patrick",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,"1429, 1532",NaN,NaN,Utah
19,1420,"Balaban, John",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Utah

In [180]:
UT_df[["Name", "NumVics"]].head()

                    Name  NumVics
0   Anderson, Russell M.        3
1     Arguelles, Roberto        4
2    Bishop, Arthur Gary        5
3  Franklin, Joseph Paul       21
4    O`Neall, Darren Dee        6

In [181]:
# Create dataframe for Vermont

csv_path = "VTserial.csv"
VT_df = pd.read_csv(csv_path)
VT_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,837,"Luther, Thomas Edward",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
1,978,"Paul, James Allen",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,1115,"Schaefer, Gary Lee",NaN,19167.0,NaN,Serial,1,1,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2838,"Keyes, Israel",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0,1,0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN

In [182]:
VT_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Luther, Thomas Edward",Serial,3,USA-United States,VT / CO / WV / PA,1957,25.0,1982,1993,1900,1980,Enjoyment - Rape,1.0,1.0,1.0
1,"Paul, James Allen",Serial,3,USA-United States,CT / NJ / VT,1947,37.0,1984,1984,1900,1980,Enjoyment - No rape,NaN,NaN,NaN
2,"Schaefer, Gary Lee",Serial,3,USA-United States,VT,1951,28.0,1979,1983,1900,1970,Enjoyment - Rape,1.0,NaN,NaN
3,"Keyes, Israel",Serial,11,USA-United States,AK / VT / WA,1978,NaN,2001,2012,2000,2000,NaN,1.0,NaN,NaN

In [183]:
VT_df["Homestate"] = 'Vermont'
VT_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,837,"Luther, Thomas Edward",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Vermont
1,978,"Paul, James Allen",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Vermont
2,1115,"Schaefer, Gary Lee",NaN,19167.0,NaN,Serial,1,1,1,1,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Vermont
3,2838,"Keyes, Israel",NaN,NaN,NaN,Serial,1,1,1,1,...,0,1,0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN,Vermont

In [184]:
VT_df[["Name", "NumVics"]].head()

                    Name  NumVics
0  Luther, Thomas Edward        3
1      Paul, James Allen        3
2     Schaefer, Gary Lee        3
3          Keyes, Israel       11

In [185]:
# Create dataframe for Virginia

csv_path = "VAserial.csv"
VA_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
VA_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,4,"Abuelazam, Elias","Eli, Elias Abullazam",842658,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,25,"Anderson, Allen Leroy",NaN,101147,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,32,"Andrews, Joshua Wayne",SCARFACE,404004,NaN,Serial,1,2,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,290,NaN,NaN
3,41,"Armstrong, John Eric",NaN,362407-2084912M,MI- Michigan Reformaory,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,6.0
4,43,"Arnold, Noah","Ford, Robert",NaN,NaN,Serial,1,2,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,2424,NaN,NaN

In [186]:
VA_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Abuelazam, Elias",Serial,5.0,USA-United States,MI / VA / OH,1976.0,33.0,2009.0,2010.0,2000.0,2000.0,Anger - Racial,0.0,NaN,NaN
1,"Anderson, Allen Leroy",Serial,8.0,USA-United States,CA / FL / MN / VA,1943.0,33.0,1976.0,1976.0,1900.0,1970.0,Financial Gain - Robbery - Random Street,1.0,NaN,NaN
2,"Andrews, Joshua Wayne",Serial,3.0,USA-United States,VA,1982.0,19.0,2001.0,2002.0,2000.0,2000.0,Financial Gain - Robbery - Home Invasion,1.0,NaN,1.0
3,"Armstrong, John Eric",Serial,6.0,"USA-United States, HKG-Hong Kong, SGP-Singapor...",HI / VA / OR / MI / NC,1973.0,20.0,1992.0,2000.0,2000.0,1990.0,Enjoyment - Rape,0.0,1.0,1.0
4,"Arnold, Noah",Serial,2.0,USA-United States,MN / FL / CA / VA,1892.0,24.0,1917.0,1923.0,1900.0,1910.0,Financial Gain,NaN,NaN,NaN

In [187]:
VA_df["Homestate"] = 'Virginia'
VA_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,4,"Abuelazam, Elias","Eli, Elias Abullazam",842658,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Virginia
1,25,"Anderson, Allen Leroy",NaN,101147,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Virginia
2,32,"Andrews, Joshua Wayne",SCARFACE,404004,NaN,Serial,1,2,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,290,NaN,NaN,Virginia
3,41,"Armstrong, John Eric",NaN,362407-2084912M,MI- Michigan Reformaory,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,6.0,Virginia
4,43,"Arnold, Noah","Ford, Robert",NaN,NaN,Serial,1,2,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,2424,NaN,NaN,Virginia
5,57,"Barker, Glenn Haslam",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Virginia
6,137,"Briley, Anthony Ray",NaN,NaN,NaN,Serial,1,2,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Virginia
7,138,"Briley, James Dyral",NaN,NaN,NaN,Serial,1,2,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Virginia
8,139,"Briley, Linwood Earl",NaN,NaN,NaN,Serial,1,2,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Virginia
9,166,"Bullock, Leroy",NaN,00143727,TN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Virginia
10,171,"Burchart, Leslie Leon",NaN,NaN,NaN,Serial,1,2,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Virginia
11,242,"Coffey, Fred Howard Jr.",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Virginia
12,290,"Crawford, Jamel Shaleke",NaN,NaN,NaN,Serial,1,2,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,32,NaN,NaN,Virginia
13,297,"Crutchley, John Brennan",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Virginia
14,352,"Dudley, Irene Gwyn",NaN,NaN,NaN,Serial,2,1,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,353,NaN,NaN,Virginia
15,353,"Dudley, Kenneth Edwin",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,352,NaN,NaN,Virginia
16,357,"Dunbar, Jerry Lee",NaN,NaN,NaN,Serial,1,2,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Virginia
17,392,"Evonitz, Richard Marc",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Virginia
18,410,"Goble, Sean Patrick",NaN,0257362,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Virginia
19,416,"Goode, Arthur Frederick",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Virginia

In [188]:
VA_df[["Name", "NumVics"]].head()

                    Name  NumVics
0       Abuelazam, Elias      5.0
1  Anderson, Allen Leroy      8.0
2  Andrews, Joshua Wayne      3.0
3   Armstrong, John Eric      6.0
4           Arnold, Noah      2.0

In [189]:
# Create dataframe for Washington

csv_path = "WAserial.csv"
WA_df = pd.read_csv(csv_path)
WA_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,52,"Ballard, Billy Ray",NaN,19860610001,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,66,"Batten, William Calvin",NaN,287380,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
2,88,"Bernson, Stanley",NaN,269474,NaN,Serial,1,1,1.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,91,"Bianchi, Kenneth A.","Walker, Steve; Billy; Ish; DAmato, Anthony A.;...",266961,WA - Washington State Penitentiary,Serial,1,1,1.0,1.0,...,0,0,0.0,0.0,NaN,NaN,NaN,170,NaN,NaN
4,95,"Bird, Jake",NaN,21520,WA - Walla Walla WSP,Serial,1,2,0.0,0.0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [190]:
WA_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Ballard, Billy Ray",Serial,2,USA-United States,WA / WY,1953.0,31.0,1985.0,1985.0,1900.0,1980.0,Enjoyment - Rape,NaN,NaN,NaN
1,"Batten, William Calvin",Serial,3,USA-United States,WA,NaN,22.0,1969.0,1975.0,1900.0,1960.0,Enjoyment - No rape,1.0,NaN,NaN
2,"Bernson, Stanley",Serial,2,USA-United States,WA / OR,1936.0,39.0,1978.0,1979.0,1900.0,1970.0,Enjoyment - No rape,1.0,NaN,NaN
3,"Bianchi, Kenneth A.",Serial,12,USA-United States,CA / WA,1951.0,26.0,1977.0,1979.0,1900.0,1970.0,Enjoyment - Rape,0.0,0.0,1.0
4,"Bird, Jake",Serial,44,USA-United States,WA,1901.0,34.0,1935.0,1949.0,1900.0,1930.0,Enjoyment - Rape,1.0,NaN,NaN

In [191]:
WA_df["Homestate"] = 'Washington'
WA_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,52,"Ballard, Billy Ray",NaN,19860610001,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Washington
1,66,"Batten, William Calvin",NaN,287380,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Washington
2,88,"Bernson, Stanley",NaN,269474,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Washington
3,91,"Bianchi, Kenneth A.","Walker, Steve; Billy; Ish; DAmato, Anthony A.;...",266961,WA - Washington State Penitentiary,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,170,NaN,NaN,Washington
4,95,"Bird, Jake",NaN,21520,WA - Walla Walla WSP,Serial,1,2,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Washington
5,125,"Braae, Michael John",NaN,270679,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Washington
6,169,"Bundy, Theodore Robert","Bundy, Ted",A069063,FL - Raiford,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Washington
7,172,"Burkhart, Timothy Ray",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Washington
8,185,"Canaday, John Dwight","Canaday, James Dwight",126865,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Washington
9,191,"Carignan, Harvey Louis",NaN,100736,MN - Minnesota Correctional Facility Stillwater,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Washington
10,231,"Clark, Robert Daniel",NaN,R40539,IL,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Washington
11,269,"Corliss, Charles Edward",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Washington
12,283,"Cox, Scott William",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Washington
13,314,"Daveggio, James Anthony",NaN,T68062,CA - San Quentin,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Washington
14,319,"Davis, Cecil Emile",NaN,NaN,NaN,Serial,1,2,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Washington
15,344,"Dodd, Westley Allan",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Washington
16,358,"Duncan, Joesph Edward",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Washington
17,376,"Elledge, James Homer",NaN,NaN,NaN,Serial,1,1,1.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Washington
18,380,"Elton, Dwayne W.",NaN,NaN,NaN,Serial,1,2,0.0,0.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Washington
19,390,"Evans, Donald Leroy",NaN,NaN,NaN,Serial,1,1,1.0,1.0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Washington

In [192]:
WA_df[["Name", "NumVics"]].head(10)

                     Name  NumVics
0      Ballard, Billy Ray        2
1  Batten, William Calvin        3
2        Bernson, Stanley        2
3     Bianchi, Kenneth A.       12
4              Bird, Jake       44
5     Braae, Michael John        4
6  Bundy, Theodore Robert       31
7   Burkhart, Timothy Ray        4
8    Canaday, John Dwight        3
9  Carignan, Harvey Louis        5

In [193]:
# Create dataframe for West Virginia

csv_path = "WVserial.csv"
WV_df = pd.read_csv(csv_path)
WV_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,219,"Childers, James E.",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,434,"Franklin, Joseph Paul",NaN,990133,MO,Serial,1,1,1,1,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,837,"Luther, Thomas Edward",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
3,1008,"Powers, Harry F.",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1134,"Sells, Tommy Lynn",NaN,999367,NaN,Serial,1,1,1,1,...,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [194]:
WV_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Childers, James E.",Serial,3,USA-United States,WV,1964.0,41.0,2004,2009,2000,2000,Anger - Revenge,0.0,NaN,NaN
1,"Franklin, Joseph Paul",Serial,21,USA-United States,GA / IN / MO / OH / OK / PA / TN / UT / VA / W...,1950.0,27.0,1977,1980,1900,1970,Anger - racial,0.0,1.0,1.0
2,"Luther, Thomas Edward",Serial,3,USA-United States,VT / CO / WV / PA,1957.0,25.0,1982,1993,1900,1980,Enjoyment - Rape,1.0,1.0,1.0
3,"Powers, Harry F.",Serial,5,USA-United States,WV,1892.0,39.0,1931,1931,1900,1930,Enjoyment - Power - Bluebeard,1.0,0.0,0.0
4,"Sells, Tommy Lynn",Serial,29,USA-United States,TX / CA / ID / OR / MO / NY / NV / IL / MA / A...,1964.0,21.0,1985,1999,1900,1980,Enjoyment - Rape,1.0,1.0,1.0

In [195]:
WV_df["Homestate"] = 'West Virginia'
WV_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,219,"Childers, James E.",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,West Virginia
1,434,"Franklin, Joseph Paul",NaN,990133,MO,Serial,1,1,1,1,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,West Virginia
2,837,"Luther, Thomas Edward",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0.0,0.0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,West Virginia
3,1008,"Powers, Harry F.",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,West Virginia
4,1134,"Sells, Tommy Lynn",NaN,999367,NaN,Serial,1,1,1,1,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,West Virginia
5,1299,"Walton, Edward",NaN,NaN,NaN,Serial,1,2,0,0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,West Virginia
6,1349,"Williams, Ronald Turney",NaN,NaN,NaN,Serial,1,1,1,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,West Virginia
7,2508,"Johnston, John",NaN,NaN,NaN,Serial,1,2,0,0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,West Virginia
8,2913,"Blake, Eugene",NaN,A626901; 10947-1,OH - Chillicothe Correctional Institution,Serial,1,1,1,1,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,West Virginia
9,3174,"Robbins, Malcolm Joseph",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,4.0,West Virginia
10,3236,"Wickline, William Dean",NaN,178066,NaN,Serial,1,1,1,1,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,West Virginia

In [196]:
WV_df[["Name", "NumVics"]].head()

                    Name  NumVics
0     Childers, James E.        3
1  Franklin, Joseph Paul       21
2  Luther, Thomas Edward        3
3       Powers, Harry F.        5
4      Sells, Tommy Lynn       29

In [197]:
# Create dataframe for Wisconsin

csv_path = "WIserial.csv"
WI_df = pd.read_csv(csv_path, encoding = "ISO-8859-1")
WI_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,154,"Brown, Kim S.",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
1,247,"Coleman, Alton",NaN,865839,NaN,Serial,1,2.0,0.0,0.0,...,0,0,0,0,NaN,NaN,NaN,153.0,NaN,NaN
2,304,"Dahmer, Jeffrey",NaN,NaN,WI-Columbia Correctional Institute,Serial,1,1.0,1.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,362,"Duquette, James",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,371,"Edwards, Edward Wayne",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [198]:
WI_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Brown, Kim S.",Serial,3,USA-United States,WI,NaN,18.0,1987.0,1987.0,1900.0,1980.0,Enjoyment - Rape,1.0,1.0,1.0
1,"Coleman, Alton",Serial,8,USA-United States,IL / IN / OH / WI,1955.0,28.0,1984.0,1984.0,1900.0,1980.0,Enjoyment - Rape,1.0,1.0,1.0
2,"Dahmer, Jeffrey",Serial,17,USA-United States,WI,1960.0,18.0,1978.0,1991.0,1900.0,1970.0,Enjoyment - Rape,1.0,0.0,0.0
3,"Duquette, James",Serial,3,USA-United States,WI / IL,1958.0,19.0,1978.0,1987.0,1900.0,1970.0,Enjoyment - Rape,1.0,NaN,NaN
4,"Edwards, Edward Wayne",Serial,5,USA-United States,OH / WI,1933.0,44.0,1977.0,1996.0,1900.0,1970.0,Multiple motives,1.0,1.0,1.0

In [199]:
WI_df["Homestate"] = 'Wisconsin'
WI_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,154,"Brown, Kim S.",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Wisconsin
1,247,"Coleman, Alton",NaN,865839,NaN,Serial,1,2.0,0.0,0.0,...,0,0,0,NaN,NaN,NaN,153.0,NaN,NaN,Wisconsin
2,304,"Dahmer, Jeffrey",NaN,NaN,WI-Columbia Correctional Institute,Serial,1,1.0,1.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Wisconsin
3,362,"Duquette, James",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Wisconsin
4,371,"Edwards, Edward Wayne",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Wisconsin
5,378,"Ellis, Walter E.",NaN,NaN,NaN,Serial,1,2.0,0.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Wisconsin
6,399,"Fayne, Lorenzo",NaN,B26556,IL - Menard Correctional,Serial,1,2.0,0.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Wisconsin
7,434,"Franklin, Joseph Paul",NaN,990133,MO,Serial,1,1.0,1.0,1.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Wisconsin
8,538,"Hall, Larry DeWayne",NaN,27211,MO - Federal Medical Center for Prisoners,Serial,1,1.0,1.0,1.0,...,0,0,0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN,Wisconsin
9,628,"Herrington, Michael Lee",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Wisconsin
10,734,"Jones, Sydney",NaN,NaN,NaN,Serial,1,2.0,0.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Wisconsin
11,810,"Lefthand, Michael Shane",NaN,162391,NaN,Serial,1,NaN,NaN,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Wisconsin
12,840,"Macek, Richard Otto",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Wisconsin
13,971,"Pankow, Sandra",NaN,NaN,NaN,Serial,2,1.0,0.0,0.0,...,0,0,0,40.0,NaN,NaN,NaN,NaN,NaN,Wisconsin
14,1186,"Spanbauer, David F.",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Wisconsin
15,1231,"Tenneson, Michael",NaN,58213,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Wisconsin
16,1359,"Wirth, Robert J.",NaN,00102154,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Wisconsin
17,1384,"Zamastil, William Floyd",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Wisconsin
18,1789,"Legere, Allan Joseph",NaN,NaN,NaN,Serial,1,1.0,1.0,0.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Wisconsin
19,1999,"Peiry, Michel",NaN,NaN,NaN,Serial,1,1.0,1.0,1.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Wisconsin

In [200]:
WI_df[["Name", "NumVics"]].head()

                    Name  NumVics
0          Brown, Kim S.        3
1         Coleman, Alton        8
2        Dahmer, Jeffrey       17
3        Duquette, James        3
4  Edwards, Edward Wayne        5

In [201]:
# Create dataframe for Wyoming

csv_path = "WYserial.csv"
WY_df = pd.read_csv(csv_path)
WY_df.head()

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,OtherTotem,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics
0,367,"Eaton, Dale Wayne",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN
1,572,"Silveria, Robert Joseph",NaN,11298172.0,NaN,Serial,1,1,1,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [202]:
WY_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,"Eaton, Dale Wayne",Serial,6,USA-United States,WY,1945,43,1988,2001,2000,1980,Enjoyment - Rape,1,1,1
1,"Silveria, Robert Joseph",Serial,11,USA-United States,OR / WY / UT / AZ / KS / WA / FL,1959,36,1989,1995,1900,1980,Enjoyment - No rape,1,0,1

In [203]:
WY_df["Homestate"] = 'Wyoming'
WY_df.head(20)

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,367,"Eaton, Dale Wayne",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,NaN,NaN,NaN,NaN,Serial-Suspected,NaN,Wyoming
1,572,"Silveria, Robert Joseph",NaN,11298172.0,NaN,Serial,1,1,1,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Wyoming

In [204]:
WY_df[["Name", "NumVics"]].head()

                      Name  NumVics
0        Eaton, Dale Wayne        6
1  Silveria, Robert Joseph       11

In [205]:
# filtered columns

#_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

# Victim count

#_df[["Name", "NumVics"]].head()

In [206]:
# filtered columns

#_df[["Name", "KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]].head()

In [207]:
# List of all state dataframes

dfList = [AK_df, AL_df, AZ_df, AR_df, CA_df, CO_df, CT_df, DE_df, FL_df, GA_df, HI_df, ID_df, IL_df, IN_df, IA_df,
          KS_df, KY_df, LA_df, ME_df, MD_df, MA_df, MI_df, MN_df, MS_df, MO_df, MT_df, NE_df, NV_df, NH_df, NJ_df,
          NM_df, NY_df, NC_df, ND_df, OH_df, OK_df, OR_df, PA_df, RI_df, SC_df, SD_df, TN_df, TX_df, UT_df, VT_df, VA_df,
          WA_df, WV_df, WI_df, WY_df]

dfList[0]

,ID,Name,Alias,PrisonNum,PrisonState,KilrType,Sex,Race,WhiteMale,WhiteMale20s,...,2020,BodyWater,BodySunk,YrsSent,DobbertPri,DobbertSec,PartnerID,KilrSubType,AttmpVics,Homestate
0,167,"Bunday, Thomas Richard",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
1,191,"Carignan, Harvey Louis",NaN,100736.0,MN - Minnesota Correctional Facility Stillwater,Serial,1,1,1,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
2,278,"Courtney, Robert Lezelle",NaN,NaN,NaN,Serial,1,1,1,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
3,398,"Fautenberry, John Joseph",NaN,279989.0,NaN,Serial,1,1,1,1,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
4,589,"Hansen, Robert Christian",NaN,12882.0,AK - Spring Creek Correctional Center,Serial,1,1,1,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
5,898,"Meach, Charles L., III",NaN,NaN,AK - Cook Inlet Jail,Serial,1,1,1,1,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
6,1433,Bayquni,NaN,NaN,NaN,Serial,1,4,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
7,1640,Girish,NaN,NaN,NaN,Serial,1,4,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
8,1656,"Greb, Alexander",NaN,NaN,NaN,Serial,1,1,1,1,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
9,2052,"Reddy, Umesh",NaN,NaN,NaN,Serial,1,4,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
10,2838,"Keyes, Israel",NaN,NaN,NaN,Serial,1,1,1,1,...,0,1,0,NaN,NaN,NaN,NaN,Serial-Self Proclaimed,NaN,Alaska

In [208]:
# Create function to filter down column headers

def reduceDF(df):
    return df[["ID","Name","KilrType", "NumVics", "Kilcountry", "Kilstate", "birthyear", "Age1stKil","YearFirst", "YearFinal", "Century", "DecStart","AamodtType","PrevArr","PsychAbus","PhysAbus"]]

In [209]:
reduceDF(AK_df).head(20)

,ID,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,167,"Bunday, Thomas Richard",Serial,5,USA-United States,AK,1948.0,30.0,1979,1981,1900,1970,Enjoyment - Rape,NaN,NaN,1.0
1,191,"Carignan, Harvey Louis",Serial,5,USA-United States,MN / AK / WA,1927.0,46.0,1972,1974,1900,1970,Mental Illness - Visionary,1.0,1.0,1.0
2,278,"Courtney, Robert Lezelle",Serial,6,USA-United States,CA / AK,1944.0,13.0,1958,1992,1900,1950,Anger - Revenge,1.0,NaN,NaN
3,398,"Fautenberry, John Joseph",Serial,6,USA-United States,AK / OH / OR,1963.0,27.0,1990,1991,1900,1990,Financial Gain - Robbery - Random Street,1.0,1.0,1.0
4,589,"Hansen, Robert Christian",Serial,17,USA-United States,AK,1939.0,34.0,1973,1983,1900,1970,Enjoyment - Rape,1.0,1.0,0.0
5,898,"Meach, Charles L., III",Serial,5,USA-United States,AK,1947.0,24.0,1973,1982,1900,1970,Anger - Lost Control,1.0,NaN,NaN
6,1433,Bayquni,Serial,14,IDN-Indonesia,Jakarta,NaN,46.0,2007,2008,2000,2000,NaN,NaN,NaN,NaN
7,1640,Girish,Serial,4,IND-India,Kamataka,1984.0,26.0,2010,2010,2000,2010,Enjoyment - Rape,1.0,NaN,NaN
8,1656,"Greb, Alexander",Serial,3,RUS-Russia,Krasnoyaruzhsky / Rakitinsky,NaN,25.0,2004,2004,2000,2000,Anger,NaN,NaN,NaN
9,2052,"Reddy, Umesh",Serial,18,IND-India,Karnataka,NaN,NaN,2006,2006,2000,2000,Enjoyment,NaN,NaN,NaN
10,2838,"Keyes, Israel",Serial,11,USA-United States,AK / VT / WA,1978.0,NaN,2001,2012,2000,2000,NaN,1.0,NaN,NaN

In [210]:
# Create an array to hold the new, reduced list 
# Loop to make new reduced list

newDFList = []
for df in dfList:
    newDFList.append(reduceDF(df))

In [211]:
newDFList[49]

,ID,Name,KilrType,NumVics,Kilcountry,Kilstate,birthyear,Age1stKil,YearFirst,YearFinal,Century,DecStart,AamodtType,PrevArr,PsychAbus,PhysAbus
0,367,"Eaton, Dale Wayne",Serial,6,USA-United States,WY,1945,43,1988,2001,2000,1980,Enjoyment - Rape,1,1,1
1,572,"Silveria, Robert Joseph",Serial,11,USA-United States,OR / WY / UT / AZ / KS / WA / FL,1959,36,1989,1995,1900,1980,Enjoyment - No rape,1,0,1

In [212]:
tl = 0
dfFinal = []

for df in dfList:
    Test = dfList[tl][["Name","Homestate","Kilstate"]]
    dfFinal.append(Test)
    Test=pd.concat(dfFinal, axis=0)
    tl = tl+1
dfFinal[2]



#frames = [AK_df,AR_df]
#result = dfinal.append([AK_df,AR_df])
#result.count()

,Name,Homestate,Kilstate
0,"Canonico, Frank Anthony",Arizona,FL / CA / LA / AZ
1,"Coffman, Cynthia Lynn",Arizona,AZ / CA
2,"Danielson, Robert Wayne Jr.",Arizona,OR / AZ / CA
3,"Day, William Scott",Arizona,AZ / TN / TX
4,"Dudley, Irene Gwyn",Arizona,VA / NY / FL / AZ / KY
5,"Dudley, Kenneth Edwin",Arizona,VA / NY / FL / AZ / KY
6,"Goudeau, Mark",Arizona,AZ
7,"Greenawalt, Randy",Arizona,AZ / CO
8,"Gretzler, Douglas E.",Arizona,AZ / CA
9,"Silveria, Robert Joseph",Arizona,OR / WY / UT / AZ / KS / WA / FL
10,"Britz, Jan Johannes",Arizona,KwaZulu-Natal
11,"Jordaan, Juan",Arizona,KwaZulu-Natal
12,"Harding, Donald Eugene",Arizona,AR / AZ / CA / TX
13,"Hausner, Dale S.",Arizona,AZ
14,"Hunt, David Scott",Arizona,AZ
15,"Inmon, William",Arizona,AZ
16,"Ivery, Samuel Lee",Arizona,AL / CA / AZ / IL
17,"Lee, Chad Alan",Arizona,AZ
18,"Lehr, Scott Alan",Arizona,AZ
19,"Malvo, Lee Boyd",Arizona,AL / AZ / DC / GA / LA / MD / TX / VA
20,"Marlow, James Gregory",Arizona,AZ / CA
21,"Milam, Garland Ray",Arizona,TN / AZ
22,"Morris, Cory Deonn",Arizona,AZ
23,"Muhammad, John Allen",Arizona,AL / AZ / DC / GA / LA / MD / TX / VA
24,"Schmid, Charles Howard, Jr.",Arizona,AZ
25,"Schmidt, William Cecil, Jr.",Arizona,GA / AZ
26,"Sells, Tommy Lynn",Arizona,TX / CA / ID / OR / MO / NY / NV / IL / MA / A...
27,"Skillicorn, Dennis James",Arizona,MO / AZ
28,"Steelman, William Luther",Arizona,AZ / CA
29,"Stuard, James William",Arizona,AZ
...,...,...,...
38,"Brydges, Ralph Lionel",Arizona,Lazio
39,"Cassandra, Simone",Arizona,Lazio
40,"Dlamini, Bongani",Arizona,KwaZulu-Natal / Gauteng
41,"Dube, Sipho",Arizona,KwaZulu-Natal / Gauteng
42,"Duma, Sibusiso",Arizona,KwaZulu-Natal
43,"Egidi, Lionello",Arizona,Lazio
44,"Giugliano, Maurizio",Arizona,Lazio
45,"Magoso, Phillip Khehla",Arizona,KwaZulu-Natal
46,"Mfeka, Samuel Bongani",Arizona,KwaZulu-Natal
47,"Mpungose, Simon",Arizona,KwaZulu-Natal
48,"Msomi, Elifasi",Arizona,KwaZulu-Natal
49,"Msundwana, Mtimane",Arizona,KwaZulu-Natal
50,"Sandwene, Ntimane",Arizona,KwaZulu-Natal
51,"Serviatti, Cesare",Arizona,Lazio
52,"Sukude, Themba Anton",Arizona,KwaZulu-Natal
53,"Taki, Thozamile",Arizona,KwaZulu-Natal
54,"Thwala, Sipho",Arizona,KwaZulu-Natal
55,"Twala, Sipho",Arizona,KwaZulu-Natal
56,"Zikode, Mhlengwa Christopher",Arizona,KwaZulu-Natal
57,"Bush, Jason Eugene",Arizona,AZ / WA
58,"Carlson, Michael Jonathon",Arizona,AZ
59,"Gibson, Mose",Arizona,CA / AZ / LA / FL
60,"Hooper, Murray",Arizona,AZ / IL
61,"Roberts, Joseph Douglas",Arizona,AZ
62,"Khumalo, Vusimuzi Innocent",Arizona,KwaZulu-Natal
63,"Mthimkhulu, Ntokozo Skhumbuzo",Arizona,KwaZulu-Natal
64,"Crummel, James Lee",Arizona,AZ / CA
65,"Jones, Robert Glen",Arizona,AZ
66,"Yazzie, Orlando",Arizona,AZ / FL
67,"Martini, John",Arizona,NJ / AZ / PA